0Cy04HeC2ZjcKqpO.json
{
  "active": false,
  "connections": {
    "When clicking \"Test workflow\"": {
      "main": [
        [
          {
            "node": "基础数据",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "基础数据": {
      "main": [
        [
          {
            "node": "验证指令",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "验证指令": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "准备添加的",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "WB-n8n-add",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "node": "Code12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code6": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取条形码": {
      "main": [
        [
          {
            "node": "Code6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "WB-n8n-add2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "已经修改的数据2": {
      "main": [
        [
          {
            "node": "Code10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code10": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add": {
      "main": [
        [
          {
            "node": "已经添加的",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add2": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "准备添加的": {
      "main": [
        [
          {
            "node": "Add",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "已经添加的": {
      "main": [
        [
          {
            "node": "Add2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "读取图片": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qwen-VL-Plus 视觉问答": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "获取条形码",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "Qwen-VL-Plus 视觉问答",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WB-n8n-add2": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WB-n8n-add": {
      "main": [
        [
          {
            "node": "已经修改的数据2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code12": {
      "main": [
        [
          {
            "node": "产品卡列表",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "产品卡列表": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "WB-n8n-add",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "读取图片",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-08T16:28:49.867Z",
  "id": "0Cy04HeC2ZjcKqpO",
  "isArchived": false,
  "meta": null,
  "name": "WB04-创建商品卡",
  "nodes": [
    {
      "parameters": {},
      "id": "735313a2-133d-427c-bca1-1412812b7b30",
      "name": "When clicking \"Test workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -4288,
        640
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n    \"apiKey\": {\n        \"txt\": \"API-密钥\",\n        \"HeaderApiKey\": \"eyJhbGciOiJFUzI1NiIsImtpZCI6IjIwMjUwNTIwdjEiLCJ0eXAiOiJKV1QifQ.eyJlbnQiOjEsImV4cCI6MTc2NDg4MjQ4NCwiaWQiOiIwMTk3M2Y1OC1mNmQ2LTdiMDgtYmExYi00ZGJjYWI2MmExNGMiLCJpaWQiOjE1MDc4MzM4NSwib2lkIjo0MDg5NTQ0LCJzIjo3OTM0LCJzaWQiOiJlMTUxNTJkZS1lMjMwLTQ1N2QtOWUwMC1hMTFhYWRmNTZjOTAiLCJ0IjpmYWxzZSwidWlkIjoxNTA3ODMzODV9.34N6qRrBjBpMSlyFTu0dXuEyA8itC_frfa6JvP6InFu3MRuAXFhTMYWWgKuoJr6GW3HlDcZew_k6GTbOtFtDnw\",\n        \"data\": \"\"\n    },\n    \"campaign\": {\n        \"txt\": \"分享秘钥是否正常\",\n        \"url\": \"https://common-api.wildberries.ru/ping\",\n        \"data\": {}\n    },\n  \"WB-n8n\":\"D:/产品/本土/主推产品/WB/服装/模板/WB-n8n.xlsx\",\n  \"WB-n8n2\":\"D:/产品/本土/主推产品/WB/服装/模板/WB-n8n2.xlsx\",\n  \"WB-n8n3\":\"D:/产品/本土/主推产品/WB/服装/模板/WB-n8n.xlsx\",\n  \"WB-n8n4\":\"D:/产品/本土/主推产品/WB/服装/模板/WB-n8n2.xlsx\",\n    \"productList\": {\n        \"txt\": \"产品列表\",\n        \"url\": \"https://content-api.wildberries.ru/content/v2/get/cards/list\",\n        \"query\": {\n            \"sort\": [\n                {\n                    \"columnID\": 11,\n                    \"order\": \"desc\"\n                }\n            ],\n            \"filter\": {\n                \"search\": \"\",\n                \"paidOptions\": {},\n                \"subjectIDs\": [\n                    192\n                ]\n            },\n            \"cursor\": {\n                \"n\": 20\n            }\n        },\n        \"data\": {}\n    }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4064,
        640
      ],
      "id": "5d4d2754-303e-444a-a26c-80059dd302d8",
      "name": "基础数据"
    },
    {
      "parameters": {
        "url": "={{ $json.campaign.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3856,
        640
      ],
      "id": "920d88c5-6962-464a-a906-d9b2769c668f",
      "name": "验证指令",
      "alwaysOutputData": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "Q1Z0EXSyJn6ojM4C",
          "name": "WB04"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f0d87aae-2fca-4b37-8394-eaf7ac14fece",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "OK",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3632,
        640
      ],
      "id": "cc28a057-28a6-4c85-bbd8-c8507d126316",
      "name": "If2"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst array1 = $input.all()\nconst array2 = $('Add').all() //准备添加的数据\n\n\nconst removeSet = {};\nfor (const item of array1) {\n    removeSet[item.json.SKU] = true;\n}\n\n// 创建过滤后的数组\nconst filteredArray = [];\nfor (const item of array2) {\n    if (!removeSet[item.json.SKU]) {\n        filteredArray.push(item);\n    }\n}\n\nreturn filteredArray;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2368,
        640
      ],
      "id": "07218456-8cc4-4ea7-9748-d610bc04ec21",
      "name": "Code1",
      "executeOnce": false,
      "alwaysOutputData": true,
      "notes": "过滤已经添加的数据"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://content-api.wildberries.ru/content/v2/cards/upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[{{ $json.toJsonString() }}]",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        592,
        704
      ],
      "id": "14bd2e2b-4f18-4a81-9519-0324b5e6f051",
      "name": "HTTP Request2",
      "retryOnFail": false,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "## 添加商品卡\n",
        "height": 500,
        "width": 3860
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1744,
        608
      ],
      "id": "aac02c1b-d19d-40e0-b691-c580ebad8415",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1664,
        656
      ],
      "id": "dd2133d8-99b7-4a63-834d-c807487be5fd",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n\nconst data= [\n    {\n        \"subjectID\": 192,\n        \"variants\": [\n            {\n                \"vendorCode\": $('Loop Over Items2').first().json.SKU,\n                \"title\": $('AI Agent').first().json.output,\n                \"description\": \"Футболка с круглым вырезом и коротким рукавом изготовлена из 100% хлопкового трикотажа полотняного переплетения, обеспечивая комфорт и долговечность. Дышащая и гипоаллергенная ткань создает идеальный силуэт в унисекс-стиле.\\nТехнология термопечати открывает безграничные возможности для дизайна принтов. Каждая футболка становится носимым холстом для искусства — от абстрактных линий до культовых образов, превращая базовую модель в инструмент самовыражения.\\nПремиальный хлопок гарантирует износостойкость: принты сохраняют яркость после многократных стирок. Универсальный крой и яркий принт делают её ключевым элементом гардероба, позволяя создавать модные образы с джинсами, шортами или юбками.\\nПодходит для любого сезона и повода: повседневная носка, спорт или отдых. Идеальный подарок подросткам и взрослым на День рождения, 14 февраля, 23 февраля, 8 Марта и Новый год.\\nРазмеры: S-4XL\\nКак выбрать:\\n\\nИзмерьте ширину груди любимой футболки\\nСм. таблицу размеров в галерее\\nДля oversize эффекта берите на размер больше\\n\\nВнимание: Цвет принта на экране может незначительно отличаться от реального.\\nУход:\\n\\nСтирка при ≤30°C, цветным порошком\\nОтжим на низких оборотах\\nНе отбеливать, не химчистить, не сушить в машине\\nГладить с изнанки на низкой температуре\",\n                \"dimensions\": {\n                    \"width\": 25,\n                    \"height\": 2,\n                    \"length\": 35,\n                    \"weightBrutto\": 0.22\n                },\n                \"characteristics\": [\n                    {\n                        \"id\": 14177449,\n                        \"name\": \"颜色\",\n                        \"value\": [\n                          $('Loop Over Items2').first().json.color\n                        ]\n                    },\n                    {\n                        \"id\": 15000001,\n                        \"name\": \"FEACN\",\n                        \"value\": [\n                            \"6110309100\"\n                        ]\n                    }\n                ],\n                \"sizes\": [\n                    {\n                        \"techSize\": \"S\",\n                        \"wbSize\": \"44\",\n                        \"skus\": [\n                            $input.first().json.data[0]                        \n                        ],\n                        \"price\": 300\n                    },\n                    {\n                        \"techSize\": \"M\",\n                        \"wbSize\": \"46\",\n                        \"skus\": [\n                              $input.first().json.data[1]\n                        ],\n                        \"price\": 300\n                    },\n                    {\n                        \"techSize\": \"L\",\n                        \"wbSize\": \"48\",\n                        \"skus\": [\n                              $input.first().json.data[2] \n                        ],\n                        \"price\": 300\n                    },\n                    {\n                        \"techSize\": \"XL\",\n                        \"wbSize\": \"50\",\n                        \"skus\": [\n                             $input.first().json.data[3]\n                        ],\n                        \"price\": 300\n                    },\n                    {\n                        \"techSize\": \"2XL\",\n                        \"wbSize\": \"52\",\n                        \"skus\": [\n                             $input.first().json.data[4]\n                        ],\n                        \"price\": 300\n                    },\n                    {\n                        \"chrtID\": 701150258,\n                        \"techSize\": \"3XL\",\n                        \"wbSize\": \"54\",\n                        \"skus\": [\n                             $input.first().json.data[5]\n                        ],\n                        \"price\": 300\n                    },\n                    {\n                        \"techSize\": \"4XL\",\n                        \"wbSize\": \"56\",\n                        \"skus\": [\n                             $input.first().json.data[6]\n                        ],\n                        \"price\": 300\n                    }\n                ],\n        \t\t\"sizeChartID\": \"74168\"\n            }\n        ]\n    }\n]\n\n\nreturn data;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        704
      ],
      "id": "f2448545-e7ef-4c6a-bd17-7ad6b678e84e",
      "name": "Code6"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://content-api.wildberries.ru/content/v2/barcodes",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"count\": 7\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        192,
        704
      ],
      "id": "6c1cbacd-ceb4-4157-bd56-f11bc34db1d4",
      "name": "获取条形码",
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1872,
        704
      ],
      "id": "efe989f5-d86f-400c-9bdd-93e1ec042925",
      "name": "Wait",
      "webhookId": "86892516-c2fe-4c6a-a1af-227c569caa64"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1392,
        704
      ],
      "id": "9d8f36f5-e2f7-4790-ac22-d1890a8b05cc",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        992,
        704
      ],
      "id": "693d9cf8-dff1-46a3-9f12-16f8fdf73088",
      "name": "已经修改的数据2",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": " \nconst skuID=  [\n { SKU: $('Loop Over Items2').first().json.SKU,\n  \"color\":$('Loop Over Items2').first().json.color}\n  \n];\n// 获取前序节点的数据\nconst inputData = [];\nfor (const element of $input.all()) {\n  inputData.push(element.json)\n}\n \n// 合并对象\nconst mergedObj = [...inputData, ...skuID];\n\nconsole.log(mergedObj)\n// 返回合并后的对象\nreturn mergedObj;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        704
      ],
      "id": "87194ee8-c28c-4590-af6f-7171e11e89ae",
      "name": "Code10"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -3184,
        640
      ],
      "id": "6bb8f213-5691-4fc1-b2e6-8f7bfd5bc4c1",
      "name": "Add",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -2608,
        640
      ],
      "id": "84379431-99a0-4d78-a701-1fa94c879bb2",
      "name": "Add2",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "fileSelector": "=D:/WB/WB-n8n-add.xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -3408,
        640
      ],
      "id": "0fea153f-090e-4596-bd4f-bf7a2b93e826",
      "name": "准备添加的",
      "executeOnce": true,
      "alwaysOutputData": true,
      "notesInFlow": true,
      "notes": "WB-n8n-add.xlsx"
    },
    {
      "parameters": {
        "fileSelector": "=D:/WB/WB-n8n-add2.xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -2896,
        640
      ],
      "id": "82f2cc65-8c53-480c-b971-282f1205024f",
      "name": "已经添加的",
      "executeOnce": true,
      "alwaysOutputData": true,
      "notesInFlow": true,
      "notes": "WB-n8n-add2.xlsx"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "527b7177-a62f-44d3-a2d8-dca991b476e1",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2144,
        640
      ],
      "id": "86866f8c-554a-48e0-a23d-5f5ce65a1604",
      "name": "If"
    },
    {
      "parameters": {
        "fileSelector": "=D:/WB/image/{{ $('Loop Over Items2').item.json.SKU }}.png",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -848,
        1248
      ],
      "id": "c5f83259-b09a-444d-ad2e-ed7e45cecd50",
      "name": "读取图片",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dashscope.aliyuncs.com/compatible-mode/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer sk-5b4a20c638064a11af987b370268149e"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.qwenRequest.toJsonString() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -304,
        1216
      ],
      "id": "7f685fde-adef-4270-bf6c-f1c8efafb0fc",
      "name": "Qwen-VL-Plus 视觉问答"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=指令：\n根据以下图片分析，生成一个俄语商品标题。\n分析结果： {{ $json.choices[0].message.content }}\n标题要求：\n1.以“Футболка с принтом”开头。\n2.总字符数含空格严格在48字符内,不包含符号（.\"\" :）。\n3.只描述印花风格和主题，内容精简。\n4.输出仅为最终标题。",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -112,
        1200
      ],
      "id": "f53808a8-9955-4a98-aa85-bfe601408e71",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        -96,
        1376
      ],
      "id": "48263013-82de-4ca1-863d-474bc1388273",
      "name": "DeepSeek Chat Model"
    },
    {
      "parameters": {
        "jsCode": " \n// 从上一个节点获取二进制图片数据\nconst imageBinary =$input.first().binary.data;\n\nif (!imageBinary) {\n  throw new Error(\"没有获取到图片数据，请检查上一个节点的配置\");\n}\n\n// 获取图片MIME类型\nconst mimeType = imageBinary.mimeType || 'image/jpeg';\n// 将二进制数据转换为Base64\nconst base64Image = imageBinary.data.toString('base64'); \n\n\n\n\n// 创建符合Qwen API要求的请求体\nconst requestBody ={\n  \"model\": \"qwen-vl-plus\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": `data:${mimeType};base64,${base64Image}`\n          }\n        },\n        {\n          \"type\": \"text\",\n          \"text\": \"请用一句话描述这张T恤印花的核心要素：1.图案是什么？（主体）。1.是什么风格？（风格）。2.看起来怎么样？（氛围/感觉）。请用中文直接回答，无需客套话。\"\n        }\n      ]\n    }\n  ]\n};\n\nreturn {\n  json: {\n    qwenRequest: requestBody,\n    imageMimeType: mimeType\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        1216
      ],
      "id": "e80443cf-3811-4b8f-98ca-58ba8eb74cfc",
      "name": "Code4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "da966847-99ab-449d-83a5-45eed8f3aeaa",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -672,
        1248
      ],
      "id": "fb537504-b366-4a2c-8f6e-5ba235d0bd93",
      "name": "If5",
      "notes": "判断是否有图片"
    },
    {
      "parameters": {
        "content": "## 根据图片生成标题\n",
        "height": 400,
        "width": 1280
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -992,
        1120
      ],
      "id": "643db3ad-9d79-4bc5-99a4-108ab5ddc33d",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "D:/WB/WB-n8n-add2.xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1632,
        704
      ],
      "id": "22fb1b38-78b7-4928-91c0-c3d2551739a6",
      "name": "WB-n8n-add2"
    },
    {
      "parameters": {
        "fileSelector": "=D:/WB/WB-n8n-add2.xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        784,
        704
      ],
      "id": "e11bf0c6-359d-4e24-9f26-92daa9400dad",
      "name": "WB-n8n-add"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://content-api.wildberries.ru/content/v2/get/cards/list",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "locale",
              "value": "zh"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.toJsonString() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1344,
        1216
      ],
      "id": "25790a1c-b43e-463f-a661-77d015b2f850",
      "name": "产品卡列表",
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst data = {\n  \"settings\": {\n    \"sort\": {\n      \"ascending\": false\n    },\n    \"filter\": {  \n      \"textSearch\": $input.first().json.SKU,\n      \"withPhoto\": 0\n    },\n    \"cursor\": {   \n      \"limit\": 100\n    }\n  }\n}\n\nreturn data;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1536,
        1216
      ],
      "id": "f348a367-d6bf-40d7-9cee-2ad43f6b2307",
      "name": "Code12"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "08a443b0-25e5-421e-81a7-ed5d4190567f",
              "leftValue": "={{ $json.cursor.total }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1168,
        1216
      ],
      "id": "3b0333cc-8458-4186-b6b2-efc8944ef88f",
      "name": "If1"
    },
    {
      "parameters": {
        "content": "## 查重复\n",
        "height": 320,
        "width": 580
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1584,
        1168
      ],
      "id": "97b02e2a-8ff1-4ae1-b122-987d8f778d03",
      "name": "Sticky Note3"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "280279472",
    "name": "n8n-backups"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-08T16:28:49.881Z",
      "updatedAt": "2025-10-08T16:28:49.881Z",
      "role": "workflow:owner",
      "workflowId": "0Cy04HeC2ZjcKqpO",
      "projectId": "xHmqnCOXuqzbutmT"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-08T16:37:29.000Z",
  "versionId": "31330ddb-1a60-42a5-bfec-9e5b56ccd215"
}