workflows/backup-workflows-to-git-repository.json
{
  "createdAt": "2025-10-09T14:10:52.629Z",
  "updatedAt": "2025-10-09T14:11:42.000Z",
  "id": "TmurSbDJPcvCqnyu",
  "name": "Backup workflows to git repository",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "bc0472f9-d748-4743-b72f-bc7d6b91ec5b",
      "name": "GitHub",
      "type": "n8n-nodes-base.github",
      "position": [
        1104,
        -144
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "webhookId": "c17bcc05-9373-4f50-84ff-006a53b296c5",
      "credentials": {
        "githubApi": {
          "id": "pEyUlC4vwN00Fi4a",
          "name": "GitHub account 2"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "repo.owner",
              "value": "280279472"
            },
            {
              "name": "repo.name",
              "value": "n8n-backups"
            },
            {
              "name": "repo.path",
              "value": "workflows/"
            }
          ]
        },
        "options": {}
      },
      "id": "5601e3c9-ceef-497d-ba86-b34586dc9763",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "position": [
        400,
        -224
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "c3e3c9ec-7977-4639-871c-08b3780832e6",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        640,
        -224
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "FXaHUhmXl9CwP6Ok",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "4890807c-a1bf-411a-99bf-53dd375e5eb6",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        848,
        -224
      ],
      "executeOnce": false,
      "typeVersion": 3
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "16a9182d-059d-4774-ba95-654fb4293fdb",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              },
              "leftValue": "={{ $json.error }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "cb5d6b75-039a-4c5e-8ff8-cfd1a35d50cc",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        1296,
        -144
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "e0c66624-429a-4f1f-bf7b-1cc1b32bad7b",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              },
              "leftValue": "={{ $json.content }}",
              "rightValue": "={{ $('Loop Over Items').item.json.toJsonString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2c6d0b37-03c2-4a7d-9f2e-5bbe854c7217",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "position": [
        2176,
        128
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "jsCode": "let items = $input.all()\n\nfor (item of items) {\n    item.json.content = Buffer.from(item.json.content, 'base64').toString('utf8')\n}\n\nreturn items;\n"
      },
      "id": "587aec49-b0ba-42fe-933f-26d61147156c",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "position": [
        1856,
        -176
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "resource": "file",
        "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json",
        "fileContent": "={{ $('Loop Over Items').item.json.toJsonString()  }}",
        "commitMessage": "=[N8N Backup] {{ $('Loop Over Items').item.json.name }}.json"
      },
      "id": "f9e42f89-1b39-4a64-9928-daf5e92b012e",
      "name": "Create new file and commit",
      "type": "n8n-nodes-base.github",
      "position": [
        1488,
        16
      ],
      "typeVersion": 1,
      "webhookId": "4ddf1e23-2ee6-476d-b6a7-e95d63e89faa",
      "credentials": {
        "githubApi": {
          "id": "pEyUlC4vwN00Fi4a",
          "name": "GitHub account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json",
        "fileContent": "={{ $('Loop Over Items').item.json.toJsonString()  }}",
        "commitMessage": "=[N8N Backup] {{ $('Loop Over Items').item.json.name }}.json"
      },
      "id": "579c67f2-9d4f-4fd1-9830-676334b0d926",
      "name": "Update file content and commit",
      "type": "n8n-nodes-base.github",
      "position": [
        2544,
        336
      ],
      "typeVersion": 1,
      "webhookId": "ca4d2ca1-27a7-4c6e-ad3c-c03756647d14",
      "credentials": {
        "githubApi": {
          "id": "pEyUlC4vwN00Fi4a",
          "name": "GitHub account 2"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "68d54877-48df-4d2e-853e-1645857c457a",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        176,
        -224
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "工作流程变更已提交至仓库",
        "height": 80
      },
      "id": "8bae4996-2c97-48ff-9e88-1852c567aab6",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2704,
        352
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "检查工作流程是否有任何变化",
        "height": 80
      },
      "id": "6bd6dea5-482a-47ca-aaf5-e77cfe4e3874",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2320,
        128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "为工作流程创建新文件",
        "height": 80
      },
      "id": "745b9328-1a2f-420b-804a-fc841c758e9f",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1600,
        32
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "检查文件是否存在于存储库中",
        "height": 80
      },
      "id": "c9932368-022c-49dc-b5f7-52ed263ce99f",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1296,
        -256
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "将文件内容转换为JSON字符串",
        "height": 80
      },
      "id": "0be2308c-a2b1-4076-a734-be1ceb412864",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1808,
        -272
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Get all workflows",
        "height": 80
      },
      "id": "6f9b1dd4-bcd5-4310-bb11-2a847c572d14",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        576,
        -336
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Set variables",
        "height": 80
      },
      "id": "ebdec771-6a82-45cf-ab02-e79116c2d97b",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        320,
        -96
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create new file and commit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Update file content and commit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create new file and commit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update file content and commit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "90f45055-4eb1-4bd8-adfd-ee18d90b8ec7",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-10-09T14:10:52.648Z",
      "updatedAt": "2025-10-09T14:10:52.648Z",
      "role": "workflow:owner",
      "workflowId": "TmurSbDJPcvCqnyu",
      "projectId": "xHmqnCOXuqzbutmT"
    }
  ],
  "tags": []
}