workflows/Backup workflows to git repository.json
{"createdAt":"2025-10-09T08:26:47.891Z","updatedAt":"2025-10-09T08:32:22.000Z","id":"6erLh6exOZCZbFW3","name":"Backup workflows to git repository","active":false,"isArchived":false,"nodes":[{"parameters":{"resource":"file","operation":"get","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"dc78f23e-5cdd-4d9d-beb1-c467141a7ad9","name":"GitHub","type":"n8n-nodes-base.github","position":[528,192],"typeVersion":1,"alwaysOutputData":true,"webhookId":"c17bcc05-9373-4f50-84ff-006a53b296c5","credentials":{"githubApi":{"id":"wlhK17QzdxlC52jx","name":"GitHub account"}},"continueOnFail":true},{"parameters":{"values":{"string":[{"name":"repo.owner","value":"280279472"},{"name":"repo.name","value":"n8n-backups"},{"name":"repo.path","value":"workflows/"}]},"options":{}},"id":"876ebb2f-ecfd-4e3b-ba06-0ad207f5db5a","name":"Globals","type":"n8n-nodes-base.set","position":[-176,112],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"c06fc196-036e-4363-b061-104f41e2fe4b","name":"n8n","type":"n8n-nodes-base.n8n","position":[64,112],"typeVersion":1,"credentials":{"n8nApi":{"id":"bANjnUO81qYXIjiU","name":"n8n account"}}},{"parameters":{"options":{}},"id":"11b25d64-4eef-46a8-a612-55466adcfdc8","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[272,112],"executeOnce":false,"typeVersion":3},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"16a9182d-059d-4774-ba95-654fb4293fdb","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}]},"options":{}},"id":"eec5fb29-edaa-4256-871a-5c500e578742","name":"If","type":"n8n-nodes-base.if","position":[720,192],"typeVersion":2.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"e0c66624-429a-4f1f-bf7b-1cc1b32bad7b","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json.content }}","rightValue":"={{ $('Loop Over Items').item.json.toJsonString() }}"}]},"options":{}},"id":"22729cfe-1bff-4253-9b4f-cfa5afacf5c0","name":"If1","type":"n8n-nodes-base.if","position":[1600,464],"typeVersion":2.2},{"parameters":{"jsCode":"let items = $input.all()\n\nfor (item of items) {\n    item.json.content = Buffer.from(item.json.content, 'base64').toString('utf8')\n}\n\nreturn items;\n"},"id":"f9ae529d-364e-4e7d-9537-83b3cc1c4add","name":"Code","type":"n8n-nodes-base.code","position":[1280,160],"typeVersion":2},{"parameters":{"resource":"file","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json","fileContent":"={{ $('Loop Over Items').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('Loop Over Items').item.json.name }}.json"},"id":"bc637be5-dc20-44e3-83af-98bea8bec0f8","name":"Create new file and commit","type":"n8n-nodes-base.github","position":[912,352],"typeVersion":1,"webhookId":"4ddf1e23-2ee6-476d-b6a7-e95d63e89faa","credentials":{"githubApi":{"id":"wlhK17QzdxlC52jx","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json","fileContent":"={{ $('Loop Over Items').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('Loop Over Items').item.json.name }}.json"},"id":"2b0d6ec4-186d-48b6-aad8-13c3d9a37e87","name":"Update file content and commit","type":"n8n-nodes-base.github","position":[1968,672],"typeVersion":1,"webhookId":"ca4d2ca1-27a7-4c6e-ad3c-c03756647d14","credentials":{"githubApi":{"id":"wlhK17QzdxlC52jx","name":"GitHub account"}}},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"id":"4127127e-a4dd-450c-a380-808522190cff","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-400,112],"typeVersion":1.2},{"parameters":{"content":"工作流程变更已提交至仓库","height":80},"id":"7a538b4e-2b21-41df-90b2-d464de0fcd99","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[2128,688],"typeVersion":1},{"parameters":{"content":"检查工作流程是否有任何变化","height":80},"id":"d1e8edfe-e32c-48c9-8e1b-46ff31695968","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[1744,464],"typeVersion":1},{"parameters":{"content":"为工作流程创建新文件","height":80},"id":"e20b3696-4b95-4a2e-acdd-c42c375dc538","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[1024,368],"typeVersion":1},{"parameters":{"content":"检查文件是否存在于存储库中","height":80},"id":"1aadc121-e2ea-48f4-9eed-44583e3c4209","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[720,80],"typeVersion":1},{"parameters":{"content":"将文件内容转换为JSON字符串","height":80},"id":"1644b31f-5398-4236-9253-fc3c7474f4ea","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[1232,64],"typeVersion":1},{"parameters":{"content":"Get all workflows","height":80},"id":"8cade953-4747-4d0d-8f78-29db95753b5c","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"content":"Set variables","height":80},"id":"d95c5a0a-fd03-4327-9d01-ceeaa04eadb4","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[-256,240],"typeVersion":1}],"connections":{"If":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Create new file and commit","type":"main","index":0}]]},"If1":{"main":[[{"node":"Update file content and commit","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code":{"main":[[{"node":"If1","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"If","type":"main","index":0}]]},"Globals":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"GitHub","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Globals","type":"main","index":0}]]},"Create new file and commit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Update file content and commit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"bdf55e67-d1b4-4662-a667-3b67203d04db","triggerCount":0,"shared":[{"createdAt":"2025-10-09T08:26:47.895Z","updatedAt":"2025-10-09T08:26:47.895Z","role":"workflow:owner","workflowId":"6erLh6exOZCZbFW3","projectId":"EZ8bcuL9uFigLvTh"}],"tags":[]}