workflows/backup-workflows-to-git-repository.json
{
  "createdAt": "2025-10-08T16:57:37.578Z",
  "updatedAt": "2025-10-08T17:39:11.000Z",
  "id": "Emg62AfRnXvEc8lm",
  "name": "Backup workflows to git repository",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "812ee5ec-54bf-4f50-a144-01045b2fa85b",
      "name": "GitHub",
      "type": "n8n-nodes-base.github",
      "position": [
        176,
        464
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "webhookId": "c17bcc05-9373-4f50-84ff-006a53b296c5",
      "credentials": {
        "githubApi": {
          "id": "pEyUlC4vwN00Fi4a",
          "name": "GitHub account 2"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "repo.owner",
              "value": "280279472"
            },
            {
              "name": "repo.name",
              "value": "n8n-backups"
            },
            {
              "name": "repo.path",
              "value": "workflows/"
            }
          ]
        },
        "options": {}
      },
      "id": "636dc73b-265d-445a-97c1-6e6ceb480e01",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "position": [
        -528,
        384
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "6330295d-b8eb-4702-990d-ebee55733e8f",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        -288,
        384
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "FXaHUhmXl9CwP6Ok",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "94d65531-8062-4f1f-9b59-d88c9ed867d9",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        -80,
        384
      ],
      "executeOnce": false,
      "typeVersion": 3
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "16a9182d-059d-4774-ba95-654fb4293fdb",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              },
              "leftValue": "={{ $json.error }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "f735e680-b54d-442c-8c0b-d7db6fc07d5b",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        368,
        464
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "e0c66624-429a-4f1f-bf7b-1cc1b32bad7b",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              },
              "leftValue": "={{ $json.content }}",
              "rightValue": "={{ $('Loop Over Items').item.json.toJsonString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7be688cc-5ef2-4027-8eb2-25488fead226",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "position": [
        1248,
        736
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "jsCode": "let items = $input.all()\n\nfor (item of items) {\n    item.json.content = Buffer.from(item.json.content, 'base64').toString('utf8')\n}\n\nreturn items;\n"
      },
      "id": "231e2201-4136-4712-bb51-7c5ffaf19b37",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "position": [
        928,
        432
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "resource": "file",
        "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json",
        "fileContent": "={{ $('Loop Over Items').item.json.toJsonString()  }}",
        "commitMessage": "=[N8N Backup] {{ $('Loop Over Items').item.json.name }}.json"
      },
      "id": "422aea4d-2ec1-4bba-a641-d791cdf43d42",
      "name": "Create new file and commit",
      "type": "n8n-nodes-base.github",
      "position": [
        560,
        624
      ],
      "typeVersion": 1,
      "webhookId": "4ddf1e23-2ee6-476d-b6a7-e95d63e89faa",
      "credentials": {
        "githubApi": {
          "id": "pEyUlC4vwN00Fi4a",
          "name": "GitHub account 2"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "edit",
        "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json",
        "fileContent": "={{ $('Loop Over Items').item.json.toJsonString()  }}",
        "commitMessage": "=[N8N Backup] {{ $('Loop Over Items').item.json.name }}.json"
      },
      "id": "d1eaea9b-6654-4213-be79-14af561ab743",
      "name": "Update file content and commit",
      "type": "n8n-nodes-base.github",
      "position": [
        1616,
        944
      ],
      "typeVersion": 1,
      "webhookId": "ca4d2ca1-27a7-4c6e-ad3c-c03756647d14",
      "credentials": {
        "githubOAuth2Api": {
          "id": "EAaPqiVyXgIs8Gv1",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "b6376590-6875-4c2c-8fe3-b228392adf67",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -752,
        384
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "工作流程变更已提交至仓库",
        "height": 80
      },
      "id": "17511afa-c5b0-42a0-b2c8-bec7d82b3eaa",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1776,
        960
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "检查工作流程是否有任何变化",
        "height": 80
      },
      "id": "cbdf96a1-86c0-4007-833e-c25e82e65277",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1392,
        736
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "为工作流程创建新文件",
        "height": 80
      },
      "id": "8dda41c8-bd6e-4413-a8a4-1024bcaaf839",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        672,
        640
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "检查文件是否存在于存储库中",
        "height": 80
      },
      "id": "7c73953c-8262-4b0e-a022-b264c0d36a05",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        352
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "将文件内容转换为JSON字符串",
        "height": 80
      },
      "id": "2132a809-1c5b-4c6a-bf6d-d397956d28a7",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        880,
        336
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Get all workflows",
        "height": 80
      },
      "id": "cdf3e141-2c7a-469f-a5f2-102d10e386d2",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -352,
        272
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Set variables",
        "height": 80
      },
      "id": "1e2fabb5-228a-475a-b957-6afa71b525eb",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -608,
        512
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create new file and commit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Update file content and commit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create new file and commit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update file content and commit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "0d01ff02-ace3-44d3-a5e1-730195da61f6",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-10-08T16:57:37.587Z",
      "updatedAt": "2025-10-08T16:57:37.587Z",
      "role": "workflow:owner",
      "workflowId": "Emg62AfRnXvEc8lm",
      "projectId": "xHmqnCOXuqzbutmT"
    }
  ],
  "tags": []
}