workflows/My workflow 2.json
{"createdAt":"2025-07-31T09:35:37.434Z","updatedAt":"2025-07-31T09:52:53.000Z","id":"dULJrn1mRuDEttwo","name":"My workflow 2","active":false,"isArchived":true,"nodes":[{"parameters":{"filePath":"/data/output.txt"},"name":"读取文件","type":"n8n-nodes-base.readBinaryFile","typeVersion":1,"position":[1240,-200],"id":"99143655-c1dc-4c52-bf23-8eafb8730ebf"},{"parameters":{"functionCode":"// 将二进制数据转换为文本\nconst content = $json.fileContent.toString('utf8');\n\nreturn [{\n  json: {\n    originalText: $input.item.json.text,\n    fileContent: content,\n    filePath: $node[\"读取文件\"].parameters.filePath\n  }\n}];"},"name":"解析文本","type":"n8n-nodes-base.function","typeVersion":1,"position":[1440,-200],"id":"a8fe0ee2-5b26-4681-b03d-54cf9c63325b"},{"parameters":{},"name":"调试输出","type":"n8n-nodes-base.debugHelper","typeVersion":1,"position":[1640,-200],"id":"ffaa8ba3-7058-4e3b-bf1a-8372d31ca0f4"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[680,-200],"id":"a428199f-2882-4179-89d7-b6aa04aa66f2","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"toJson","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[900,-200],"id":"eabc06ed-ae19-4351-bb18-cb597fabe0f2","name":"Convert to File"}],"connections":{"读取文件":{"main":[[{"node":"解析文本","type":"main","index":0}]]},"解析文本":{"main":[[{"node":"调试输出","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Convert to File","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"77a22053-17bb-45ff-b22b-f70b6da94a4a","triggerCount":0,"shared":[{"createdAt":"2025-07-31T09:35:37.441Z","updatedAt":"2025-07-31T09:35:37.441Z","role":"workflow:owner","workflowId":"dULJrn1mRuDEttwo","projectId":"EZ8bcuL9uFigLvTh"}],"tags":[]}