workflows/My workflow 4.json
{"createdAt":"2025-10-09T08:25:17.407Z","updatedAt":"2025-10-09T08:26:07.000Z","id":"rfZqRvT2TlKswZhc","name":"My workflow 4","active":false,"isArchived":true,"nodes":[{"parameters":{"resource":"file","operation":"get","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"be0c8d62-fd74-45a9-be33-6208b9f229ea","name":"GitHub","type":"n8n-nodes-base.github","position":[352,-16],"typeVersion":1,"alwaysOutputData":true,"webhookId":"c17bcc05-9373-4f50-84ff-006a53b296c5","continueOnFail":true},{"parameters":{"values":{"string":[{"name":"repo.owner","value":"280279472"},{"name":"repo.name","value":"n8n-backups"},{"name":"repo.path","value":"workflows/"}]},"options":{}},"id":"e9074cd4-d7d0-4521-ae6f-7d4ab0a31f9d","name":"Globals","type":"n8n-nodes-base.set","position":[-352,-96],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"54c3b91b-6d50-482b-b922-8c9e4b5fb0ce","name":"n8n","type":"n8n-nodes-base.n8n","position":[-112,-96],"typeVersion":1},{"parameters":{"options":{}},"id":"5583c452-e703-46eb-97ee-f15ef221eba7","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[96,-96],"executeOnce":false,"typeVersion":3},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"16a9182d-059d-4774-ba95-654fb4293fdb","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}]},"options":{}},"id":"8d03f723-8068-4648-b174-3e083ec8100e","name":"If","type":"n8n-nodes-base.if","position":[544,-16],"typeVersion":2.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"e0c66624-429a-4f1f-bf7b-1cc1b32bad7b","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json.content }}","rightValue":"={{ $('Loop Over Items').item.json.toJsonString() }}"}]},"options":{}},"id":"30bd16b9-9ec7-490d-bb06-cb6b01ab3422","name":"If1","type":"n8n-nodes-base.if","position":[1424,256],"typeVersion":2.2},{"parameters":{"jsCode":"let items = $input.all()\n\nfor (item of items) {\n    item.json.content = Buffer.from(item.json.content, 'base64').toString('utf8')\n}\n\nreturn items;\n"},"id":"70afba01-dd26-4fe6-a8db-262527ac4c3f","name":"Code","type":"n8n-nodes-base.code","position":[1104,-48],"typeVersion":2},{"parameters":{"resource":"file","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json","fileContent":"={{ $('Loop Over Items').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('Loop Over Items').item.json.name }}.json"},"id":"51a78939-51a2-40c0-b4f6-be49faae1fe5","name":"Create new file and commit","type":"n8n-nodes-base.github","position":[736,144],"typeVersion":1,"webhookId":"4ddf1e23-2ee6-476d-b6a7-e95d63e89faa"},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json","fileContent":"={{ $('Loop Over Items').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('Loop Over Items').item.json.name }}.json"},"id":"c98c7aa5-617a-4745-942c-1eed57d8cac1","name":"Update file content and commit","type":"n8n-nodes-base.github","position":[1792,464],"typeVersion":1,"webhookId":"ca4d2ca1-27a7-4c6e-ad3c-c03756647d14"},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"id":"56b492c8-1493-4913-a0de-ca7c0c95b09f","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-576,-96],"typeVersion":1.2},{"parameters":{"content":"工作流程变更已提交至仓库","height":80},"id":"2ddee2f7-6020-4ab1-987c-e71d7b17b568","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[1952,480],"typeVersion":1},{"parameters":{"content":"检查工作流程是否有任何变化","height":80},"id":"0adff0bb-eddc-4eb2-b7c3-16c5ed3ce32f","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[1568,256],"typeVersion":1},{"parameters":{"content":"为工作流程创建新文件","height":80},"id":"5cf07b9a-f6c9-4805-ba8d-8a19e22d7319","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[848,160],"typeVersion":1},{"parameters":{"content":"检查文件是否存在于存储库中","height":80},"id":"663fea37-b7f3-46f5-9fed-f9957ce966aa","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[544,-128],"typeVersion":1},{"parameters":{"content":"将文件内容转换为JSON字符串","height":80},"id":"7f059d01-bfdd-4cf7-ba80-cae9f4d040db","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[1056,-144],"typeVersion":1},{"parameters":{"content":"Get all workflows","height":80},"id":"6c01c8d0-62eb-4eb2-8674-d1079aea0338","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[-176,-208],"typeVersion":1},{"parameters":{"content":"Set variables","height":80},"id":"7b892a89-2c58-47f5-a2ec-ec0ab731737e","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[-432,32],"typeVersion":1}],"connections":{"If":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Create new file and commit","type":"main","index":0}]]},"If1":{"main":[[{"node":"Update file content and commit","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code":{"main":[[{"node":"If1","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"If","type":"main","index":0}]]},"Globals":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"GitHub","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Globals","type":"main","index":0}]]},"Create new file and commit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Update file content and commit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"4147d72f-c0c9-47a0-b560-6e7b4131b2f8","triggerCount":0,"shared":[{"createdAt":"2025-10-09T08:25:17.413Z","updatedAt":"2025-10-09T08:25:17.413Z","role":"workflow:owner","workflowId":"rfZqRvT2TlKswZhc","projectId":"EZ8bcuL9uFigLvTh"}],"tags":[]}