workflows/My workflow 3.json
{"createdAt":"2025-07-31T10:00:02.612Z","updatedAt":"2025-09-19T10:10:34.000Z","id":"pvlw5AfZKVeBsg6E","name":"My workflow 3","active":false,"isArchived":true,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"764176d6-3c89-404d-9c71-301e8a406a68","name":"token","type":"string","value":"={{ $json.access_token }}"}]},"options":{}},"id":"0e3c922a-54cf-4842-934a-9aedc0d67fba","name":"Add table name to output","type":"n8n-nodes-base.set","position":[900,1245],"typeVersion":3.4},{"parameters":{"operation":"toJson","binaryPropertyName":"=token","options":{}},"id":"c8fb59e1-3d12-42f8-9553-917d53499414","name":"Convert data to binary","type":"n8n-nodes-base.convertToFile","position":[1120,1245],"typeVersion":1.1},{"parameters":{"operation":"write","fileName":"D:/Ozon_mysql.json","dataPropertyName":"token","options":{}},"id":"77f757bb-e0d5-40f7-a419-7be28b96326e","name":"Save file locally","type":"n8n-nodes-base.readWriteFile","position":[1340,1320],"typeVersion":1},{"parameters":{"content":"## 判断数据是否存在 \n* 读取json文件获取数据，没有文件就重新创建一个\n* 通过保存json文件来存储数据,\n* 每次执行的时候验证一下token是否存在存在就继续执行","height":466.4256045427794,"width":1065.0949045120822,"color":3},"id":"3f54a636-7352-47e9-b3ee-d3722aa360d3","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-792.5,914],"typeVersion":1},{"parameters":{},"id":"5ab377b5-3929-47f3-ba66-8f4a011f7047","name":"When clicking \"Test workflow\"","type":"n8n-nodes-base.manualTrigger","position":[-640,1220],"typeVersion":1},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0419f3ad-2175-4345-bf5d-f13e1d886202","leftValue":"={{ $json.data.toJsonString()}}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[240,1145],"id":"6b0308c4-c5b9-4fd8-bd37-66e44d664cab","name":"If","notesInFlow":true,"alwaysOutputData":false,"notes":"判断token是否存在"},{"parameters":{"fileSelector":"D:/Ozon_mysql.json","options":{}},"id":"4bf9bf2b-b426-489f-8ea6-93c113453b95","name":"读取json文件","type":"n8n-nodes-base.readWriteFile","position":[-200,1145],"typeVersion":1,"alwaysOutputData":true},{"parameters":{"operation":"fromJson","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[20,1145],"id":"17d7fac5-1ba1-4d92-9976-a156a8750be5","name":"文件转为json","alwaysOutputData":true},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"url\": \"https://api-performance.ozon.ru\",  \n  \"token\":{\n    \"txt\":\"获取token\",\n    \"url\":\"/api/client/token\",\n    \"query\":{\n      \"client_id\":\"77370763-1753670027387@advertising.performance.ozon.ru\", \n      \"client_secret\":\"oj5Zz2GuMX8YfX-R6Chq2wV4zDV-sM9FIOYPbtYYakglEh4AuyEt4BMOeKra06HJTjxvvY3LyEg_YymqTQ\", \n      \"grant_type\":\"client_credentials\"\n    },\n    \"data\":\"\"\n  },\n  \"campaign\":{\n    \"txt\":\"活动和推广对象\",\n    \"url\":\"/api/client/campaign\",\n    \"query\":{ \n        \"advObjectType\":\"SKU\",\n        \"state\":\"CAMPAIGN_STATE_UNKNOWN\"\n    },\n    \"data\":{}\n  },\n  \"dailyJson\":{\n    \"txt\":\"广告活动费用统计\",\n    \"url\":\"/api/client/statistics/daily/json\",\n    \"query\":{\n      \"dateFrom\":\"{{$now.toISODate()}}\",\n      \"dateTo\":\"{{$now.toISODate()}}\"\n      },\n    \"data\":{}\n  },\n  \"productJson\":{\n    \"txt\":\"广告活动费用统计,并不能返回当天数据\",\n    \"url\":\"/api/client/statistics/campaign/product/json\",\n    \"query\":{\n      \"dateFrom\":\"{{$now.plus({ days: -1 }).toISODate()}}\",\n      \"dateTo\":\"{{$now.plus({ days: -1 }).toISODate()}}\"\n      },\n    \"data\":{}\n  },\n  \"campaignDeactivate\":{\n    \"txt\":\"关闭广告\",\n    \"url\":\"/api/client/campaign/\",\n    \"url2\":\"/deactivate\",\n    \"query\":{\n      \"campaignId\": \"\"\n    },\n    \"data\":{}\n  },\n\"productData\":{\n    \"txt\":\"主卖产品SKU\",\n    \"data\":[\"BI5046702\",\"BI5046702\",\"BI5019901\",\"BI5019902\",\"BI5021001\",\"BI50208\",\"BI5018000\",\"BI50096\"]\n\n}\n}\n \n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-420,1220],"id":"8f2cfb71-9af2-4411-ae99-1f21513cb0b9","name":"基础数据"},{"parameters":{"method":"POST","url":"={{ $('基础数据').item.json.url }}{{ $('基础数据').item.json.token.url }}","sendBody":true,"specifyBody":"json","jsonBody":"={{ $('基础数据').item.json.token.query }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[680,1245],"id":"5bd5f3d9-3920-493c-8d3b-9e6b170a2292","name":"获取token","alwaysOutputData":false,"retryOnFail":false,"notesInFlow":true,"notes":"1"},{"parameters":{"url":"={{ $('基础数据').item.json.url }}{{ $('基础数据').item.json.campaign.url }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendQuery":true,"specifyQuery":"=json","queryParameters":{"parameters":[{}]},"jsonQuery":"={ \n\"advObjectType\":\"SKU\",\n\"state\":\"CAMPAIGN_STATE_UNKNOWN\"\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,1045],"id":"726bc28d-8ebd-4efc-979b-77519a314d11","name":"广告活动列表","alwaysOutputData":false,"credentials":{"httpBearerAuth":{"id":"xv6HVrS6eHqO2PcQ","name":"Bearer Auth account"}},"onError":"continueErrorOutput"},{"parameters":{"url":"={{ $('基础数据').item.json.url }}{{ $('基础数据').item.json.dailyJson.url }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"dateFrom","value":"2025-07-29"},{"name":"dateTo","value":"=2025-07-29"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-640,-480],"id":"a1f79012-40c5-423c-af9d-caa6158e52ff","name":"广告活动费用统计","notesInFlow":true,"notes":"不能获取当天数据"},{"parameters":{"method":"POST","url":"={{$('基础数据').item.json.url }}{{$('基础数据').item.json.productJson.url}}{{$json.id}}{{$('基础数据').item.json.productJson.url2 }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"campaignId","value":"={{ $json.id}}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-420,1580],"id":"1cd63788-25be-447b-af04-1ae8c8fed6a8","name":"关闭广告","credentials":{"httpBearerAuth":{"id":"xv6HVrS6eHqO2PcQ","name":"Bearer Auth account"}}},{"parameters":{},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[-640,560],"id":"34dd9193-0c28-4c95-9902-03da902b62ac","name":"HTML"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4b58378c-759f-4ff3-afca-5273e651a090","leftValue":"={{ $json.tokenData }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-640,-220],"id":"5acdabf2-d874-4040-897f-82ae32c93846","name":"If1"},{"parameters":{"assignments":{"assignments":[{"id":"b68b18e8-9faa-482d-9975-a568a0f27fed","name":"dailyJson.query.dateFrom","value":"={{$now.toISODate()}}","type":"string"},{"id":"ea0970ad-d9ac-46a8-8382-d37f0e2754a0","name":"dailyJson.query.dateTo","value":"={{$now.toISODate()}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-640,300],"id":"26b74bee-e787-49f6-b67f-9b000c1265bc","name":"Edit Fields"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n \n// let data ={\n//   top:[],\n//   click:[]\n// }\n   \n// for (const element of $input.first().json.list) {\n//   if (element.state.includes('CAMPAIGN_STATE_RUNNING')) {\n//     if(element.title.includes(\"TOP\")){\n//        data.top.push(element);\n//       }else{\n//         data.click.push(element);        \n//     }      \n//   }   \n// }\nlet data =[]\n   \nfor (const element of $input.first().json.list) {\n  if (element.state.includes('CAMPAIGN_STATE_RUNNING')) {\n    if(!element.title.includes(\"TOP\")){ \n        data.push(element);   \n    } \n  }   \n}\n\nreturn data"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[680,820],"id":"62347c0e-329a-4ed1-9d61-cb2accb74484","name":"区分TOP和模板"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-640,1655],"id":"789b227a-5b3b-45fc-862f-02971fa98432","name":"Loop Over Items"},{"parameters":{"jsCode":"\nconsole.log($input.first().json.id)\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-200,1655],"id":"d4a355a1-8d2a-403f-80aa-8298e6694979","name":"Code1"},{"parameters":{"rule":{"interval":[{"triggerAtHour":1,"triggerAtMinute":1}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-640,40],"id":"f1cb449b-3f09-4a37-a188-d644baf5eddb","name":"Schedule Trigger"},{"parameters":{"jsCode":" \nconsole.log($now.toISOTime())\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-420,40],"id":"a43f5e18-c220-4437-bd97-5977864a4d37","name":"Code2"},{"parameters":{"content":"# 获取基础数据 \n\n{\n  \"url\": \"https://api-performance.ozon.ru\",  //请求地址\n  \"token\":{ //token信息\n    \"txt\":\"获取token\",\n    \"url\":\"/api/client/token\",\n    \"query\":{//秘钥信息\n      \"client_id\":\"\", \n      \"client_secret\":\"\", \n      \"grant_type\":\"client_credentials\"\n    },\n    \"data\":\"\"\n  },\n  \"campaign\":{\n    \"txt\":\"获取活动和推广对象\",\n    \"url\":\"/api/client/campaign\",//接口\n    \"query\":{ \n        \"advObjectType\":\"SKU\",\n        \"state\":\"CAMPAIGN_STATE_UNKNOWN\"\n    },\n    \"data\":{}\n  }\n}","height":560,"width":360},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-770,-880],"id":"24e6e3c3-ddf4-41cf-bf72-0c2c687dceb3","name":"Sticky Note1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f5459465-dc11-44f0-a415-5014f6e2774a","leftValue":"={{ $('基础数据').item.json.token.data }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-420,300],"id":"df9f1d91-efce-4dcf-ad7e-f2eab755e6cb","name":"If3"},{"parameters":{"content":"## 循环关闭广告\n","height":340,"width":760},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-750,1475],"id":"7dc015e3-32c5-45c3-bba5-2762d1e68770","name":"Sticky Note2"},{"parameters":{"jsCode":"const productData= $('基础数据').first().json.productData.data;\n\nconst list = $input.first().json.list;\n\n// 创建结果对象\nconst result = {};\n\n// 遍历productData中的每个产品ID\nproductData.forEach(productId => {\n  // 初始化当前产品ID的数组\n  result[productId] = [];\n  \n  // 在list中查找匹配的条目\n  list.forEach(item => {\n    // 检查title是否包含当前产品ID\n    if ( item.state.includes('CAMPAIGN_STATE_RUNNING')&& item.title.includes(productId)) {\n      // 将匹配项的id添加到数组中\n      result[productId].push(item.id);\n    }\n  });\n});\n\n \nreturn result"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[680,1020],"id":"a7166644-a869-4f76-901e-85773dee9ed6","name":"区分每个SKU的广告"},{"parameters":{"url":"={{ $('基础数据').item.json.url }}{{ $('基础数据').item.json.productJson.url }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendQuery":true,"specifyQuery":"=json","queryParameters":{"parameters":[{}]},"jsonQuery":"={\"dateFrom\": \"{{ $('基础数据').item.json.productJson.query.dateFrom }}\",\n\"dateTo\": \"{{ $('基础数据').item.json.productJson.query.dateTo }}\"}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[900,1020],"id":"74e0de2e-3b2c-45f7-b5c7-e485b69ca75a","name":"商品活动统计","alwaysOutputData":false,"credentials":{"httpBearerAuth":{"id":"xv6HVrS6eHqO2PcQ","name":"Bearer Auth account"}}},{"parameters":{"jsCode":"const productData= $('基础数据').first().json.productData.data;\nconst skuDdata=$('区分每个SKU的广告').first().json\nconst list = $input.first().json.rows;\n\n// 创建结果对象\nconst result = {};\n\n// 遍历每个产品ID\nproductData.forEach(productId => {\n  // 初始化当前产品ID的数组\n  result[productId] = [];\n  \n  // 在list中查找匹配的条目\n  list.forEach(row => {\n    // 检查title是否包含当前产品ID\n    if (row.title.includes(productId)&& row.moneySpent!='0') {\n      // 将匹配的整个row对象添加到数组中\n      result[productId].push(row);\n    }\n  });\n});\n \nreturn result"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,1020],"id":"4425c7a6-3723-43ae-8433-1554289b2f01","name":"获取昨天数据最好的广告ID"},{"parameters":{"jsCode":"const productData= $('基础数据').first().json.productData.data;\nconst skuDdata=$('区分每个SKU的广告').first().json\nconst list = $input.first().json;\n\n// 创建结果对象\nconst result = [];\n\n// 遍历每个产品ID\nproductData.forEach(productId => {\n  // 判断SKU有广告数据\n  \n  if (list[productId].length>=0) {\n    // 在list中查找匹配的条目\n    let moneySpent = list[productId][0].moneySpent;\n    let toCart = list[productId][0].toCart;\n    let cartMoney = moneySpent/toCart\n    console.log(moneySpent,toCart,'222')\n    list[productId].forEach((row,index) => {\n      // 判断单次加购费用最低的\n      if ((row.moneySpent/row.toCart)<=cartMoney) {\n        // 将匹配的整个row对象添加到数组中\n        result.push(row.id);\n      }\n    });\n    \n  }\n});\n \nreturn result"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1340,1020],"id":"414c0518-4959-41a8-93e2-31eb192f5150","name":"筛选出单次加购费用最低的广告ID"}],"connections":{"Convert data to binary":{"main":[[{"node":"Save file locally","type":"main","index":0}]]},"Add table name to output":{"main":[[{"node":"Convert data to binary","type":"main","index":0}]]},"When clicking \"Test workflow\"":{"main":[[{"node":"基础数据","type":"main","index":0}]]},"If":{"main":[[{"node":"广告活动列表","type":"main","index":0}],[{"node":"获取token","type":"main","index":0}]]},"读取json文件":{"main":[[{"node":"文件转为json","type":"main","index":0}],[]]},"文件转为json":{"main":[[{"node":"If","type":"main","index":0}]]},"基础数据":{"main":[[{"node":"读取json文件","type":"main","index":0}]]},"获取token":{"main":[[{"node":"Add table name to output","type":"main","index":0}]]},"广告活动列表":{"main":[[{"node":"区分TOP和模板","type":"main","index":0},{"node":"区分每个SKU的广告","type":"main","index":0}],[{"node":"获取token","type":"main","index":0}]]},"If1":{"main":[[]]},"Edit Fields":{"main":[[{"node":"If3","type":"main","index":0}]]},"区分TOP和模板":{"main":[[]]},"Loop Over Items":{"main":[[],[{"node":"关闭广告","type":"main","index":0}]]},"关闭广告":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Code2":{"main":[[]]},"If3":{"main":[[],[]]},"Save file locally":{"main":[[{"node":"基础数据","type":"main","index":0}]]},"区分每个SKU的广告":{"main":[[{"node":"商品活动统计","type":"main","index":0}]]},"商品活动统计":{"main":[[{"node":"获取昨天数据最好的广告ID","type":"main","index":0}]]},"获取昨天数据最好的广告ID":{"main":[[{"node":"筛选出单次加购费用最低的广告ID","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Shanghai","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d58634f5-53e8-4583-9a0f-32b8ff730afa","triggerCount":0,"shared":[{"createdAt":"2025-07-31T10:00:02.620Z","updatedAt":"2025-07-31T10:00:02.620Z","role":"workflow:owner","workflowId":"pvlw5AfZKVeBsg6E","projectId":"EZ8bcuL9uFigLvTh"}],"tags":[]}