workflows/WB-add.json
{"createdAt":"2025-09-05T06:49:12.693Z","updatedAt":"2025-09-05T10:32:53.000Z","id":"W9DYIxriyydNBTqi","name":"WB-add","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"b80474f7-0017-43ce-8c36-95538db78dd5","name":"When clicking \"Test workflow\"","type":"n8n-nodes-base.manualTrigger","position":[-940,1140],"typeVersion":1},{"parameters":{"mode":"raw","jsonOutput":"={\n    \"apiKey\": {\n        \"txt\": \"API-密钥\",\n        \"HeaderApiKey\": \"eyJhbGciOiJFUzI1NiIsImtpZCI6IjIwMjUwNTIwdjEiLCJ0eXAiOiJKV1QifQ.eyJlbnQiOjEsImV4cCI6MTc2NDg4MjQ4NCwiaWQiOiIwMTk3M2Y1OC1mNmQ2LTdiMDgtYmExYi00ZGJjYWI2MmExNGMiLCJpaWQiOjE1MDc4MzM4NSwib2lkIjo0MDg5NTQ0LCJzIjo3OTM0LCJzaWQiOiJlMTUxNTJkZS1lMjMwLTQ1N2QtOWUwMC1hMTFhYWRmNTZjOTAiLCJ0IjpmYWxzZSwidWlkIjoxNTA3ODMzODV9.34N6qRrBjBpMSlyFTu0dXuEyA8itC_frfa6JvP6InFu3MRuAXFhTMYWWgKuoJr6GW3HlDcZew_k6GTbOtFtDnw\",\n        \"data\": \"\"\n    },\n    \"campaign\": {\n        \"txt\": \"分享秘钥是否正常\",\n        \"url\": \"https://common-api.wildberries.ru/ping\",\n        \"data\": {}\n    },\n  \"WB-n8n\":\"D:/产品/本土/主推产品/WB/服装/模板/WB-n8n.xlsx\",\n  \"WB-n8n2\":\"D:/产品/本土/主推产品/WB/服装/模板/WB-n8n2.xlsx\",\n  \"WB-n8n3\":\"D:/产品/本土/主推产品/WB/服装/模板/WB-n8n.xlsx\",\n  \"WB-n8n4\":\"D:/产品/本土/主推产品/WB/服装/模板/WB-n8n2.xlsx\",\n    \"productList\": {\n        \"txt\": \"产品列表\",\n        \"url\": \"https://content-api.wildberries.ru/content/v2/get/cards/list\",\n        \"query\": {\n            \"sort\": [\n                {\n                    \"columnID\": 11,\n                    \"order\": \"desc\"\n                }\n            ],\n            \"filter\": {\n                \"search\": \"\",\n                \"paidOptions\": {},\n                \"subjectIDs\": [\n                    192\n                ]\n            },\n            \"cursor\": {\n                \"n\": 20\n            }\n        },\n        \"data\": {}\n    }\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-640,1160],"id":"7ca8f57a-d14b-403a-8656-923d96154f56","name":"基础数据"},{"parameters":{"url":"={{ $json.campaign.url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-420,1160],"id":"71850da8-f17a-4b0c-88c8-4800f1b6454f","name":"验证指令","alwaysOutputData":false,"credentials":{"httpHeaderAuth":{"id":"v8juEeSd6jiMXgXN","name":"Header Auth account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f0d87aae-2fca-4b37-8394-eaf7ac14fece","leftValue":"={{ $json.Status }}","rightValue":"OK","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-200,1160],"id":"72584bb1-e218-4946-ae33-91445fdfb2cc","name":"If2"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst array1 = $input.all()\nconst array2 = $('Add').all() //准备添加的数据\n\n\nconst removeSet = {};\nfor (const item of array1) {\n    removeSet[item.json.SKU] = true;\n}\n\n// 创建过滤后的数组\nconst filteredArray = [];\nfor (const item of array2) {\n    if (!removeSet[item.json.SKU]) {\n        filteredArray.push(item);\n    }\n}\n\nreturn filteredArray;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1060,1160],"id":"2720c22e-9d22-44b6-89a8-3d883985fa13","name":"Code1","executeOnce":false,"alwaysOutputData":true,"notes":"过滤已经添加的数据"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[0,1665],"id":"6674ba35-1261-41e4-9398-cb26c8cf0fcd","name":"Call n8n Workflow Tool"},{"parameters":{"method":"POST","url":"https://content-api.wildberries.ru/content/v2/cards/upload","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"=[\n    {\n        \"subjectID\": 192,\n        \"variants\": [\n            {\n                \"vendorCode\": \"{{ $('Code6').item.json.SKU }}\",\n                \"title\": \"Футболка с принтом\",\n                \"description\": \"Футболка с круглым вырезом и коротким рукавом изготовлена из 100% хлопкового трикотажа полотняного переплетения, обеспечивая комфорт и долговечность. Дышащая и гипоаллергенная ткань создает идеальный силуэт в унисекс-стиле.\\nТехнология термопечати открывает безграничные возможности для дизайна принтов. Каждая футболка становится носимым холстом для искусства — от абстрактных линий до культовых образов, превращая базовую модель в инструмент самовыражения.\\nПремиальный хлопок гарантирует износостойкость: принты сохраняют яркость после многократных стирок. Универсальный крой и яркий принт делают её ключевым элементом гардероба, позволяя создавать модные образы с джинсами, шортами или юбками.\\nПодходит для любого сезона и повода: повседневная носка, спорт или отдых. Идеальный подарок подросткам и взрослым на День рождения, 14 февраля, 23 февраля, 8 Марта и Новый год.\\nРазмеры: S-4XL\\nКак выбрать:\\n\\nИзмерьте ширину груди любимой футболки\\nСм. таблицу размеров в галерее\\nДля oversize эффекта берите на размер больше\\n\\nВнимание: Цвет принта на экране может незначительно отличаться от реального.\\nУход:\\n\\nСтирка при ≤30°C, цветным порошком\\nОтжим на низких оборотах\\nНе отбеливать, не химчистить, не сушить в машине\\nГладить с изнанки на низкой температуре\",\n                \"dimensions\": {\n                    \"width\": 25,\n                    \"height\": 2,\n                    \"length\": 35,\n                    \"weightBrutto\": 0.22,\n                    \"isValid\": true\n                },\n                \"characteristics\": [\n                    {\n                        \"id\": 14177449,\n                        \"name\": \"颜色\",\n                        \"value\": [\n                            \"{{ $('Loop Over Items2').item.json.color }}\"\n                        ]\n                    },\n                    {\n                        \"id\": 15000001,\n                        \"name\": \"FEACN\",\n                        \"value\": [\n                            \"6110309100\"\n                        ]\n                    }\n                ],\n                \"sizes\": [\n                    {\n                        \"techSize\": \"S\",\n                        \"wbSize\": \"44\",\n                        \"skus\": [\n                            \"{{ $json.data[0] }}\"\n                        ],\n                        \"price\": 300\n                    },\n                    {\n                        \"techSize\": \"M\",\n                        \"wbSize\": \"46\",\n                        \"skus\": [\n                            \"{{ $json.data[1] }}\"\n                        ],\n                        \"price\": 300\n                    },\n                    {\n                        \"techSize\": \"L\",\n                        \"wbSize\": \"48\",\n                        \"skus\": [\n                            \"{{ $json.data[2] }}\"\n                        ],\n                        \"price\": 300\n                    },\n                    {\n                        \"techSize\": \"XL\",\n                        \"wbSize\": \"50\",\n                        \"skus\": [\n                            \"{{ $json.data[3] }}\"\n                        ],\n                        \"price\": 300\n                    },\n                    {\n                        \"techSize\": \"2XL\",\n                        \"wbSize\": \"52\",\n                        \"skus\": [\n                            \"{{ $json.data[4] }}\"\n                        ],\n                        \"price\": 300\n                    },\n                    {\n                        \"chrtID\": 701150258,\n                        \"techSize\": \"3XL\",\n                        \"wbSize\": \"54\",\n                        \"skus\": [\n                            \"{{ $json.data[5] }}\"\n                        ],\n                        \"price\": 300\n                    },\n                    {\n                        \"techSize\": \"4XL\",\n                        \"wbSize\": \"56\",\n                        \"skus\": [\n                            \"{{ $json.data[6] }}\"\n                        ],\n                        \"price\": 300\n                    }\n                ],\n        \t\t\"sizeChartID\": 74168,\n                \"sizeChartName\": \"尺寸表 2\"\n            }\n        ]\n    }\n]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2440,1200],"id":"f003e13a-d7bb-4fda-99dd-3c0d71afd9a4","name":"HTTP Request2","credentials":{"httpHeaderAuth":{"id":"v8juEeSd6jiMXgXN","name":"Header Auth account"}}},{"parameters":{"method":"POST","url":"=https://content-api.wildberries.ru/content/v2/get/cards/list","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locale","value":"zh"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"settings\": {\n    \"sort\": {\n      \"ascending\": false\n    },\n    \"filter\": {  \n      \"withPhoto\": -1,\n      \"textSearch\":\"518428594\"\n    },\n    \"cursor\": {   \n    }\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,-160],"id":"f2ebc8d0-17ab-4ad0-83c1-fe921661575d","name":"产品卡列表","credentials":{"httpHeaderAuth":{"id":"v8juEeSd6jiMXgXN","name":"Header Auth account"}}},{"parameters":{"content":"## 添加商品卡\n","height":400,"width":1200},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1440,1100],"id":"f521086a-bf50-4e3c-86ae-672cca7740d6","name":"Sticky Note"},{"parameters":{"method":"POST","url":"=https://content-api.wildberries.ru/content/v2/get/cards/list","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locale","value":"zh"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"settings\": {\n    \"sort\": {\n      \"ascending\": false\n    },\n    \"filter\": {  \n      \"withPhoto\": -1,\n      \"textSearch\":\"{{ $json.SKU }}\"\n    },\n    \"cursor\": {   \n\"limit\": 50\n    }\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,200],"id":"c6e4bd6f-30bc-4acf-a18b-6eae4aeb0749","name":"产品卡列表1","retryOnFail":true,"maxTries":5,"credentials":{"httpHeaderAuth":{"id":"v8juEeSd6jiMXgXN","name":"Header Auth account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1760,1180],"id":"c0f006a2-8d46-4192-8e8b-016ff897607b","name":"Loop Over Items2"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nif ($input.first().json.cursor.total<1) {\n  \n  return $input.all();\n}\n\nif($input.first().json.cards[0].sizeChartID){\n  $input.first().json.cards[0].sizeChartID=74168\n  $input.first().json.cards[0].sizeChartName=\"尺寸表 2\"\n}\nif(Number($input.first().json.cards[0].sizes[0].wbSize)<10){\n  for (const element of $input.first().json.cards[0].sizes) {\n   switch (element.techSize) {\n     case \"S\":\n       element.wbSize=\"44\"\n       break;   \n     case \"M\":\n       element.wbSize=\"46\"\n       \n       break;    \n     case \"L\":\n       \n       element.wbSize=\"48\"\n       break;    \n     case \"XL\":\n       element.wbSize=\"50\"\n       break;    \n     case \"2XL\":\n       element.wbSize=\"52\"\n       \n       break;    \n     case \"3XL\":\n       element.wbSize=\"54\"\n       \n       break;    \n     case \"4XL\":      \n       element.wbSize=\"56\"\n       break;    \n   }\n  } \n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[440,200],"id":"8e2a9824-e129-4cc2-8379-7f46f5882649","name":"Code3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3880a184-79ee-4e56-a54b-33ce07cf5164","leftValue":"={{ $json.cards[0].title }}","rightValue":"Футболка с принтом","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"49e8e5dc-db5c-4131-abb1-c8592ecf2c37","leftValue":"={{ $json.cards[0].sizeChartID }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[660,200],"id":"7d519b80-0dc2-41d5-8ef4-04016b146416","name":"If1","notes":"判断标题是否需要修改"},{"parameters":{"promptType":"define","text":"=Act as an e-commerce listing specialist. Analyze the T-shirt print design from the image at this URL: `{{ $json.cards[0].photos[0].big }}`.\n\nYour task is to generate a single, engaging product title in Russian. The title MUST begin with the phrase \"Футболка с принтом\" and then continue with a concise description of the print's style and main subject.\n\n**Critical Requirements:**\n1.  **Language:** Russian only.\n2.  **Format:** Start with \"Футболка с принтом\".\n3.  **Length:** The entire title MUST be exactly 55 characters long (including spaces). Count the characters precisely.\n4.  **Content:** Describe only the print's style and central motif. Be highly concise to fit the character limit.\n5.  **Output:** Only return the final 55-character title. No explanations.\n\n**Analysis Focus:**\n- Identify the main subject (e.g., character, animal, symbol).\n- Determine the artistic style (e.g., anime, graphic, vintage).","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[880,200],"id":"8994c1e3-be7a-4e5d-be6e-67a78d32c088","name":"AI Agent1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[968,420],"id":"fae86adf-677d-4ad6-9e1c-468ad1370674","name":"DeepSeek Chat Model1","credentials":{"deepSeekApi":{"id":"SqCQclW6xyEDnzHA","name":"DeepSeek account"}}},{"parameters":{"jsCode":" \n if($('Code3').first().json.cards[0].title=\"Футболка с принтом\"){\n    $('Code3').first().json.cards[0].title = $input.first().json.output\n }\n \n\nreturn $('Code3').first().json.cards[0];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1256,200],"id":"acc21139-c975-48b6-8c33-ada7ae032314","name":"Code5"},{"parameters":{"method":"POST","url":"https://content-api.wildberries.ru/content/v2/cards/update","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"=[{{ $json.toJsonString() }}]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1476,200],"id":"475aed77-e8d8-46b0-ad5f-b8923dac2aab","name":"HTTP Request3","credentials":{"httpHeaderAuth":{"id":"v8juEeSd6jiMXgXN","name":"Header Auth account"}}},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2000,1220],"id":"be571559-045a-4d8b-84a9-fd1b05756505","name":"Code6"},{"parameters":{"operation":"xlsx","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2356,200],"id":"2ce5535b-4de5-4bf2-b891-1156713205d6","name":"Convert to File"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6c7c6cfc-ad86-4b58-a7f7-a979e081ee68","leftValue":"={{ $json.cursor.total }}","rightValue":0,"operator":{"type":"number","operation":"gt"}},{"id":"9530339d-84e1-4b77-adbd-dea00c97148a","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[220,200],"id":"bcb2b543-1e11-4855-9fb2-28b3a36058e6","name":"If3"},{"parameters":{"operation":"xlsx","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1916,200],"id":"3c88b714-0b1b-4b2a-8194-db9d9f7eabad","name":"已经修改的数据1","alwaysOutputData":true},{"parameters":{"jsCode":" \nconst skuID=  [\n { SKU: $('Loop Over Items2').first().json.SKU} ,\n];\n// 获取前序节点的数据\nconst inputData = [];\nfor (const element of $input.all()) {\n  inputData.push(element.json)\n}\n \n// 合并对象\nconst mergedObj = [...inputData, ...skuID];\n\nconsole.log(mergedObj)\n// 返回合并后的对象\nreturn mergedObj;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2136,200],"id":"7c9c5ce4-7eb9-4b48-89c7-a4b3b1da21ef","name":"Code7"},{"parameters":{"fileSelector":"={{ $('基础数据').item.json['WB-n8n2'] }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1696,200],"id":"ab7c95dd-1e87-48a1-a7cc-85f5e1d4b57c","name":"WB-n8n3"},{"parameters":{"operation":"write","fileName":"D:/产品/本土/主推产品/WB/服装/模板/WB-n8n2.xlsx","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[2576,200],"id":"4d87d0b7-af50-4fa4-bd60-ca2b610fa6be","name":"WB-n8n4"},{"parameters":{"method":"POST","url":"https://content-api.wildberries.ru/content/v2/barcodes","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"count\": 7\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2220,1200],"id":"0d39aa4d-6048-4e7e-a9cb-1ab4b6910a7e","name":"获取条形码","retryOnFail":true,"maxTries":5,"credentials":{"httpHeaderAuth":{"id":"v8juEeSd6jiMXgXN","name":"Header Auth account"}}},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3860,1400],"id":"66da8a40-3867-49a2-adf2-3c54f9659606","name":"Wait","webhookId":"86892516-c2fe-4c6a-a1af-227c569caa64"},{"parameters":{"method":"POST","url":"https://content-api.wildberries.ru/content/v2/cards/update","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"=[{{ $json.toJsonString() }}]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,560],"id":"26264e1e-a049-4531-8bb9-db35b463ad99","name":"HTTP Request4","credentials":{"httpHeaderAuth":{"id":"v8juEeSd6jiMXgXN","name":"Header Auth account"}}},{"parameters":{"method":"POST","url":"=https://content-api.wildberries.ru/content/v2/get/cards/list","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locale","value":"zh"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.toJsonString() }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2140,860],"id":"14a579e7-319c-4556-bca1-af52895c2c43","name":"产品卡列表3","retryOnFail":true,"maxTries":5,"credentials":{"httpHeaderAuth":{"id":"v8juEeSd6jiMXgXN","name":"Header Auth account"}}},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n\nconst imgData = []\nconst color1 = [\"1\",\n\"https://basket-27.wbbasket.ru/vol5040/part504096/504096916/images/big/2.webp\",\n\"https://basket-27.wbbasket.ru/vol5040/part504096/504096916/images/big/3.webp\",\n\"https://basket-27.wbbasket.ru/vol5040/part504096/504096916/images/big/4.webp\"];\nconst color2 = [\"2\",\"https://basket-27.wbcontent.net/vol5040/part504086/504086971/images/big/2.webp\",\n\"https://basket-27.wbcontent.net/vol5040/part504086/504086971/images/big/3.webp\",\n\"https://basket-27.wbcontent.net/vol5040/part504086/504086971/images/big/4.webp\"];\n\nfor (const item of $input.first().json.cards) {\n  const nmId=item.nmID;\n  let imgUrl=[]\n  if (JSON.stringify(item.characteristics).includes(\"白色\")) {\n    color1[0]=\"http://hbxc.zone.id/images/\"+item.vendorCode+\"-1A-1.jpg\"\n    imgUrl=color1\n  } else {\n    color2[0]=\"https://hbxc.zone.id/images/\"+item.vendorCode+\"-0A-1.jpg\"\n    imgUrl=color2\n  }\n  \n  imgData.push({nmId:nmId,data:imgUrl})\n}\n\nreturn imgData;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2520,880],"id":"6c4b30e0-5093-4f09-b3f0-0c6a06fde53c","name":"Code"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n\nconst imgData = []\nconst color1 = [\"1\",\n\"https://basket-27.wbbasket.ru/vol5040/part504096/504096916/images/big/2.webp\",\n\"https://basket-27.wbbasket.ru/vol5040/part504096/504096916/images/big/3.webp\",\n\"https://basket-27.wbbasket.ru/vol5040/part504096/504096916/images/big/4.webp\"];\nconst color2 = [\"2\",\"https://basket-27.wbcontent.net/vol5040/part504086/504086971/images/big/2.webp\",\n\"https://basket-27.wbcontent.net/vol5040/part504086/504086971/images/big/3.webp\",\n\"https://basket-27.wbcontent.net/vol5040/part504086/504086971/images/big/4.webp\"];\n\nfor (const item of $input.first().json.cards) {\n  const nmId=item.nmID;\n  let imgUrl=[]\n  if (item.characteristics[0].value[0]=\"白色\") {\n    color1[0]=\"http://hbxc.zone.id/images/\"+item.vendorCode+\"-1A-1.jpg\"\n    imgUrl=color1\n  } else {\n    color1[0]=\"https://hbxc.zone.id/images/\"+item.vendorCode+\"-0A-1.jpg\"\n    imgUrl=color2\n  }\n    imgData.push({nmId:nmId,data:imgUrl})\n}\n\nreturn imgData;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,1405],"id":"2c469ee8-0cd6-41d0-bd6c-8d2bb970344a","name":"Code8"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst data = {\n  \"settings\": {\n    \"sort\": {\n      \"ascending\": false\n    },\n    \"filter\": {  \n      \"withPhoto\": 0\n    },\n    \"cursor\": {   \n      \"limit\": 100\n    }\n  }\n}\n\nreturn data;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1960,860],"id":"fe6a8aa7-b2d3-4c39-a0ec-5a9c1a7a73f9","name":"Code9"},{"parameters":{"method":"POST","url":"=https://content-api.wildberries.ru/content/v3/media/save","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.toJsonString() }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4040,880],"id":"7cdd22d5-f8b2-4e49-a82c-4209a5186f57","name":"添加图片","retryOnFail":true,"maxTries":5,"credentials":{"httpHeaderAuth":{"id":"v8juEeSd6jiMXgXN","name":"Header Auth account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3800,860],"id":"bb1c9e69-e811-4f6b-b7b7-3294b25973a1","name":"Loop Over Items3"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[4200,880],"id":"62e6453d-e352-4dd9-bb4a-b2c5bef67aad","name":"Wait1","webhookId":"d7073fd1-8bab-41ca-9b21-7b55c917c57e"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a1d47430-23e7-4755-b6ce-f3036d38cb1d","leftValue":"={{ $json.cursor.total }}","rightValue":1,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2340,860],"id":"a94e1db5-8d60-4928-abb6-5285e8f170b5","name":"If4"},{"parameters":{"content":"## 添加图片\n","height":340,"width":2480},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1880,720],"id":"5a730b60-c5d4-410a-bdf7-7dc1a2ce4e3a","name":"Sticky Note1"},{"parameters":{"operation":"xlsx","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[3280,1200],"id":"4a77d11d-cf1d-4049-a2d9-c738a5ace3c1","name":"Convert to File1"},{"parameters":{"operation":"xlsx","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[2880,1200],"id":"7dd9c9cb-f839-4327-8b1a-33a1cfa3b3f9","name":"已经修改的数据2","alwaysOutputData":true},{"parameters":{"jsCode":" \nconst skuID=  [\n { SKU: $('Loop Over Items2').first().json.SKU,\n  \"color\":$('Loop Over Items2').first().json.color}\n  \n];\n// 获取前序节点的数据\nconst inputData = [];\nfor (const element of $input.all()) {\n  inputData.push(element.json)\n}\n \n// 合并对象\nconst mergedObj = [...inputData, ...skuID];\n\nconsole.log(mergedObj)\n// 返回合并后的对象\nreturn mergedObj;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3080,1200],"id":"5bd41016-2f07-4bb1-ba85-a70c5c2b6daf","name":"Code10"},{"parameters":{"operation":"write","fileName":"D:/WB/WB-n8n-add2.xlsx","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[3520,1200],"id":"fd4ff6bc-d90b-4b12-8170-2507440fcb98","name":"WB-n8n5"},{"parameters":{"operation":"xlsx","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[240,1160],"id":"d7475db5-39cf-4bd0-8b0d-817e0fbe26f8","name":"Add","alwaysOutputData":true},{"parameters":{"operation":"xlsx","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[820,1160],"id":"46be3e60-d05d-4baf-9ad9-79d0a89c29a5","name":"Add2","alwaysOutputData":true},{"parameters":{"fileSelector":"=D:/WB/WB-n8n-add.xlsx","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[20,1160],"id":"8132bc02-f595-4888-bd76-a8912886b89e","name":"准备添加的","executeOnce":true,"alwaysOutputData":true},{"parameters":{"fileSelector":"=D:/WB/WB-n8n-add2.xlsx","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[540,1160],"id":"d929d1ec-6fc1-49b6-918a-841184ea7f64","name":"已经添加的","executeOnce":true,"alwaysOutputData":true},{"parameters":{"fileSelector":"=D:/WB/WB-n8n-add2.xlsx","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[2680,1200],"id":"a687b927-b419-4e06-aa99-a63a89716fb4","name":"已经添加的1"},{"parameters":{"operation":"xlsx","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[3220,840],"id":"506d7c66-ebde-4f65-8d30-3adade122a40","name":"Convert to File2"},{"parameters":{"jsCode":" \nconst skusData=  [\n];\n\n\n\n\nfor (const element of $('产品卡列表3').first().json.cards) {\n  \n  for (const sizeData of element.sizes) {\n    skusData.push({\"条形码\" : sizeData.skus[0],\"库存\": 50})\n    }\n}\n// 获取前序节点的数据\nconst inputData = [];\nfor (const element of $input.all()) {\n  inputData.push(element.json)\n}\n \n// 合并对象\nconst mergedObj = [...inputData, ...skusData];\n\nconst usedIds = new Set();\nconst newItems = [];\nfor (const item of mergedObj) {\n  // 假设根据 'id' 字段去重\n  if (!usedIds.has(item.条形码 )) {\n    newItems.push(item);\n    usedIds.add(item.条形码 );\n  }\n}\n\n\n\n// 返回合并后的对象\nreturn newItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3040,880],"id":"f3632c18-c9a7-4660-be3c-1cffcdbb2abe","name":"Code11"},{"parameters":{"fileSelector":"=D:/WB/WB-stocks.xlsx","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[2720,880],"id":"eea64ed6-b178-4614-a49b-4c563ac150ee","name":"已经添加条形码","executeOnce":true},{"parameters":{"operation":"xlsx","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[2880,880],"id":"35a6b4f3-0c1f-4de0-bc5b-f37ebc330814","name":"已经添加条形码的数据","alwaysOutputData":true},{"parameters":{"operation":"write","fileName":"D:/WB/WB-stocks.xlsx","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[3380,840],"id":"1be87992-5f3e-4942-9a53-c3d33baabcb2","name":"已经添加条形码1"},{"parameters":{"jsCode":"\nreturn $('Code').all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3600,860],"id":"78e8e5c4-6fb1-443d-b761-2bf876631299","name":"Code2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"527b7177-a62f-44d3-a2d8-dca991b476e1","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1280,1160],"id":"bad0f185-7ee7-410d-b305-4f28e636b016","name":"If"},{"parameters":{"method":"POST","url":"=https://content-api.wildberries.ru/content/v2/get/cards/list","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locale","value":"zh"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.toJsonString() }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-300,960],"id":"e7561917-91ea-44f0-931b-c817bde72ba0","name":"产品卡列表4","retryOnFail":true,"maxTries":5,"credentials":{"httpHeaderAuth":{"id":"v8juEeSd6jiMXgXN","name":"Header Auth account"}}},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst data = {\n  \"settings\": {\n    \"sort\": {\n      \"ascending\": false\n    },\n    \"filter\": {  \n      \"textSearch\": \"523215562\",\n      \"withPhoto\": -1\n    },\n    \"cursor\": {   \n      \"limit\": 100\n    }\n  }\n}\n\nreturn data;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-580,900],"id":"c31eb826-3e60-41b6-9771-d2379d676f1e","name":"Code12"}],"connections":{"When clicking \"Test workflow\"":{"main":[[{"node":"Code12","type":"main","index":0}]]},"基础数据":{"main":[[{"node":"验证指令","type":"main","index":0}]]},"验证指令":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"准备添加的","type":"main","index":0}]]},"Code1":{"main":[[{"node":"If","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"已经添加的1","type":"main","index":0}]]},"Loop Over Items2":{"main":[[{"node":"Code9","type":"main","index":0}],[{"node":"Code6","type":"main","index":0}]]},"产品卡列表1":{"main":[[{"node":"If3","type":"main","index":0}]]},"Code3":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"AI Agent1","type":"main","index":0}],[]]},"AI Agent1":{"main":[[{"node":"Code5","type":"main","index":0}]]},"DeepSeek Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Code5":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"WB-n8n3","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"WB-n8n4","type":"main","index":0}]]},"If3":{"main":[[{"node":"Code3","type":"main","index":0}],[]]},"已经修改的数据1":{"main":[[{"node":"Code7","type":"main","index":0}]]},"Code7":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"WB-n8n3":{"main":[[{"node":"已经修改的数据1","type":"main","index":0}]]},"WB-n8n4":{"main":[[]]},"Code6":{"main":[[{"node":"获取条形码","type":"main","index":0}]]},"获取条形码":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"产品卡列表3":{"main":[[{"node":"If4","type":"main","index":0}]]},"Code9":{"main":[[{"node":"产品卡列表3","type":"main","index":0}]]},"Code":{"main":[[{"node":"已经添加条形码","type":"main","index":0}]]},"Loop Over Items3":{"main":[[{"node":"Code9","type":"main","index":0}],[{"node":"添加图片","type":"main","index":0}]]},"添加图片":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"If4":{"main":[[],[{"node":"Code","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"WB-n8n5","type":"main","index":0}]]},"已经修改的数据2":{"main":[[{"node":"Code10","type":"main","index":0}]]},"Code10":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"WB-n8n5":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Add":{"main":[[{"node":"已经添加的","type":"main","index":0}]]},"Add2":{"main":[[{"node":"Code1","type":"main","index":0}]]},"准备添加的":{"main":[[{"node":"Add","type":"main","index":0}]]},"已经添加的":{"main":[[{"node":"Add2","type":"main","index":0}]]},"已经添加的1":{"main":[[{"node":"已经修改的数据2","type":"main","index":0}]]},"Convert to File2":{"main":[[{"node":"已经添加条形码1","type":"main","index":0}]]},"Code11":{"main":[[{"node":"Convert to File2","type":"main","index":0}]]},"已经添加条形码":{"main":[[{"node":"已经添加条形码的数据","type":"main","index":0}]]},"已经添加条形码的数据":{"main":[[{"node":"Code11","type":"main","index":0}]]},"已经添加条形码1":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}],[{"node":"Code9","type":"main","index":0}]]},"Code12":{"main":[[{"node":"产品卡列表4","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"be11bffe-9c86-466a-9fa4-f75dd3453c4f","triggerCount":0,"shared":[{"createdAt":"2025-09-05T06:49:12.699Z","updatedAt":"2025-09-05T06:49:12.699Z","role":"workflow:owner","workflowId":"W9DYIxriyydNBTqi","projectId":"EZ8bcuL9uFigLvTh"}],"tags":[]}