workflows/WB-修改商品.json
{"createdAt":"2025-09-10T09:16:28.061Z","updatedAt":"2025-09-10T09:16:28.061Z","id":"3WxjfxcU72pHYbaZ","name":"WB-修改商品","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"55a6c71e-1ee4-442a-bba5-bac2325c6942","name":"When clicking \"Test workflow\"","type":"n8n-nodes-base.manualTrigger","position":[-5232,496],"typeVersion":1},{"parameters":{"mode":"raw","jsonOutput":"={\n    \"apiKey\": {\n        \"txt\": \"API-密钥\",\n        \"HeaderApiKey\": \"eyJhbGciOiJFUzI1NiIsImtpZCI6IjIwMjUwNTIwdjEiLCJ0eXAiOiJKV1QifQ.eyJlbnQiOjEsImV4cCI6MTc2NDg4MjQ4NCwiaWQiOiIwMTk3M2Y1OC1mNmQ2LTdiMDgtYmExYi00ZGJjYWI2MmExNGMiLCJpaWQiOjE1MDc4MzM4NSwib2lkIjo0MDg5NTQ0LCJzIjo3OTM0LCJzaWQiOiJlMTUxNTJkZS1lMjMwLTQ1N2QtOWUwMC1hMTFhYWRmNTZjOTAiLCJ0IjpmYWxzZSwidWlkIjoxNTA3ODMzODV9.34N6qRrBjBpMSlyFTu0dXuEyA8itC_frfa6JvP6InFu3MRuAXFhTMYWWgKuoJr6GW3HlDcZew_k6GTbOtFtDnw\",\n        \"data\": \"\"\n    },\n    \"campaign\": {\n        \"txt\": \"分享秘钥是否正常\",\n        \"url\": \"https://common-api.wildberries.ru/ping\",\n        \"data\": {}\n    },\n  \"WB-n8n\":\"D:/产品/本土/主推产品/WB/服装/模板/WB-n8n.xlsx\",\n  \"WB-n8n2\":\"D:/产品/本土/主推产品/WB/服装/模板/WB-n8n2.xlsx\",\n  \"WB-n8n3\":\"D:/产品/本土/主推产品/WB/服装/模板/WB-n8n.xlsx\",\n  \"WB-n8n4\":\"D:/产品/本土/主推产品/WB/服装/模板/WB-n8n2.xlsx\",\n    \"productList\": {\n        \"txt\": \"产品列表\",\n        \"url\": \"https://content-api.wildberries.ru/content/v2/get/cards/list\",\n        \"query\": {\n            \"sort\": [\n                {\n                    \"columnID\": 11,\n                    \"order\": \"desc\"\n                }\n            ],\n            \"filter\": {\n                \"search\": \"\",\n                \"paidOptions\": {},\n                \"subjectIDs\": [\n                    192\n                ]\n            },\n            \"cursor\": {\n                \"n\": 20\n            }\n        },\n        \"data\": {}\n    }\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5008,496],"id":"ba9a5b1c-140a-4900-936b-05f586a3dbdc","name":"基础数据"},{"parameters":{"url":"={{ $json.campaign.url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4800,496],"id":"7f52d593-0777-4f61-abcd-939c08cd5507","name":"验证指令","alwaysOutputData":false,"credentials":{"httpHeaderAuth":{"id":"v8juEeSd6jiMXgXN","name":"Header Auth account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f0d87aae-2fca-4b37-8394-eaf7ac14fece","leftValue":"={{ $json.Status }}","rightValue":"OK","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4576,496],"id":"e22183f0-cb51-4f0e-89af-0f33abd8db68","name":"If2"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst array1 = $input.all()\nconst array2 = $('Add').all() //准备添加的数据\n\n\nconst removeSet = {};\nfor (const item of array1) {\n    removeSet[item.json.SKU] = true;\n}\n\n// 创建过滤后的数组\nconst filteredArray = [];\nfor (const item of array2) {\n    if (!removeSet[item.json.SKU]) {\n        filteredArray.push(item);\n    }\n}\n\nreturn filteredArray;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3312,496],"id":"bbf1e46b-707e-41d8-854d-d6cecff3ace2","name":"Code1","executeOnce":false,"alwaysOutputData":true,"notes":"过滤已经添加的数据"},{"parameters":{"method":"POST","url":"https://content-api.wildberries.ru/content/v2/cards/upload","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"=[{{ $json.toJsonString() }}]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-400,560],"id":"c4afd883-8198-4766-92af-7c6bad0e223f","name":"HTTP Request2","retryOnFail":false,"alwaysOutputData":false,"executeOnce":false,"credentials":{"httpHeaderAuth":{"id":"v8juEeSd6jiMXgXN","name":"Header Auth account"}}},{"parameters":{"content":"## 添加商品卡\n","height":500,"width":3860},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2688,464],"id":"934f1624-d141-4b5a-9db4-ff7b520ff387","name":"Sticky Note"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2608,512],"id":"4abf2871-5259-49ee-8f39-cc95da21b8b7","name":"Loop Over Items2"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n\nconst data= [\n    {\n        \"subjectID\": 192,\n        \"variants\": [\n            {\n                \"vendorCode\": $('Loop Over Items2').first().json.SKU,\n                \"title\": $('AI Agent').first().json.output,\n                \"description\": \"Футболка с круглым вырезом и коротким рукавом изготовлена из 100% хлопкового трикотажа полотняного переплетения, обеспечивая комфорт и долговечность. Дышащая и гипоаллергенная ткань создает идеальный силуэт в унисекс-стиле.\\nТехнология термопечати открывает безграничные возможности для дизайна принтов. Каждая футболка становится носимым холстом для искусства — от абстрактных линий до культовых образов, превращая базовую модель в инструмент самовыражения.\\nПремиальный хлопок гарантирует износостойкость: принты сохраняют яркость после многократных стирок. Универсальный крой и яркий принт делают её ключевым элементом гардероба, позволяя создавать модные образы с джинсами, шортами или юбками.\\nПодходит для любого сезона и повода: повседневная носка, спорт или отдых. Идеальный подарок подросткам и взрослым на День рождения, 14 февраля, 23 февраля, 8 Марта и Новый год.\\nРазмеры: S-4XL\\nКак выбрать:\\n\\nИзмерьте ширину груди любимой футболки\\nСм. таблицу размеров в галерее\\nДля oversize эффекта берите на размер больше\\n\\nВнимание: Цвет принта на экране может незначительно отличаться от реального.\\nУход:\\n\\nСтирка при ≤30°C, цветным порошком\\nОтжим на низких оборотах\\nНе отбеливать, не химчистить, не сушить в машине\\nГладить с изнанки на низкой температуре\",\n                \"dimensions\": {\n                    \"width\": 25,\n                    \"height\": 2,\n                    \"length\": 35,\n                    \"weightBrutto\": 0.22\n                },\n                \"characteristics\": [\n                    {\n                        \"id\": 14177449,\n                        \"name\": \"颜色\",\n                        \"value\": [\n                          $('Loop Over Items2').first().json.color\n                        ]\n                    },\n                    {\n                        \"id\": 15000001,\n                        \"name\": \"FEACN\",\n                        \"value\": [\n                            \"6110309100\"\n                        ]\n                    }\n                ],\n                \"sizes\": [\n                    {\n                        \"techSize\": \"S\",\n                        \"wbSize\": \"44\",\n                        \"skus\": [\n                            $input.first().json.data[0]                        \n                        ],\n                        \"price\": 300\n                    },\n                    {\n                        \"techSize\": \"M\",\n                        \"wbSize\": \"46\",\n                        \"skus\": [\n                              $input.first().json.data[1]\n                        ],\n                        \"price\": 300\n                    },\n                    {\n                        \"techSize\": \"L\",\n                        \"wbSize\": \"48\",\n                        \"skus\": [\n                              $input.first().json.data[2] \n                        ],\n                        \"price\": 300\n                    },\n                    {\n                        \"techSize\": \"XL\",\n                        \"wbSize\": \"50\",\n                        \"skus\": [\n                             $input.first().json.data[3]\n                        ],\n                        \"price\": 300\n                    },\n                    {\n                        \"techSize\": \"2XL\",\n                        \"wbSize\": \"52\",\n                        \"skus\": [\n                             $input.first().json.data[4]\n                        ],\n                        \"price\": 300\n                    },\n                    {\n                        \"chrtID\": 701150258,\n                        \"techSize\": \"3XL\",\n                        \"wbSize\": \"54\",\n                        \"skus\": [\n                             $input.first().json.data[5]\n                        ],\n                        \"price\": 300\n                    },\n                    {\n                        \"techSize\": \"4XL\",\n                        \"wbSize\": \"56\",\n                        \"skus\": [\n                             $input.first().json.data[6]\n                        ],\n                        \"price\": 300\n                    }\n                ],\n        \t\t\"sizeChartID\": \"74168\"\n            }\n        ]\n    }\n]\n\n\nreturn data;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-560,560],"id":"99f512b3-bf91-458d-96bd-12e75a3024bf","name":"Code6"},{"parameters":{"method":"POST","url":"https://content-api.wildberries.ru/content/v2/barcodes","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"count\": 7\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-752,560],"id":"4e56fb64-8a27-4717-b6cf-e4d59ea59dc6","name":"获取条形码","retryOnFail":true,"maxTries":5,"credentials":{"httpHeaderAuth":{"id":"v8juEeSd6jiMXgXN","name":"Header Auth account"}}},{"parameters":{"amount":2,"path":"4a7eaa53-a797-40ad-95c1-c04879db75c0"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[944,560],"id":"d2f67254-ae81-43b5-84f0-ad65d9ea72f3","name":"Wait","webhookId":"4a7eaa53-a797-40ad-95c1-c04879db75c0"},{"parameters":{"method":"POST","url":"=https://content-api.wildberries.ru/content/v2/get/cards/list","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locale","value":"zh"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.toJsonString() }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1840,176],"id":"a195f0a0-1890-4092-b58d-9cf0bdfaabde","name":"产品卡列表3","retryOnFail":true,"maxTries":5,"credentials":{"httpHeaderAuth":{"id":"v8juEeSd6jiMXgXN","name":"Header Auth account"}},"notes":"0— 仅限不带照片的卡片\n1— 仅限带有照片的卡片\n-1— 所有卡片"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n\nconst imgData = [] \n \nfor (const item of $input.first().json.cards) {\n  const nmId=item.nmID;\n  const vendorCode = item.vendorCode\n  let imgUrl=[]\n  if (JSON.stringify(item.characteristics).includes(\"白色\")) { \n    imgUrl=[\"http://hbxc.zone.id/images/\"+vendorCode+\"-1A-1.jpg\",\"https://basket-27.wbbasket.ru/vol5040/part504096/504096916/images/big/2.webp\",\"https://basket-27.wbbasket.ru/vol5040/part504096/504096916/images/big/3.webp\",\"https://basket-27.wbbasket.ru/vol5040/part504096/504096916/images/big/4.webp\"] \n  } else {\n     imgUrl=[\"https://hbxc.zone.id/images/\"+vendorCode+\"-0A-1.jpg\",\"https://basket-27.wbbasket.ru/vol5040/part504096/504096916/images/big/2.webp\",\"https://basket-27.wbbasket.ru/vol5040/part504096/504096916/images/big/3.webp\",\"https://basket-27.wbbasket.ru/vol5040/part504096/504096916/images/big/4.webp\"] \n  } \n  imgData.push({nmId:nmId,data:imgUrl})  \n}\n\nreturn imgData;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1376,192],"id":"6f2a7e45-3e96-4dc0-8488-49406f228da8","name":"Code"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n\nconst imgData = []\nconst color1 = [\"1\",\n\"https://basket-27.wbbasket.ru/vol5040/part504096/504096916/images/big/2.webp\",\n\"https://basket-27.wbbasket.ru/vol5040/part504096/504096916/images/big/3.webp\",\n\"https://basket-27.wbbasket.ru/vol5040/part504096/504096916/images/big/4.webp\"];\nconst color2 = [\"2\",\"https://basket-27.wbcontent.net/vol5040/part504086/504086971/images/big/2.webp\",\n\"https://basket-27.wbcontent.net/vol5040/part504086/504086971/images/big/3.webp\",\n\"https://basket-27.wbcontent.net/vol5040/part504086/504086971/images/big/4.webp\"];\n\nfor (const item of $input.first().json.cards) {\n  const nmId=item.nmID;\n  let imgUrl=[]\n  if (item.characteristics[0].value[0]=\"白色\") {\n    color1[0]=\"http://hbxc.zone.id/images/\"+item.vendorCode+\"-1A-1.jpg\"\n    imgUrl=color1\n  } else {\n    color1[0]=\"https://hbxc.zone.id/images/\"+item.vendorCode+\"-0A-1.jpg\"\n    imgUrl=color2\n  }\n    imgData.push({nmId:nmId,data:imgUrl})\n}\n\nreturn imgData;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4368,752],"id":"4ccdf410-4558-457e-9cde-3b4730ecb097","name":"Code8"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst data = {\n  \"settings\": {\n    \"sort\": {\n      \"ascending\": false\n    },\n    \"filter\": {  \n      \"withPhoto\": 0\n    },\n    \"cursor\": {   \n      \"limit\": 20\n    }\n  }\n}\n\nreturn data;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2016,176],"id":"19fa8361-7405-4ca6-b9d8-1ff6ffd45b3d","name":"Code9","notes":"0— 仅限不带照片的卡片\n1— 仅限带有照片的卡片\n-1— 所有卡片"},{"parameters":{"method":"POST","url":"=https://content-api.wildberries.ru/content/v3/media/save","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.toJsonString() }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-992,208],"id":"87048ecb-f328-43fe-beab-c41d9d5a3bb0","name":"添加图片","retryOnFail":true,"maxTries":5,"credentials":{"httpHeaderAuth":{"id":"v8juEeSd6jiMXgXN","name":"Header Auth account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1168,192],"id":"a9ca94e1-cb5c-4da5-91f2-3717fba66b3e","name":"Loop Over Items3"},{"parameters":{"amount":2,"path":"206c6f18-e55d-42c8-ba94-9f91838955b7"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-208,208],"id":"cd220b45-6c5a-47ed-b76c-fc27ffd0a869","name":"Wait1","webhookId":"206c6f18-e55d-42c8-ba94-9f91838955b7"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a1d47430-23e7-4755-b6ce-f3036d38cb1d","leftValue":"={{ $json.cursor.total }}","rightValue":1,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1632,176],"id":"c4ed2c0f-4b40-41f8-a0c6-1920ec7c80ce","name":"If4"},{"parameters":{"content":"## 添加图片\n重复查询没有图片的商品卡，100条为一批，进行添加图片\n","height":340,"width":2104},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2096,96],"id":"a0de7f73-cd94-4e97-8ce7-07c09df34cf4","name":"Sticky Note1"},{"parameters":{"operation":"xlsx","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[464,560],"id":"c07434a5-fa28-48c4-98ef-96eca607b011","name":"Convert to File1"},{"parameters":{"operation":"xlsx","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[64,560],"id":"76b9df6b-9af7-4e2b-975e-12bf4d1688c0","name":"已经修改的数据2","alwaysOutputData":true},{"parameters":{"jsCode":" \nconst skuID=  [\n { SKU: $('Loop Over Items2').first().json.SKU,\n  \"color\":$('Loop Over Items2').first().json.color}\n  \n];\n// 获取前序节点的数据\nconst inputData = [];\nfor (const element of $input.all()) {\n  inputData.push(element.json)\n}\n \n// 合并对象\nconst mergedObj = [...inputData, ...skuID];\n\nconsole.log(mergedObj)\n// 返回合并后的对象\nreturn mergedObj;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[256,560],"id":"7af75d14-4d40-48a6-ae69-ace7bb6516de","name":"Code10"},{"parameters":{"operation":"xlsx","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-4128,496],"id":"5d63d0b8-3a4f-418c-bc8e-3ee748628462","name":"Add","alwaysOutputData":true},{"parameters":{"operation":"xlsx","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-3552,496],"id":"39718760-da8a-4636-85ad-7ac7cd040c2c","name":"Add2","alwaysOutputData":true},{"parameters":{"fileSelector":"=D:/WB/WB-n8n-add.xlsx","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-4352,496],"id":"d3382f4c-3dc0-4a2d-8f54-cd10e2b29267","name":"准备添加的","executeOnce":true,"alwaysOutputData":true,"notesInFlow":true,"notes":"WB-n8n-add.xlsx"},{"parameters":{"fileSelector":"=D:/WB/WB-n8n-add2.xlsx","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-3840,496],"id":"2e29d800-3245-4755-940d-46280ed65bcd","name":"已经添加的","executeOnce":true,"alwaysOutputData":true,"notesInFlow":true,"notes":"WB-n8n-add2.xlsx"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"527b7177-a62f-44d3-a2d8-dca991b476e1","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3088,496],"id":"d674f156-2ccb-4ec1-8f6f-c27555816fb3","name":"If"},{"parameters":{"fileSelector":"=D:/WB/image/{{ $('Loop Over Items2').item.json.SKU }}.png","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-1792,1104],"id":"adfbab18-a9b6-4426-a440-1beb245b7181","name":"读取图片","alwaysOutputData":true},{"parameters":{"method":"POST","url":"https://dashscope.aliyuncs.com/compatible-mode/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer sk-5b4a20c638064a11af987b370268149e"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.qwenRequest.toJsonString() }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1248,1072],"id":"c08f7400-8548-4add-ba7e-422c8188db4e","name":"Qwen-VL-Plus 视觉问答"},{"parameters":{"promptType":"define","text":"=指令：\n根据以下图片分析，生成一个俄语商品标题。\n分析结果： {{ $json.choices[0].message.content }}\n标题要求：\n1.以“Футболка с принтом”开头。\n2.总字符数含空格严格在48字符内,不包含符号（.\"\" :）。\n3.只描述印花风格和主题，内容精简。\n4.输出仅为最终标题。","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-1056,1056],"id":"909788c7-a526-4d90-8a8f-7544f3b12090","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[-1040,1232],"id":"c0aacd35-826b-4f17-ae34-2b2e3ea95b3f","name":"DeepSeek Chat Model","credentials":{"deepSeekApi":{"id":"SqCQclW6xyEDnzHA","name":"DeepSeek account"}}},{"parameters":{"jsCode":" \n// 从上一个节点获取二进制图片数据\nconst imageBinary =$input.first().binary.data;\n\nif (!imageBinary) {\n  throw new Error(\"没有获取到图片数据，请检查上一个节点的配置\");\n}\n\n// 获取图片MIME类型\nconst mimeType = imageBinary.mimeType || 'image/jpeg';\n// 将二进制数据转换为Base64\nconst base64Image = imageBinary.data.toString('base64'); \n\n\n\n\n// 创建符合Qwen API要求的请求体\nconst requestBody ={\n  \"model\": \"qwen-vl-plus\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": `data:${mimeType};base64,${base64Image}`\n          }\n        },\n        {\n          \"type\": \"text\",\n          \"text\": \"请用一句话描述这张T恤印花的核心要素：1.图案是什么？（主体）。1.是什么风格？（风格）。2.看起来怎么样？（氛围/感觉）。请用中文直接回答，无需客套话。\"\n        }\n      ]\n    }\n  ]\n};\n\nreturn {\n  json: {\n    qwenRequest: requestBody,\n    imageMimeType: mimeType\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1408,1072],"id":"ea83c61d-8e24-45cf-86f6-9a8037045af9","name":"Code4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"da966847-99ab-449d-83a5-45eed8f3aeaa","leftValue":"={{ $json.mimeType }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1616,1104],"id":"8d4856b9-cc25-4891-9bae-e4496502f38c","name":"If5","notes":"判断是否有图片"},{"parameters":{"content":"## 根据图片生成标题\n","height":400,"width":1280},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1936,976],"id":"97b7d959-bd39-4963-a86c-f3f6e8c8276c","name":"Sticky Note2"},{"parameters":{"operation":"write","fileName":"D:/WB/WB-n8n-add2.xlsx","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[704,560],"id":"66aa18d5-efdb-42f5-a5fb-42595d163562","name":"WB-n8n-add2"},{"parameters":{"fileSelector":"=D:/WB/WB-n8n-add2.xlsx","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-160,560],"id":"14178f3b-b96b-474a-af45-c51af8d50079","name":"WB-n8n-add"},{"parameters":{"method":"POST","url":"=https://content-api.wildberries.ru/content/v2/get/cards/list","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locale","value":"zh"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.toJsonString() }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2288,1072],"id":"0f5ca7f1-a968-461b-aece-d49edbee5bc6","name":"产品卡列表","retryOnFail":true,"maxTries":5,"credentials":{"httpHeaderAuth":{"id":"v8juEeSd6jiMXgXN","name":"Header Auth account"}}},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst data = {\n  \"settings\": {\n    \"sort\": {\n      \"ascending\": false\n    },\n    \"filter\": {  \n      \"textSearch\": $input.first().json.SKU,\n      \"withPhoto\": 0\n    },\n    \"cursor\": {   \n      \"limit\": 100\n    }\n  }\n}\n\nreturn data;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2480,1072],"id":"9812d700-7cbd-4cb7-9dff-eb3e5bc62362","name":"Code12"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"08a443b0-25e5-421e-81a7-ed5d4190567f","leftValue":"={{ $json.cursor.total }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2112,1072],"id":"322dca68-9ef8-447e-8fb5-90d8eda25e00","name":"If1"},{"parameters":{"content":"## 查重复\n","height":320,"width":580},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2528,1024],"id":"3d0e6c9c-ca24-4eff-8b47-4958569b50b9","name":"Sticky Note3"},{"parameters":{"method":"PUT","url":"=https://marketplace-api.wildberries.ru/api/v3/stocks/1153631","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.toJsonString() }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-528,-144],"id":"7e63e37a-443e-46e9-afad-c3b2a98bd205","name":"添加库存","retryOnFail":true,"maxTries":5},{"parameters":{"jsCode":"const data= {\"stocks\": []}\n\nfor (const element of $('产品卡列表3').first().json.cards) {\n  for (const element2 of element.sizes) { \n      data.stocks.push({\"sku\": element2.skus[0],\"amount\": 50}) \n    } \n}\nreturn data;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-944,-144],"id":"7b55ca13-e269-40a5-ba18-9e68a533f010","name":"Code3"},{"parameters":{"jsCode":"const dataTask = {\n  \"data\": [\n    {\n      \"nmID\": $('Loop Over Items3').first().json.nmId,\n      \"price\": 300,\n      \"discount\": 83\n    }\n  ]\n  }\n\n\nreturn dataTask;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-528,208],"id":"53a22b8e-2b49-43bd-af18-ea00b4b262ff","name":"Code5"},{"parameters":{"method":"POST","url":"https://discounts-prices-api.wildberries.ru/api/v2/upload/task","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.toJsonString() }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-384,208],"id":"9994dc8c-3d9f-405e-b2f8-3c7b6765f962","name":"添加价格","retryOnFail":true,"maxTries":5},{"parameters":{"url":"https://discounts-prices-api.wildberries.ru/api/v2/list/goods/filter","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"specifyQuery":"json","jsonQuery":"={\n  \"limit\":10,\n  \"offset\":0,\n  \"filterNmID\":{{ $('Loop Over Items3').item.json.nmId }}\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-816,272],"id":"1746fa41-7e99-43e9-ae29-11c63951fefa","name":"查询价格","retryOnFail":true,"maxTries":5},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8669b802-8c0d-4540-883f-14f565ff3e34","leftValue":"={{ $json.data.listGoods.length }}","rightValue":0,"operator":{"type":"number","operation":"equals"}},{"id":"5bec3088-c923-4ddf-bb14-936192225b27","leftValue":"={{ $json.data.listGoods[0].sizes[0].discountedPrice.toString() }}","rightValue":"300","operator":{"type":"string","operation":"equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-688,272],"id":"d685efb1-1676-4c18-89fb-5adbfe88304b","name":"If3"}],"connections":{"When clicking \"Test workflow\"":{"main":[[{"node":"基础数据","type":"main","index":0}]]},"基础数据":{"main":[[{"node":"验证指令","type":"main","index":0}]]},"验证指令":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"准备添加的","type":"main","index":0}]]},"Code1":{"main":[[{"node":"If","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"WB-n8n-add","type":"main","index":0}]]},"Loop Over Items2":{"main":[[{"node":"Code9","type":"main","index":0}],[{"node":"Code12","type":"main","index":0}]]},"Code6":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"获取条形码":{"main":[[{"node":"Code6","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"产品卡列表3":{"main":[[{"node":"If4","type":"main","index":0}]]},"Code9":{"main":[[{"node":"产品卡列表3","type":"main","index":0}]]},"Code":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Loop Over Items3":{"main":[[{"node":"Code3","type":"main","index":0}],[{"node":"添加图片","type":"main","index":0}]]},"添加图片":{"main":[[{"node":"查询价格","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"If4":{"main":[[],[{"node":"Code","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"WB-n8n-add2","type":"main","index":0}]]},"已经修改的数据2":{"main":[[{"node":"Code10","type":"main","index":0}]]},"Code10":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Add":{"main":[[{"node":"已经添加的","type":"main","index":0}]]},"Add2":{"main":[[{"node":"Code1","type":"main","index":0}]]},"准备添加的":{"main":[[{"node":"Add","type":"main","index":0}]]},"已经添加的":{"main":[[{"node":"Add2","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}],[{"node":"Code9","type":"main","index":0}]]},"读取图片":{"main":[[{"node":"If5","type":"main","index":0}]]},"Qwen-VL-Plus 视觉问答":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"获取条形码","type":"main","index":0}]]},"DeepSeek Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Code4":{"main":[[{"node":"Qwen-VL-Plus 视觉问答","type":"main","index":0}]]},"If5":{"main":[[{"node":"Code4","type":"main","index":0}]]},"WB-n8n-add2":{"main":[[{"node":"Wait","type":"main","index":0}]]},"WB-n8n-add":{"main":[[{"node":"已经修改的数据2","type":"main","index":0}]]},"Code12":{"main":[[{"node":"产品卡列表","type":"main","index":0}]]},"产品卡列表":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"WB-n8n-add","type":"main","index":0}],[{"node":"读取图片","type":"main","index":0}]]},"添加库存":{"main":[[{"node":"Code9","type":"main","index":0}]]},"Code3":{"main":[[{"node":"添加库存","type":"main","index":0}]]},"Code5":{"main":[[{"node":"添加价格","type":"main","index":0}]]},"添加价格":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"查询价格":{"main":[[{"node":"If3","type":"main","index":0}]]},"If3":{"main":[[{"node":"Code5","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"115f5029-d4c1-4e84-b55c-26c6830f0993","triggerCount":0,"shared":[{"createdAt":"2025-09-10T09:16:28.067Z","updatedAt":"2025-09-10T09:16:28.067Z","role":"workflow:owner","workflowId":"3WxjfxcU72pHYbaZ","projectId":"EZ8bcuL9uFigLvTh"}],"tags":[]}