workflows/WB-修改图片.json
{"createdAt":"2025-09-19T02:29:08.609Z","updatedAt":"2025-09-19T03:38:36.000Z","id":"fSswUuseOo7mxZpq","name":"WB-修改图片","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1568,72],"id":"20764499-a395-4002-875b-4084124e46a1","name":"When clicking ‘Execute workflow’"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst data = {\n  \"settings\": {\n    \"sort\": {\n      \"ascending\": false\n    },\n    \"filter\": { \n      \"textSearch\":$input.first().json.SKU,\n      \"withPhoto\": -1\n    },\n    \"cursor\": {   \n      \"limit\": 100\n    }\n  }\n}\n\nreturn data;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0],"id":"567714dc-593a-493d-947d-3e4149bded7f","name":"Code9"},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2016,72],"id":"0f55e42f-ba7b-4568-8778-4a54e6a39a23","name":"Wait","webhookId":"ffac44b7-d62c-4ac6-8c11-5966124496cf"},{"parameters":{"operation":"xlsx","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1568,0],"id":"99d02a62-3499-4f56-9b51-0921c6f6ad73","name":"Convert to File1"},{"parameters":{"operation":"xlsx","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1120,0],"id":"26108bfc-ff5a-4569-9423-f2a0ba593e68","name":"已经修改的数据2","alwaysOutputData":true},{"parameters":{"jsCode":" \nconst skuID=  [\n { SKU: $('Loop Over Items').first().json.SKU\n  \n  // ,\"color\":$('Loop Over Items2').first().json.color\n   }\n];\n// 获取前序节点的数据\nconst inputData = [];\nfor (const element of $input.all()) {\n  inputData.push(element.json)\n}\n \n// 合并对象\nconst mergedObj = [...inputData, ...skuID];\n\nconsole.log(mergedObj)\n// 返回合并后的对象\nreturn mergedObj;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1344,0],"id":"842d0c92-1025-4ea5-8f2a-180540a44847","name":"Code10"},{"parameters":{"operation":"write","fileName":"D:/WB/WB-img2.xlsx","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1792,0],"id":"0a8c2ba5-309e-404a-af43-c76e77e32f64","name":"WB-n8n5"},{"parameters":{"fileSelector":"=D:/WB/WB-img2.xlsx","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[896,0],"id":"a2683a7b-7468-45dc-89f2-17eadcb150de","name":"已经添加的1"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst array1 = $input.all()\nconst array2 = $('Add').all() //准备添加的数据\n\n\nconst removeSet = {};\nfor (const item of array1) {\n    removeSet[item.json.SKU] = true;\n}\n\n// 创建过滤后的数组\nconst filteredArray = [];\nfor (const item of array2) {\n    if (!removeSet[item.json.SKU]) {\n        filteredArray.push(item);\n    }\n}\n\nreturn filteredArray;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-448,72],"id":"c17124ac-0915-47f7-9be7-12d83ca99fa7","name":"Code1","executeOnce":false,"alwaysOutputData":true,"notes":"过滤已经添加的数据"},{"parameters":{"operation":"xlsx","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-1120,72],"id":"a03d7d10-bfa0-4457-9b88-0e04e19c9378","name":"Add","alwaysOutputData":true},{"parameters":{"operation":"xlsx","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-672,72],"id":"1829e261-570f-4c79-85ef-f1ae464e193a","name":"Add2","alwaysOutputData":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-224,72],"id":"5e2d1a1b-8ca8-4053-a99b-6c91352adfa5","name":"Loop Over Items"},{"parameters":{"fileSelector":"=D:/WB/WB-img.xlsx","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-1344,72],"id":"88d0174e-b877-47b7-98a5-d1d877e5478d","name":"需要修改标题的SKU","executeOnce":true,"alwaysOutputData":true,"notesInFlow":true,"notes":"WB-n8n-add.xlsx"},{"parameters":{"fileSelector":"=D:/WB/WB-img2.xlsx","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-896,72],"id":"873033cb-1f13-44a0-a80b-7e978f4e68c8","name":"已经修改的","executeOnce":true,"alwaysOutputData":true,"notesInFlow":true,"notes":"WB-n8n-add2.xlsx"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n\nconst imgData = [] \n \nfor (const item of $input.first().json.cards) {\n  let imgUrl=[]\n  for (const element of item.photos) {\n    imgUrl.push(element.big)\n  } \n  const nmId=item.nmID; \n if (JSON.stringify(item.characteristics).includes(\"白色\")) { \n   imgUrl[0]=\"https://hbxc.zone.id/images/\"+item.vendorCode+\"-1A-1.jpg\"\n  } else {\n   imgUrl[0]=\"https://hbxc.zone.id/images/\"+item.vendorCode+\"-0A-1.jpg\"\n  } \n  imgData.push({nmId:nmId,data:imgUrl})  \n}\n\nreturn imgData;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,0],"id":"5625d32f-7456-49c2-91d8-3cc510e5507a","name":"Code"},{"parameters":{"method":"POST","url":"=https://content-api.wildberries.ru/content/v3/media/save","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.toJsonString() }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[672,0],"id":"5d3bdf77-3ca4-44aa-bc61-651f27d16107","name":"添加图片","retryOnFail":true,"maxTries":5,"credentials":{"httpHeaderAuth":{"id":"v8juEeSd6jiMXgXN","name":"Header Auth account"}},"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"=https://content-api.wildberries.ru/content/v2/get/cards/list","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locale","value":"zh"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.toJsonString() }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[160,0],"id":"b8d5c5d4-72ed-481d-b029-07307bee05b4","name":"产品卡列表3","retryOnFail":true,"maxTries":5,"credentials":{"httpHeaderAuth":{"id":"v8juEeSd6jiMXgXN","name":"Header Auth account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"08a443b0-25e5-421e-81a7-ed5d4190567f","leftValue":"={{ $json.cursor.total }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[320,-128],"id":"4b96b826-cd7f-454d-8ee4-6067d24e6076","name":"If1"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"需要修改标题的SKU","type":"main","index":0}]]},"Code9":{"main":[[{"node":"产品卡列表3","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"WB-n8n5","type":"main","index":0}]]},"已经修改的数据2":{"main":[[{"node":"Code10","type":"main","index":0}]]},"Code10":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"已经添加的1":{"main":[[{"node":"已经修改的数据2","type":"main","index":0}]]},"WB-n8n5":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Add":{"main":[[{"node":"已经修改的","type":"main","index":0}]]},"Add2":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Code9","type":"main","index":0}]]},"需要修改标题的SKU":{"main":[[{"node":"Add","type":"main","index":0}]]},"已经修改的":{"main":[[{"node":"Add2","type":"main","index":0}]]},"Code":{"main":[[{"node":"添加图片","type":"main","index":0}]]},"添加图片":{"main":[[{"node":"已经添加的1","type":"main","index":0}]]},"产品卡列表3":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"已经添加的1","type":"main","index":0}],[{"node":"Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"98e4cb60-ff4e-4622-b84c-3e8ebb5b6869","triggerCount":0,"shared":[{"createdAt":"2025-09-19T02:29:08.617Z","updatedAt":"2025-09-19T02:29:08.617Z","role":"workflow:owner","workflowId":"fSswUuseOo7mxZpq","projectId":"EZ8bcuL9uFigLvTh"}],"tags":[]}