workflows/WB-修改标题.json
{"createdAt":"2025-09-08T07:03:49.013Z","updatedAt":"2025-09-19T02:37:52.000Z","id":"t0a15oQDWJBdOlaB","name":"WB-修改标题","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-3296,288],"id":"12cce2aa-1f7c-4f38-a848-577ae70b681e","name":"When clicking ‘Execute workflow’"},{"parameters":{"mode":"raw","jsonOutput":"={\n    \"apiKey\": {\n        \"txt\": \"API-密钥\",\n        \"HeaderApiKey\": \"eyJhbGciOiJFUzI1NiIsImtpZCI6IjIwMjUwNTIwdjEiLCJ0eXAiOiJKV1QifQ.eyJlbnQiOjEsImV4cCI6MTc2NDg4MjQ4NCwiaWQiOiIwMTk3M2Y1OC1mNmQ2LTdiMDgtYmExYi00ZGJjYWI2MmExNGMiLCJpaWQiOjE1MDc4MzM4NSwib2lkIjo0MDg5NTQ0LCJzIjo3OTM0LCJzaWQiOiJlMTUxNTJkZS1lMjMwLTQ1N2QtOWUwMC1hMTFhYWRmNTZjOTAiLCJ0IjpmYWxzZSwidWlkIjoxNTA3ODMzODV9.34N6qRrBjBpMSlyFTu0dXuEyA8itC_frfa6JvP6InFu3MRuAXFhTMYWWgKuoJr6GW3HlDcZew_k6GTbOtFtDnw\",\n        \"data\": \"\"\n    },\n    \"campaign\": {\n        \"txt\": \"分享秘钥是否正常\",\n        \"url\": \"https://common-api.wildberries.ru/ping\",\n        \"data\": {}\n    },\n  \"WB-n8n\":\"D:/产品/本土/主推产品/WB/服装/模板/WB-n8n.xlsx\",\n  \"WB-n8n2\":\"D:/产品/本土/主推产品/WB/服装/模板/WB-n8n2.xlsx\",\n  \"WB-n8n3\":\"D:/产品/本土/主推产品/WB/服装/模板/WB-n8n.xlsx\",\n  \"WB-n8n4\":\"D:/产品/本土/主推产品/WB/服装/模板/WB-n8n2.xlsx\",\n    \"productList\": {\n        \"txt\": \"产品列表\",\n        \"url\": \"https://content-api.wildberries.ru/content/v2/get/cards/list\",\n        \"query\": {\n            \"sort\": [\n                {\n                    \"columnID\": 11,\n                    \"order\": \"desc\"\n                }\n            ],\n            \"filter\": {\n                \"search\": \"\",\n                \"paidOptions\": {},\n                \"subjectIDs\": [\n                    192\n                ]\n            },\n            \"cursor\": {\n                \"n\": 20\n            }\n        },\n        \"data\": {}\n    }\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3088,288],"id":"9eeb3ab1-12ba-459c-b7c6-ad0af42b7741","name":"基础数据"},{"parameters":{"url":"={{ $json.campaign.url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2864,288],"id":"3b60e21c-c4fb-439a-baa0-eb70f77c0fed","name":"验证指令","alwaysOutputData":false,"credentials":{"httpHeaderAuth":{"id":"v8juEeSd6jiMXgXN","name":"Header Auth account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f0d87aae-2fca-4b37-8394-eaf7ac14fece","leftValue":"={{ $json.Status }}","rightValue":"OK","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2640,288],"id":"4f691e89-cd02-4640-b5a7-617a7c63e417","name":"If2"},{"parameters":{"method":"POST","url":"=https://content-api.wildberries.ru/content/v2/get/cards/list","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locale","value":"zh"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.toJsonString() }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-880,208],"id":"07ca3458-8e29-41bc-8dcb-51e77acb5bdd","name":"产品卡列表3","retryOnFail":true,"maxTries":5,"credentials":{"httpHeaderAuth":{"id":"v8juEeSd6jiMXgXN","name":"Header Auth account"}}},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst data = {\n  \"settings\": {\n    \"sort\": {\n      \"ascending\": false\n    },\n    \"filter\": { \n      \"textSearch\":$('Loop Over Items').first().json.SKU,\n      \"withPhoto\": -1\n    },\n    \"cursor\": {   \n      \"limit\": 100\n    }\n  }\n}\n\nreturn data;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1104,208],"id":"4079741d-3632-45e4-8c10-a0425d134d6b","name":"Code9"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst array1 = $input.all()\nconst array2 = $('Add').all() //准备添加的数据\n\n\nconst removeSet = {};\nfor (const item of array1) {\n    removeSet[item.json.SKU] = true;\n}\n\n// 创建过滤后的数组\nconst filteredArray = [];\nfor (const item of array2) {\n    if (!removeSet[item.json.SKU]) {\n        filteredArray.push(item);\n    }\n}\n\nreturn filteredArray;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1536,288],"id":"04a6bf83-c67e-431d-9ab3-7b2355056cb7","name":"Code1","executeOnce":false,"alwaysOutputData":true,"notes":"过滤已经添加的数据"},{"parameters":{"operation":"xlsx","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-2208,288],"id":"f58e7869-5098-4489-bf68-c233c76ce08f","name":"Add","alwaysOutputData":true},{"parameters":{"operation":"xlsx","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-1760,288],"id":"8fda61ad-d45f-4c5d-8d97-fcdb9c4afa08","name":"Add2","alwaysOutputData":true},{"parameters":{"fileSelector":"=D:/WB/WB-title.xlsx","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-2416,288],"id":"3d70808b-1979-41d0-9ddc-04479636221c","name":"准备添加的","executeOnce":true,"alwaysOutputData":true},{"parameters":{"fileSelector":"=D:/WB/WB-title2.xlsx","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-1984,288],"id":"36935202-76dd-4ff9-80c6-e87536552423","name":"已经添加的","executeOnce":true,"alwaysOutputData":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1328,288],"id":"cb2fcab2-2537-447e-84e6-7bc12886a72f","name":"Loop Over Items"},{"parameters":{"jsCode":"\n$('产品卡列表3').first().json.cards[0].title= $input.first().json.output;\n\nreturn $('产品卡列表3').first().json.cards[0];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[832,0],"id":"456da7c6-1ce5-400c-9445-38a3a433b98d","name":"Code5"},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2368,400],"id":"a6e212a4-1748-4f20-94ed-3da71a6b5eb1","name":"Wait","webhookId":"07a5c95d-d4d1-4715-a039-f2d726446cd3"},{"parameters":{"operation":"xlsx","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1920,272],"id":"4a259b71-a877-4f39-88a4-84b0ef48b088","name":"Convert to File1"},{"parameters":{"operation":"xlsx","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1488,272],"id":"f7242dd2-93bb-4bce-a38c-2d85bb165606","name":"已经修改的数据2","alwaysOutputData":true},{"parameters":{"jsCode":" \nconst skuID=  [\n { SKU: $('Loop Over Items').first().json.SKU\n  \n  // ,\"color\":$('Loop Over Items2').first().json.color\n   }\n];\n// 获取前序节点的数据\nconst inputData = [];\nfor (const element of $input.all()) {\n  inputData.push(element.json)\n}\n \n// 合并对象\nconst mergedObj = [...inputData, ...skuID];\n\nconsole.log(mergedObj)\n// 返回合并后的对象\nreturn mergedObj;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1712,272],"id":"886aaf22-ea49-4890-88bb-0f34ae614c2e","name":"Code10"},{"parameters":{"operation":"write","fileName":"D:/WB/WB-title2.xlsx","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[2144,272],"id":"27cae182-1080-4228-9ff6-17cba13312a0","name":"WB-n8n5"},{"parameters":{"fileSelector":"=D:/WB/WB-title2.xlsx","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1264,272],"id":"bcf78d8d-c476-4591-8d7a-1f3225eb4ad9","name":"已经添加的1"},{"parameters":{"fileSelector":"=D:/WB/image/{{ $json.cards[0].vendorCode  }}.png","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-448,144],"id":"152ff778-2c1d-4fdf-9fe3-6bbc0f9e7822","name":"读取图片","alwaysOutputData":true},{"parameters":{"jsCode":" \n// 从上一个节点获取二进制图片数据\nconst imageBinary =$input.first().binary.data;\n\nif (!imageBinary) {\n  throw new Error(\"没有获取到图片数据，请检查上一个节点的配置\");\n}\n\n// 获取图片MIME类型\nconst mimeType = imageBinary.mimeType || 'image/jpeg';\n// 将二进制数据转换为Base64\nconst base64Image = imageBinary.data.toString('base64'); \n\n\n\n\n// 创建符合Qwen API要求的请求体\nconst requestBody ={\n  \"model\": \"qwen-vl-plus-2025-08-15\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": `data:${mimeType};base64,${base64Image}`\n          }\n        },\n        {\n          \"type\": \"text\",\n          \"text\": \"请分析并描述该印花图案的整体艺术风格。识别图片中印花的风格类型（例如：民族风、波普、巴洛克等）。\"\n        }\n      ]\n    }\n  ]\n};\n\nreturn {\n  json: {\n    qwenRequest: requestBody,\n    imageMimeType: mimeType\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0],"id":"970a45ed-dc5e-4289-8143-a7d5be2e52e7","name":"Code2"},{"parameters":{"method":"POST","url":"https://dashscope.aliyuncs.com/compatible-mode/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer sk-5b4a20c638064a11af987b370268149e"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.qwenRequest.toJsonString() }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,0],"id":"6a866e6f-8136-4801-9e20-36a0dadd5e31","name":"Qwen-VL-Plus 视觉问答"},{"parameters":{"method":"POST","url":"https://content-api.wildberries.ru/content/v2/cards/update","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"=[{{ $json.toJsonString() }}]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1040,0],"id":"231fdcbf-fb11-49e6-b36b-cbc1d32a8d60","name":"修改商品卡","credentials":{"httpHeaderAuth":{"id":"v8juEeSd6jiMXgXN","name":"Header Auth account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"da966847-99ab-449d-83a5-45eed8f3aeaa","leftValue":"={{ $json.mimeType }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-224,144],"id":"ee3f1dad-a1e3-4a30-81f8-7f61990e1009","name":"If","notes":"判断是否有图片"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5d7e7dba-4c97-42d0-9e42-4719f353cc74","leftValue":"={{ $json.cursor.total }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-656,208],"id":"5b31bccd-14b6-4619-b2ed-0cc4b62ebe88","name":"If1"},{"parameters":{"promptType":"define","text":"=指令：\n根据以下图片分析，生成一个俄语商品标题。\n分析结果： {{ $json.choices[0].message.content }}\n标题要求：\n以“Футболка с принтом”开头，不包含图案中的任何文字内容，总长度包含空格严格控制在52个字符内，不带符号。只需输出最终标题。\n\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[448,0],"id":"335917e4-edbf-4377-bcd7-ec7a0ae10012","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[544,224],"id":"8834f050-3178-4cd0-8fec-2ca6814c5667","name":"DeepSeek Chat Model","credentials":{"deepSeekApi":{"id":"SqCQclW6xyEDnzHA","name":"DeepSeek account"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"基础数据","type":"main","index":0}]]},"基础数据":{"main":[[{"node":"验证指令","type":"main","index":0}]]},"验证指令":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"准备添加的","type":"main","index":0}]]},"Code9":{"main":[[{"node":"产品卡列表3","type":"main","index":0}]]},"Add":{"main":[[{"node":"已经添加的","type":"main","index":0}]]},"Add2":{"main":[[{"node":"Code1","type":"main","index":0}]]},"准备添加的":{"main":[[{"node":"Add","type":"main","index":0}]]},"已经添加的":{"main":[[{"node":"Add2","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Code9","type":"main","index":0}]]},"产品卡列表3":{"main":[[{"node":"If1","type":"main","index":0}]]},"Code5":{"main":[[{"node":"修改商品卡","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"WB-n8n5","type":"main","index":0}]]},"已经修改的数据2":{"main":[[{"node":"Code10","type":"main","index":0}]]},"Code10":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"已经添加的1":{"main":[[{"node":"已经修改的数据2","type":"main","index":0}]]},"WB-n8n5":{"main":[[{"node":"Wait","type":"main","index":0}]]},"读取图片":{"main":[[{"node":"If","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Qwen-VL-Plus 视觉问答","type":"main","index":0}]]},"Qwen-VL-Plus 视觉问答":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"修改商品卡":{"main":[[{"node":"已经添加的1","type":"main","index":0}]]},"If":{"main":[[{"node":"Code2","type":"main","index":0}],[{"node":"已经添加的1","type":"main","index":0}]]},"If1":{"main":[[{"node":"读取图片","type":"main","index":0}],[{"node":"已经添加的1","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Code5","type":"main","index":0}]]},"DeepSeek Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b0ca7e66-ba68-4f60-9921-55b737943fd0","triggerCount":0,"shared":[{"createdAt":"2025-09-08T07:03:49.017Z","updatedAt":"2025-09-08T07:03:49.017Z","role":"workflow:owner","workflowId":"t0a15oQDWJBdOlaB","projectId":"EZ8bcuL9uFigLvTh"}],"tags":[]}