workflows/WB-修改草稿里的标题.json
{"createdAt":"2025-09-19T02:40:03.396Z","updatedAt":"2025-09-19T02:54:03.000Z","id":"tYb1Ob5fmBps4CXy","name":"WB-修改草稿里的标题","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-3296,268],"id":"758d11b7-54d0-44af-b268-59601dd131a6","name":"When clicking ‘Execute workflow’"},{"parameters":{"mode":"raw","jsonOutput":"={\n    \"apiKey\": {\n        \"txt\": \"API-密钥\",\n        \"HeaderApiKey\": \"eyJhbGciOiJFUzI1NiIsImtpZCI6IjIwMjUwNTIwdjEiLCJ0eXAiOiJKV1QifQ.eyJlbnQiOjEsImV4cCI6MTc2NDg4MjQ4NCwiaWQiOiIwMTk3M2Y1OC1mNmQ2LTdiMDgtYmExYi00ZGJjYWI2MmExNGMiLCJpaWQiOjE1MDc4MzM4NSwib2lkIjo0MDg5NTQ0LCJzIjo3OTM0LCJzaWQiOiJlMTUxNTJkZS1lMjMwLTQ1N2QtOWUwMC1hMTFhYWRmNTZjOTAiLCJ0IjpmYWxzZSwidWlkIjoxNTA3ODMzODV9.34N6qRrBjBpMSlyFTu0dXuEyA8itC_frfa6JvP6InFu3MRuAXFhTMYWWgKuoJr6GW3HlDcZew_k6GTbOtFtDnw\",\n        \"data\": \"\"\n    },\n    \"campaign\": {\n        \"txt\": \"分享秘钥是否正常\",\n        \"url\": \"https://common-api.wildberries.ru/ping\",\n        \"data\": {}\n    },\n  \"WB-n8n\":\"D:/产品/本土/主推产品/WB/服装/模板/WB-n8n.xlsx\",\n  \"WB-n8n2\":\"D:/产品/本土/主推产品/WB/服装/模板/WB-n8n2.xlsx\",\n  \"WB-n8n3\":\"D:/产品/本土/主推产品/WB/服装/模板/WB-n8n.xlsx\",\n  \"WB-n8n4\":\"D:/产品/本土/主推产品/WB/服装/模板/WB-n8n2.xlsx\",\n    \"productList\": {\n        \"txt\": \"产品列表\",\n        \"url\": \"https://content-api.wildberries.ru/content/v2/get/cards/list\",\n        \"query\": {\n            \"sort\": [\n                {\n                    \"columnID\": 11,\n                    \"order\": \"desc\"\n                }\n            ],\n            \"filter\": {\n                \"search\": \"\",\n                \"paidOptions\": {},\n                \"subjectIDs\": [\n                    192\n                ]\n            },\n            \"cursor\": {\n                \"n\": 20\n            }\n        },\n        \"data\": {}\n    }\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3072,268],"id":"7d16cff8-756e-404c-a162-e378f35d8ac3","name":"基础数据"},{"parameters":{"url":"={{ $json.campaign.url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2848,268],"id":"a7f87b7e-aedb-4ed4-9c45-12e5bdaf4d32","name":"验证指令","alwaysOutputData":false,"credentials":{"httpHeaderAuth":{"id":"v8juEeSd6jiMXgXN","name":"Header Auth account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f0d87aae-2fca-4b37-8394-eaf7ac14fece","leftValue":"={{ $json.Status }}","rightValue":"OK","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2624,268],"id":"94a6d36a-9368-4c3f-90b3-7000680e73e4","name":"If2"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst array1 = $input.all()\n \n// 创建过滤后的数组\nconst filteredArray = [];\nfor (const item of array1[0].json.data.items) {\n    filteredArray.push(item);\n}\n \nreturn filteredArray;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1952,268],"id":"fb3b6a73-5a96-4cb3-a5a4-815c2281cff1","name":"Code1","executeOnce":false,"alwaysOutputData":true,"notes":"过滤已经添加的数据"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1728,268],"id":"266ed564-df31-40c3-82ee-569c66b5a93d","name":"Loop Over Items"},{"parameters":{"jsCode":"\n$('产品卡列表3').first().json.cards[0].title= $input.first().json.output;\n\nreturn $('产品卡列表3').first().json.cards[0];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[416,0],"id":"98ed74df-3713-4b56-8368-1791444fd5b8","name":"Code5"},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[864,320],"id":"813c281a-fa76-4160-b296-60ed1b01576f","name":"Wait","webhookId":"9a356225-ed03-48c1-9318-6fb0b3fb21ca"},{"parameters":{"fileSelector":"=D:/WB/image/{{ $json.cards[0].vendorCode  }}.png","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-832,124],"id":"9d021419-5a2b-452c-8252-e5341ab4ea8e","name":"读取图片","alwaysOutputData":true},{"parameters":{"jsCode":" \n// 从上一个节点获取二进制图片数据\nconst imageBinary =$input.first().binary.data;\n\nif (!imageBinary) {\n  throw new Error(\"没有获取到图片数据，请检查上一个节点的配置\");\n}\n\n// 获取图片MIME类型\nconst mimeType = imageBinary.mimeType || 'image/jpeg';\n// 将二进制数据转换为Base64\nconst base64Image = imageBinary.data.toString('base64'); \n\n\n\n\n// 创建符合Qwen API要求的请求体\nconst requestBody ={\n  \"model\": \"qwen-vl-plus-2025-08-15\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": `data:${mimeType};base64,${base64Image}`\n          }\n        },\n        {\n          \"type\": \"text\",\n          \"text\": \"请分析并描述该印花图案的整体艺术风格。识别图片中印花的风格类型（例如：民族风、波普、巴洛克等）。\"\n        }\n      ]\n    }\n  ]\n};\n\nreturn {\n  json: {\n    qwenRequest: requestBody,\n    imageMimeType: mimeType\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-384,0],"id":"4b069025-b304-4e3e-893a-dff7d5a12e5f","name":"Code2"},{"parameters":{"method":"POST","url":"https://dashscope.aliyuncs.com/compatible-mode/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer sk-5b4a20c638064a11af987b370268149e"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.qwenRequest.toJsonString() }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-160,0],"id":"1e0339b1-c215-4982-b2a4-5e0cff91745e","name":"Qwen-VL-Plus 视觉问答"},{"parameters":{"method":"POST","url":"https://content-api.wildberries.ru/content/v2/cards/update","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"=[{{ $json.toJsonString() }}]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[640,0],"id":"a5c908d2-6abf-42c6-b70f-0228c3a7f42c","name":"修改商品卡","credentials":{"httpHeaderAuth":{"id":"v8juEeSd6jiMXgXN","name":"Header Auth account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"da966847-99ab-449d-83a5-45eed8f3aeaa","leftValue":"={{ $json.mimeType }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-608,124],"id":"082b538f-cc7d-4057-9035-e2a32fb4b527","name":"If","notes":"判断是否有图片"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5d7e7dba-4c97-42d0-9e42-4719f353cc74","leftValue":"={{ $json.cursor.total }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1056,196],"id":"d16aac49-e711-4476-835e-04acd22303a2","name":"If1"},{"parameters":{"promptType":"define","text":"=指令：\n根据以下图片分析，生成一个俄语商品标题。\n分析结果： {{ $json.choices[0].message.content }}\n标题要求：\n以“Футболка с принтом”开头，不包含图案中的任何文字内容，总长度包含空格严格控制在52个字符内，不带符号。只需输出最终标题。\n\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[64,0],"id":"92445356-9279-4887-a5b7-26cdf0d6782e","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[136,224],"id":"d3e813ad-3a15-4305-b43d-df33c76e647e","name":"DeepSeek Chat Model","credentials":{"deepSeekApi":{"id":"SqCQclW6xyEDnzHA","name":"DeepSeek account"}}},{"parameters":{"method":"POST","url":"=https://content-api.wildberries.ru/content/v2/cards/error/list","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locale","value":"zh"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.toJsonString() }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2176,268],"id":"2112796d-4efa-43e3-93c9-56a687a4c54f","name":"产品卡列表","retryOnFail":true,"maxTries":5,"credentials":{"httpHeaderAuth":{"id":"v8juEeSd6jiMXgXN","name":"Header Auth account"}}},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst data = {\n  \"cursor\": {\n    \"limit\": 100,\n  },\n  \"order\": {\n    \"ascending\": true\n  }\n}\n\nreturn data;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2400,268],"id":"3b703206-2e1b-47d8-9cae-dcef874b7eba","name":"Code"},{"parameters":{"method":"POST","url":"=https://content-api.wildberries.ru/content/v2/get/cards/list","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locale","value":"zh"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.toJsonString() }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1280,196],"id":"3f08fa1c-4009-443f-a5b1-0bd90b3da942","name":"产品卡列表3","retryOnFail":true,"maxTries":5,"credentials":{"httpHeaderAuth":{"id":"v8juEeSd6jiMXgXN","name":"Header Auth account"}}},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst data = {\n  \"settings\": {\n    \"sort\": {\n      \"ascending\": false\n    },\n    \"filter\": { \n      \"textSearch\":$('Loop Over Items').first().json.vendorCodes[0],\n      \"withPhoto\": -1\n    },\n    \"cursor\": {   \n      \"limit\": 100\n    }\n  }\n}\n\nreturn data;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1504,196],"id":"a60f2226-c2fd-429c-83e1-9df007fe52a5","name":"Code9"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"基础数据","type":"main","index":0}]]},"基础数据":{"main":[[{"node":"验证指令","type":"main","index":0}]]},"验证指令":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Code9","type":"main","index":0}]]},"Code5":{"main":[[{"node":"修改商品卡","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"读取图片":{"main":[[{"node":"If","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Qwen-VL-Plus 视觉问答","type":"main","index":0}]]},"Qwen-VL-Plus 视觉问答":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"修改商品卡":{"main":[[{"node":"Wait","type":"main","index":0}]]},"If":{"main":[[{"node":"Code2","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"If1":{"main":[[{"node":"读取图片","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Code5","type":"main","index":0}]]},"DeepSeek Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"产品卡列表":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code":{"main":[[{"node":"产品卡列表","type":"main","index":0}]]},"产品卡列表3":{"main":[[{"node":"If1","type":"main","index":0}]]},"Code9":{"main":[[{"node":"产品卡列表3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"633565d3-1a3b-439a-a5ff-1d16845ec946","triggerCount":0,"shared":[{"createdAt":"2025-09-19T02:40:03.402Z","updatedAt":"2025-09-19T02:40:03.402Z","role":"workflow:owner","workflowId":"tYb1Ob5fmBps4CXy","projectId":"EZ8bcuL9uFigLvTh"}],"tags":[]}