workflows/WB-删除产品.json
{"createdAt":"2025-09-26T09:53:43.163Z","updatedAt":"2025-09-26T09:53:43.163Z","id":"NBBJu2Z9AoqSqrFg","name":"WB-删除产品","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-3984,820],"id":"0f6f77a2-6de9-4e0d-9b7f-df02bd1f6f93","name":"When clicking ‘Execute workflow’"},{"parameters":{"jsCode":" \nconst data = {\n  nmID :$('产品卡列表1').first().json.cursor.nmID,\n  updatedAt:$('产品卡列表1').first().json.cursor.updatedAt\n}\nreturn {data};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2640,484],"id":"2eaefd61-31cc-46a1-8e62-faf443ba270d","name":"Code6"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2e0b9127-5139-464c-8476-f4eb9511d8a3","leftValue":"={{ $json.cursor.total }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3312,700],"id":"f5ce09f1-31de-4b11-91ae-9a78269044eb","name":"If3"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2864,700],"id":"084807ad-18c1-41b0-82cd-3d047c5b2376","name":"Loop Over Items1"},{"parameters":{"amount":2,"path":"3e95ba6c-c190-489b-8424-b2fc7c502380"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-944,800],"id":"8cad4ca5-444b-4c48-8e9b-0091a4b13e96","name":"Wait2","webhookId":"3e95ba6c-c190-489b-8424-b2fc7c502380"},{"parameters":{"method":"POST","url":"=https://content-api.wildberries.ru/content/v2/get/cards/list","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locale","value":"zh"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.toJsonString() }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3536,700],"id":"53e2ce24-83c1-4556-81da-d7346272183a","name":"产品卡列表1","retryOnFail":true,"maxTries":5,"credentials":{"httpHeaderAuth":{"id":"v8juEeSd6jiMXgXN","name":"Header Auth account"}}},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst data = {\n  \"settings\": {\n    \"sort\": {\n      \"ascending\": false\n    },\n    \"filter\": {  \n      \"withPhoto\": 1,\n      \"objectIDs\": [192]\n    },\n    \"cursor\": {   \n      \"limit\": 100\n    }\n  }\n}\n  \nif ($input.first().json.data) {\n  data.settings.cursor.nmId=$input.first().json.data.nmID\n  data.settings.cursor.updatedAt=$input.first().json.data.updatedAt\n}\n\nreturn data;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3760,820],"id":"c55c26b0-40dc-411f-ac36-cc344f732fb4","name":"Code1","notes":"0 — 仅显示无照片的卡片 \n1 — 仅显示有照片的卡片 \n-1 — 所有卡片  -1 — all cards"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst data = []\nfor (const item of $input.first().json.cards) { \n  if (item.title==\"Футболка с принтом оверсайз\" ) {\n    data.push(item)\n  }\n}\n\nreturn data;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3088,700],"id":"f04f19ac-638a-4f4a-b792-da71fc9dc049","name":"Code in JavaScript"},{"parameters":{"jsCode":" const output = $input.first().json.output\n\n$('Loop Over Items1').first().json.title=output.length<58? output:\"Футболка с принтом оверсайз\"\n\nreturn $('Loop Over Items1').first();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1392,576],"id":"1a8793ba-2558-4cac-bf8d-49cdaabf4c24","name":"Code"},{"parameters":{"jsCode":" \n// 从上一个节点获取二进制图片数据\nconst imageBinary =$input.first().binary.data;\n\nif (!imageBinary) {\n  throw new Error(\"没有获取到图片数据，请检查上一个节点的配置\");\n}\n\n// 获取图片MIME类型\nconst mimeType = imageBinary.mimeType || 'image/jpeg';\n// 将二进制数据转换为Base64\nconst base64Image = imageBinary.data.toString('base64'); \n\n\n\n\n// 创建符合Qwen API要求的请求体\nconst requestBody ={\n  \"model\": \"qwen-vl-plus-2025-08-15\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": `data:${mimeType};base64,${base64Image}`\n          }\n        },\n        {\n          \"type\": \"text\",\n          \"text\": \"请分析并描述该印花图案的整体艺术风格。识别图片中印花的风格类型（例如：民族风、波普、巴洛克等）。输出内容控制在300字之内\"\n        }\n      ]\n    }\n  ]\n};\n\nreturn {\n  json: {\n    qwenRequest: requestBody,\n    imageMimeType: mimeType\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2192,576],"id":"c8d2c313-cd80-4c1c-9790-bdb953fb1d88","name":"Code3"},{"parameters":{"method":"POST","url":"https://dashscope.aliyuncs.com/compatible-mode/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer sk-5b4a20c638064a11af987b370268149e"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.qwenRequest.toJsonString() }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1968,576],"id":"12bf0923-20d0-486c-9c8f-7ab87965e74f","name":"Qwen-VL-Plus 视觉问答1"},{"parameters":{"method":"POST","url":"https://content-api.wildberries.ru/content/v2/cards/update","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"=[{{ $json.toJsonString() }}]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1168,576],"id":"5435f212-d7c3-491d-a49b-9c937847339d","name":"修改商品卡1","credentials":{"httpHeaderAuth":{"id":"v8juEeSd6jiMXgXN","name":"Header Auth account"}}},{"parameters":{"promptType":"define","text":"=指令：\n根据以下图片分析，生成一个俄语商品标题。\n分析结果： {{ $json.choices[0].message.content }}\n标题要求：\n以“Футболка с принтом”开头，不包含图案中的任何文字内容，总长度包含空格严格控制在50个字符内，不带符号。只需输出最终标题。\n\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-1744,576],"id":"f523b51a-7d98-4521-8b4d-8865eef20785","name":"AI Agent1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[-1744,768],"id":"bdbe30c4-5225-40a6-91d7-55f234627ce8","name":"DeepSeek Chat Model1","credentials":{"deepSeekApi":{"id":"SqCQclW6xyEDnzHA","name":"DeepSeek account"}}},{"parameters":{"fileSelector":"=D:/WB/image/{{ $json.vendorCode }}.png","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-2608,688],"id":"5031a19a-dab5-419b-93c0-23d69885b6de","name":"读取图片1","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"da966847-99ab-449d-83a5-45eed8f3aeaa","leftValue":"={{ $json.mimeType }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2416,676],"id":"8542bbbc-d5db-479a-baf2-2fedaca8f221","name":"If2","notes":"判断是否有图片"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code6":{"main":[[{"node":"Code1","type":"main","index":0}]]},"If3":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Code6","type":"main","index":0}],[{"node":"读取图片1","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"产品卡列表1":{"main":[[{"node":"If3","type":"main","index":0}]]},"Code1":{"main":[[{"node":"产品卡列表1","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Code":{"main":[[{"node":"修改商品卡1","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Qwen-VL-Plus 视觉问答1","type":"main","index":0}]]},"Qwen-VL-Plus 视觉问答1":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Code","type":"main","index":0}]]},"修改商品卡1":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"DeepSeek Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"读取图片1":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"Code3","type":"main","index":0}],[{"node":"Wait2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d8f09d8e-5b31-4ebb-b776-6fad29e16572","triggerCount":0,"shared":[{"createdAt":"2025-09-26T09:53:43.171Z","updatedAt":"2025-09-26T09:53:43.171Z","role":"workflow:owner","workflowId":"NBBJu2Z9AoqSqrFg","projectId":"EZ8bcuL9uFigLvTh"}],"tags":[]}