workflows/WB-根据图片返回标题.json
{"createdAt":"2025-09-11T09:38:14.805Z","updatedAt":"2025-09-13T07:36:12.000Z","id":"OcAORmRzk62nzniD","name":"WB-根据图片返回标题","active":false,"isArchived":false,"nodes":[{"parameters":{"path":"img-title","responseMode":"lastNode","responseData":"allEntries","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-2288,1056],"id":"a8a019d5-a2f5-404a-9ea1-bb08cd983b5f","name":"Webhook","webhookId":"ca56f6bd-1634-4196-886e-66cd57458e09"},{"parameters":{"jsCode":" \n// 从上一个节点获取二进制图片数据\nconst imageBinary =$input.first().binary.data;\n\nif (!imageBinary) {\n  throw new Error(\"没有获取到图片数据，请检查上一个节点的配置\");\n}\n\n// 获取图片MIME类型\nconst mimeType = imageBinary.mimeType || 'image/jpeg';\n// 将二进制数据转换为Base64\nconst base64Image = imageBinary.data.toString('base64'); \n\n\n\n\n// 创建符合Qwen API要求的请求体\nconst requestBody ={\n  \"model\": \"qwen-vl-plus\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": `data:${mimeType};base64,${base64Image}`\n          }\n        },\n        {\n          \"type\": \"text\",\n          \"text\": \"请用一句话描述这张T恤印花的核心要素：1.图案是什么？（主体）。1.是什么风格？（风格）。2.看起来怎么样？（氛围/感觉）。请用中文直接回答，无需客套话。\"\n        }\n      ]\n    }\n  ]\n};\n\nreturn {\n  json: {\n    qwenRequest: requestBody,\n    imageMimeType: mimeType\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1408,1048],"id":"39290295-9f22-402b-ba78-5e8abdb06c55","name":"Code4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"da966847-99ab-449d-83a5-45eed8f3aeaa","leftValue":"={{ $json.mimeType }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1664,1056],"id":"4b6e2c03-173f-4097-994c-e52a15d8313e","name":"If5","notes":"判断是否有图片"},{"parameters":{"fileSelector":"=D:/WB/image/{{ $json.query.title }}.png","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-1952,1056],"id":"7a17307d-7ea1-492e-9def-ae27dd893f61","name":"读取图片1","alwaysOutputData":true},{"parameters":{"method":"POST","url":"https://dashscope.aliyuncs.com/compatible-mode/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer sk-5b4a20c638064a11af987b370268149e"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.qwenRequest.toJsonString() }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1184,1048],"id":"e14f7de7-7529-42ad-8f85-3e9ef1d15e2b","name":"Qwen-VL-Plus 视觉问答1"},{"parameters":{"promptType":"define","text":"=指令：\n根据以下图片分析，生成一个俄语商品标题。\n分析结果： {{ $json.choices[0].message.content }}\n标题要求：\n1.以“Футболка с принтом”开头。\n2.总字符数含空格严格在48字符内,不包含符号（.\"\" :）。\n3.只描述印花风格和主题，内容精简。\n4.输出仅为最终标题。","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-960,1048],"id":"6ac29aec-6f60-44f4-8f6d-91939e889967","name":"AI Agent1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[-888,1272],"id":"71a0ceea-7b95-4373-b056-f569a2c2fe80","name":"DeepSeek Chat Model1","credentials":{"deepSeekApi":{"id":"SqCQclW6xyEDnzHA","name":"DeepSeek account"}}}],"connections":{"Code4":{"main":[[{"node":"Qwen-VL-Plus 视觉问答1","type":"main","index":0}]]},"If5":{"main":[[{"node":"Code4","type":"main","index":0}]]},"读取图片1":{"main":[[{"node":"If5","type":"main","index":0}]]},"Qwen-VL-Plus 视觉问答1":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"DeepSeek Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Webhook":{"main":[[{"node":"读取图片1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a0f10953-e055-4f02-bb80-39f540c1a0e6","triggerCount":1,"shared":[{"createdAt":"2025-09-11T09:38:14.813Z","updatedAt":"2025-09-11T09:38:14.813Z","role":"workflow:owner","workflowId":"OcAORmRzk62nzniD","projectId":"EZ8bcuL9uFigLvTh"}],"tags":[]}