workflows/WB-添加图片.json
{"createdAt":"2025-09-05T03:15:56.853Z","updatedAt":"2025-09-22T10:03:10.000Z","id":"d9oKD9XJdebSjICr","name":"WB-添加图片","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"3bca5f6f-384f-4de8-8bb0-b5c74e4f9a2e","name":"When clicking \"Test workflow\"","type":"n8n-nodes-base.manualTrigger","position":[-3696,352],"typeVersion":1},{"parameters":{"mode":"raw","jsonOutput":"={\n    \"apiKey\": {\n        \"txt\": \"API-密钥\",\n        \"HeaderApiKey\": \"eyJhbGciOiJFUzI1NiIsImtpZCI6IjIwMjUwNTIwdjEiLCJ0eXAiOiJKV1QifQ.eyJlbnQiOjEsImV4cCI6MTc2NDg4MjQ4NCwiaWQiOiIwMTk3M2Y1OC1mNmQ2LTdiMDgtYmExYi00ZGJjYWI2MmExNGMiLCJpaWQiOjE1MDc4MzM4NSwib2lkIjo0MDg5NTQ0LCJzIjo3OTM0LCJzaWQiOiJlMTUxNTJkZS1lMjMwLTQ1N2QtOWUwMC1hMTFhYWRmNTZjOTAiLCJ0IjpmYWxzZSwidWlkIjoxNTA3ODMzODV9.34N6qRrBjBpMSlyFTu0dXuEyA8itC_frfa6JvP6InFu3MRuAXFhTMYWWgKuoJr6GW3HlDcZew_k6GTbOtFtDnw\",\n        \"data\": \"\"\n    },\n    \"campaign\": {\n        \"txt\": \"分享秘钥是否正常\",\n        \"url\": \"https://common-api.wildberries.ru/ping\",\n        \"data\": {}\n    },\n  \"WB-n8n\":\"D:/产品/本土/主推产品/WB/服装/模板/WB-n8n.xlsx\",\n  \"WB-n8n2\":\"D:/产品/本土/主推产品/WB/服装/模板/WB-n8n2.xlsx\",\n  \"WB-n8n3\":\"D:/产品/本土/主推产品/WB/服装/模板/WB-n8n.xlsx\",\n  \"WB-n8n4\":\"D:/产品/本土/主推产品/WB/服装/模板/WB-n8n2.xlsx\",\n    \"productList\": {\n        \"txt\": \"产品列表\",\n        \"url\": \"https://content-api.wildberries.ru/content/v2/get/cards/list\",\n        \"query\": {\n            \"sort\": [\n                {\n                    \"columnID\": 11,\n                    \"order\": \"desc\"\n                }\n            ],\n            \"filter\": {\n                \"search\": \"\",\n                \"paidOptions\": {},\n                \"subjectIDs\": [\n                    192\n                ]\n            },\n            \"cursor\": {\n                \"n\": 20\n            }\n        },\n        \"data\": {}\n    }\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3472,352],"id":"6dbb03a8-4e65-4c64-8faa-6a4a21b01aa8","name":"基础数据"},{"parameters":{"url":"={{ $json.campaign.url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3248,352],"id":"6c032976-11e4-47b4-9757-92adcd7349df","name":"验证指令","alwaysOutputData":false,"credentials":{"httpHeaderAuth":{"id":"v8juEeSd6jiMXgXN","name":"Header Auth account"}}},{"parameters":{"method":"POST","url":"=https://content-api.wildberries.ru/content/v2/get/cards/list","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locale","value":"zh"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.toJsonString() }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2800,352],"id":"28f0e45b-3c63-41cf-b555-fc61f75fbc5a","name":"产品卡列表3","retryOnFail":true,"maxTries":5,"credentials":{"httpHeaderAuth":{"id":"v8juEeSd6jiMXgXN","name":"Header Auth account"}},"notes":"0— 仅限不带照片的卡片\n1— 仅限带有照片的卡片\n-1— 所有卡片"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n\nconst imgData = [] \n \nfor (const item of $input.first().json.cards) {\n  const nmId=item.nmID;\n  const vendorCode = item.vendorCode\n  let imgUrl=[]\n  if (JSON.stringify(item.characteristics).includes(\"白色\")) { \n    imgUrl=[\"http://hbxc.zone.id/images/\"+vendorCode+\"-1A-1.jpg\",\"https://basket-27.wbbasket.ru/vol5040/part504096/504096916/images/big/2.webp\",\"https://basket-27.wbbasket.ru/vol5040/part504096/504096916/images/big/3.webp\",\"https://basket-27.wbbasket.ru/vol5040/part504096/504096916/images/big/4.webp\"] \n  } else {\n     imgUrl=[\"https://hbxc.zone.id/images/\"+vendorCode+\"-0A-1.jpg\",\"http://hbxc.zone.id/images/03-0.jpg\",\"https://basket-27.wbbasket.ru/vol5040/part504096/504096916/images/big/3.webp\",\"https://basket-27.wbbasket.ru/vol5040/part504096/504096916/images/big/4.webp\"] \n  } \n  imgData.push({nmId:nmId,data:imgUrl})  \n}\n\nreturn imgData;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2336,352],"id":"3a0dc6b7-9f24-496b-b68d-6802d07ada4b","name":"Code"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst data = {\n  \"settings\": {\n    \"sort\": {\n      \"ascending\": false\n    },\n    \"filter\": {  \n      \"withPhoto\": 0\n    },\n    \"cursor\": {   \n      \"limit\": 40\n    }\n  }\n}\n\nreturn data;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3024,352],"id":"c0739446-6f86-4eb2-921e-fe37a1eeecf4","name":"Code9","notes":"0— 仅限不带照片的卡片\n1— 仅限带有照片的卡片\n-1— 所有卡片"},{"parameters":{"method":"POST","url":"=https://content-api.wildberries.ru/content/v3/media/save","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.toJsonString() }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1904,368],"id":"caa37aa9-c125-4759-8653-51fbd0812080","name":"添加图片","retryOnFail":true,"maxTries":5,"credentials":{"httpHeaderAuth":{"id":"v8juEeSd6jiMXgXN","name":"Header Auth account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2112,352],"id":"78b3172f-8ee2-437b-9c59-3226223db735","name":"Loop Over Items3"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1664,368],"id":"d162fad8-4e22-4bc3-b41d-5948943aa76d","name":"Wait1","webhookId":"29322ea0-976b-4e07-9da4-7347ae43fce0"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a1d47430-23e7-4755-b6ce-f3036d38cb1d","leftValue":"={{ $json.cursor.total }}","rightValue":1,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2560,352],"id":"c5ea7eaf-0e5c-4f61-830e-4bf6b744725f","name":"If4"},{"parameters":{"content":"## 添加图片\n重复查询没有图片的商品卡，100条为一批，进行添加图片\n","height":292,"width":680},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2192,256],"id":"13c18d65-6e73-42d5-972c-8db6c441fd3f","name":"Sticky Note1"},{"parameters":{"method":"PUT","url":"=https://marketplace-api.wildberries.ru/api/v3/stocks/984080","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.toJsonString() }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1680,48],"id":"cc879fe4-aa85-4c30-a55c-500ffb36834e","name":"添加库存","retryOnFail":true,"maxTries":5,"credentials":{"httpHeaderAuth":{"id":"v8juEeSd6jiMXgXN","name":"Header Auth account"}}},{"parameters":{"jsCode":"const data= {\"stocks\": []}\n\nfor (const element of $('产品卡列表3').first().json.cards) {\n  for (const element2 of element.sizes) { \n      data.stocks.push({\"sku\": element2.skus[0],\"amount\": 50}) \n    } \n}\nreturn data;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1904,48],"id":"9e7e07a0-7686-44ed-a394-8178e4d5d540","name":"Code3"},{"parameters":{"jsCode":"const dataTask = {  \"data\": [  ]  }\n\nfor (const item of $input.first().json.data.listGoods) {\n  const data2 = { \n      \"nmID\": item.nmID,\n      \"price\": 300,\n      \"discount\": 82\n  }\n  dataTask.data.push(data2)\n}\n\nreturn dataTask;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-976,320],"id":"f21b97f3-f54e-412b-884d-d617252bbc22","name":"Code5"},{"parameters":{"method":"POST","url":"https://discounts-prices-api.wildberries.ru/api/v2/upload/task","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.toJsonString() }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-768,400],"id":"d8afb9b6-e9f9-45ca-a70c-0543660f4918","name":"添加价格","retryOnFail":true,"maxTries":5,"credentials":{"httpHeaderAuth":{"id":"v8juEeSd6jiMXgXN","name":"Header Auth account"}}},{"parameters":{"jsCode":"const dataTask = {  \"nmList\": [   ]  } \n\nfor (const item of $('产品卡列表3').first().json.cards) {\n   dataTask.nmList.push(item.nmID) \n}\n \n\nreturn dataTask;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1408,320],"id":"49ca02fe-f0e4-493f-a2ca-a1d257638f57","name":"Code6"},{"parameters":{"method":"POST","url":"https://discounts-prices-api.wildberries.ru/api/v2/list/goods/filter","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.toJsonString() }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1200,320],"id":"2800340e-eaf4-40af-be80-9332438be7be","name":"获取产品价格","retryOnFail":true,"maxTries":5,"credentials":{"httpHeaderAuth":{"id":"v8juEeSd6jiMXgXN","name":"Header Auth account"}}},{"parameters":{"content":"## 添加库存\n","height":240,"width":464},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1984,-32],"id":"5d063f30-4083-41d7-bf9a-b43552f3329e","name":"Sticky Note"},{"parameters":{"content":"## 添加价格","height":288,"width":896},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1472,256],"id":"870bdd0c-668b-45eb-9034-cb354be99bbc","name":"Sticky Note2"}],"connections":{"When clicking \"Test workflow\"":{"main":[[{"node":"基础数据","type":"main","index":0}]]},"基础数据":{"main":[[{"node":"验证指令","type":"main","index":0}]]},"验证指令":{"main":[[{"node":"Code9","type":"main","index":0}]]},"产品卡列表3":{"main":[[{"node":"If4","type":"main","index":0}]]},"Code9":{"main":[[{"node":"产品卡列表3","type":"main","index":0}]]},"Code":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Loop Over Items3":{"main":[[{"node":"Code3","type":"main","index":0}],[{"node":"添加图片","type":"main","index":0}]]},"添加图片":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"If4":{"main":[[],[{"node":"Code","type":"main","index":0}]]},"添加库存":{"main":[[{"node":"Code6","type":"main","index":0}]]},"Code3":{"main":[[{"node":"添加库存","type":"main","index":0}]]},"Code5":{"main":[[{"node":"添加价格","type":"main","index":0}]]},"添加价格":{"main":[[{"node":"Code9","type":"main","index":0}]]},"Code6":{"main":[[{"node":"获取产品价格","type":"main","index":0}]]},"获取产品价格":{"main":[[{"node":"Code5","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"24915dac-77ed-4144-aec9-e219266a224e","triggerCount":0,"shared":[{"createdAt":"2025-09-05T03:15:56.857Z","updatedAt":"2025-09-05T03:15:56.857Z","role":"workflow:owner","workflowId":"d9oKD9XJdebSjICr","projectId":"EZ8bcuL9uFigLvTh"}],"tags":[]}