workflows/WB.json
{"createdAt":"2025-09-04T06:33:00.559Z","updatedAt":"2025-09-19T10:10:37.000Z","id":"qgEGl55KRTqPOTKq","name":"WB","active":false,"isArchived":true,"nodes":[{"parameters":{},"id":"64f0c515-27c2-44e3-bb2b-4a205bb44d81","name":"When clicking \"Test workflow\"","type":"n8n-nodes-base.manualTrigger","position":[-2280,250],"typeVersion":1},{"parameters":{"mode":"raw","jsonOutput":"={\n    \"apiKey\": {\n        \"txt\": \"API-密钥\",\n        \"HeaderApiKey\": \"eyJhbGciOiJFUzI1NiIsImtpZCI6IjIwMjUwNTIwdjEiLCJ0eXAiOiJKV1QifQ.eyJlbnQiOjEsImV4cCI6MTc2NDg4MjQ4NCwiaWQiOiIwMTk3M2Y1OC1mNmQ2LTdiMDgtYmExYi00ZGJjYWI2MmExNGMiLCJpaWQiOjE1MDc4MzM4NSwib2lkIjo0MDg5NTQ0LCJzIjo3OTM0LCJzaWQiOiJlMTUxNTJkZS1lMjMwLTQ1N2QtOWUwMC1hMTFhYWRmNTZjOTAiLCJ0IjpmYWxzZSwidWlkIjoxNTA3ODMzODV9.34N6qRrBjBpMSlyFTu0dXuEyA8itC_frfa6JvP6InFu3MRuAXFhTMYWWgKuoJr6GW3HlDcZew_k6GTbOtFtDnw\",\n        \"data\": \"\"\n    },\n    \"campaign\": {\n        \"txt\": \"分享秘钥是否正常\",\n        \"url\": \"https://common-api.wildberries.ru/ping\",\n        \"data\": {}\n    },\n  \"WB-n8n\":\"D:/产品/本土/主推产品/WB/服装/模板/WB-n8n.xlsx\",\n  \"WB-n8n2\":\"D:/产品/本土/主推产品/WB/服装/模板/WB-n8n2.xlsx\",\n  \"WB-n8n3\":\"D:/产品/本土/主推产品/WB/服装/模板/WB-n8n.xlsx\",\n  \"WB-n8n4\":\"D:/产品/本土/主推产品/WB/服装/模板/WB-n8n2.xlsx\",\n    \"productList\": {\n        \"txt\": \"产品列表\",\n        \"url\": \"https://content-api.wildberries.ru/content/v2/get/cards/list\",\n        \"query\": {\n            \"sort\": [\n                {\n                    \"columnID\": 11,\n                    \"order\": \"desc\"\n                }\n            ],\n            \"filter\": {\n                \"search\": \"\",\n                \"paidOptions\": {},\n                \"subjectIDs\": [\n                    192\n                ]\n            },\n            \"cursor\": {\n                \"n\": 20\n            }\n        },\n        \"data\": {}\n    }\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2060,250],"id":"a4be1b30-5c76-4206-8f9b-637230ee0a85","name":"基础数据"},{"parameters":{"url":"={{ $json.campaign.url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1840,250],"id":"05bba873-9fac-49ad-b51c-7f28f075b4b8","name":"验证指令","alwaysOutputData":false,"credentials":{"httpHeaderAuth":{"id":"v8juEeSd6jiMXgXN","name":"Header Auth account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f0d87aae-2fca-4b37-8394-eaf7ac14fece","leftValue":"={{ $json.Status }}","rightValue":"OK","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1620,250],"id":"29746deb-4571-4240-b3e1-98d407017c0f","name":"If2"},{"parameters":{"operation":"xlsx","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-740,250],"id":"d34bda39-34d3-489f-9355-1204459d8da3","name":"Extract from File","alwaysOutputData":false},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[-2192,730],"id":"d2625dc4-96db-48f1-a99d-ab6f45b3adac","name":"DeepSeek Chat Model","credentials":{"deepSeekApi":{"id":"SqCQclW6xyEDnzHA","name":"DeepSeek account"}}},{"parameters":{"promptType":"define","text":"=Act as an e-commerce listing specialist. Analyze the T-shirt print design from the image at this URL: `{{ $json.imgUrl }}`.\n\nYour task is to generate a single, engaging product title in Russian. The title MUST begin with the phrase \"Футболка с принтом\" and then continue with a concise description of the print's style and main subject.\n\n**Critical Requirements:**\n1.  **Language:** Russian only.\n2.  **Format:** Start with \"Футболка с принтом\".\n3.  **Length:** The entire title MUST be exactly 55 characters long (including spaces). Count the characters precisely.\n4.  **Content:** Describe only the print's style and central motif. Be highly concise to fit the character limit.\n5.  **Output:** Only return the final 55-character title. No explanations.\n\n**Analysis Focus:**\n- Identify the main subject (e.g., character, animal, symbol).\n- Determine the artistic style (e.g., anime, graphic, vintage).","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-2280,510],"id":"e7eb89b0-5aa1-4e7e-9aa8-02a8eb65e105","name":"AI Agent"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1244,610],"id":"61268cd7-7903-47c3-84cc-fefe9de87af2","name":"Loop Over Items"},{"parameters":{"assignments":{"assignments":[{"id":"f343dd7c-c43d-4610-8968-b3d4cd992889","name":"SKU","value":"={{ $('Loop Over Items').item.json.SKU }}","type":"string"},{"id":"74efd0b9-4e84-4711-a17a-63a01cd85818","name":"color","value":"={{ $('Loop Over Items').item.json.color }}","type":"string"},{"id":"fea4ec4e-14b1-4a74-a004-2ede8eb13740","name":"imgUrl","value":"={{ $('Loop Over Items').item.json.imgUrl }}","type":"string"},{"id":"f0da337e-1eb3-45f3-9454-81bf21cda2a6","name":"title","value":"={{ $('AI Agent').item.json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1464,535],"id":"0fdeeef9-f6fe-442d-90dc-c46fc89104a9","name":"Edit Fields"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst array1 = $('已经修改的数据').all()\nconst array2 = $input.all()\n\n\nconst removeSet = {};\nfor (const item of array1) {\n    removeSet[item.json.SKU] = true;\n}\n\n// 创建过滤后的数组\nconst filteredArray = [];\nfor (const item of array2) {\n    if (!removeSet[item.json.SKU]) {\n        filteredArray.push(item);\n    }\n}\n\n\nreturn filteredArray;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-460,240],"id":"6770b820-b43c-49fa-9248-811ebb193c32","name":"Code1","notes":"过滤已经添加的数据"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-2280,1230],"id":"a8a8e587-c5b1-4f18-89f0-32e05a925aa2","name":"Call n8n Workflow Tool"},{"parameters":{"method":"POST","url":"https://content-api.wildberries.ru/content/v2/barcodes","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"count\": 7\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1904,535],"id":"d53aeb17-a85b-4be2-875b-ab75222c4021","name":"HTTP Request1"},{"parameters":{"method":"POST","url":"https://content-api.wildberries.ru/content/v2/cards/upload","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"=[\n    {\n        \"subjectID\": 192,\n        \"variants\": [\n            {\n                \"vendorCode\": \"{{ $('Edit Fields').item.json.SKU }}\",\n                \"title\": \"{{ $('Edit Fields').item.json.title }}\",\n                \"description\": \"Футболка с круглым вырезом и коротким рукавом изготовлена из 100% хлопкового трикотажа полотняного переплетения, обеспечивая комфорт и долговечность. Дышащая и гипоаллергенная ткань создает идеальный силуэт в унисекс-стиле.\\nТехнология термопечати открывает безграничные возможности для дизайна принтов. Каждая футболка становится носимым холстом для искусства — от абстрактных линий до культовых образов, превращая базовую модель в инструмент самовыражения.\\nПремиальный хлопок гарантирует износостойкость: принты сохраняют яркость после многократных стирок. Универсальный крой и яркий принт делают её ключевым элементом гардероба, позволяя создавать модные образы с джинсами, шортами или юбками.\\nПодходит для любого сезона и повода: повседневная носка, спорт или отдых. Идеальный подарок подросткам и взрослым на День рождения, 14 февраля, 23 февраля, 8 Марта и Новый год.\\nРазмеры: S-2XL\\nКак выбрать:\\n\\nИзмерьте ширину груди любимой футболки\\nСм. таблицу размеров в галерее\\nДля oversize эффекта берите на размер больше\\n\\nВнимание: Цвет принта на экране может незначительно отличаться от реального.\\nУход:\\n\\nСтирка при ≤30°C, цветным порошком\\nОтжим на низких оборотах\\nНе отбеливать, не химчистить, не сушить в машине\\nГладить с изнанки на низкой температуре\",\n                \"dimensions\": {\n                    \"width\": 25,\n                    \"height\": 2,\n                    \"length\": 35,\n                    \"weightBrutto\": 0.22,\n                    \"isValid\": true\n                },\n\"price\":300,\n                \"characteristics\": [\n                    {\n                        \"id\": 14177449,\n                        \"name\": \"颜色\",\n                        \"value\": [\n                            \"{{ $('Edit Fields').item.json.color }}\"\n                        ]\n                    },\n                    {\n                        \"id\": 15000001,\n                        \"name\": \"FEACN\",\n                        \"value\": [\n                            \"6110309100\"\n                        ]\n                    }\n                ],\n                \"sizes\": [\n                    {\n                        \"techSize\": \"S\",\n                        \"wbSize\": \"44\",\n                        \"skus\": [\n                            \"{{ $json.data[0] }}\"\n                        ]\n                    },\n                    {\n                        \"techSize\": \"M\",\n                        \"wbSize\": \"46\",\n                        \"skus\": [\n                            \"{{ $json.data[1] }}\"\n                        ]\n                    },\n                    {\n                        \"techSize\": \"L\",\n                        \"wbSize\": \"48\",\n                        \"skus\": [\n                            \"{{ $json.data[2] }}\"\n                        ]\n                    },\n                    {\n                        \"techSize\": \"XL\",\n                        \"wbSize\": \"50\",\n                        \"skus\": [\n                            \"{{ $json.data[3] }}\"\n                        ]\n                    },\n                    {\n                        \"techSize\": \"2XL\",\n                        \"wbSize\": \"52\",\n                        \"skus\": [\n                            \"{{ $json.data[4] }}\"\n                        ]\n                    },\n                    {\n                        \"chrtID\": 701150258,\n                        \"techSize\": \"3XL\",\n                        \"wbSize\": \"54\",\n                        \"skus\": [\n                            \"{{ $json.data[5] }}\"\n                        ]\n                    },\n                    {\n                        \"techSize\": \"4XL\",\n                        \"wbSize\": \"56\",\n                        \"skus\": [\n                            \"{{ $json.data[6] }}\"\n                        ]\n                    }\n                ],\n        \t\t\"sizeChartID\": 74168,\n                \"sizeChartName\": \"尺寸表 2\"\n            }\n        ]\n    }\n]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1684,535],"id":"9245dd4e-3cc4-4f45-af92-4e53ae4ed4de","name":"HTTP Request2","credentials":{"httpHeaderAuth":{"id":"v8juEeSd6jiMXgXN","name":"Header Auth account"}}},{"parameters":{"method":"POST","url":"=https://content-api.wildberries.ru/content/v2/get/cards/list","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locale","value":"zh"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"settings\": {\n    \"sort\": {\n      \"ascending\": false\n    },\n    \"filter\": {  \n      \"withPhoto\": -1,\n      \"textSearch\":\"518428594\"\n    },\n    \"cursor\": {   \n    }\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2280,-460],"id":"63a4e78d-efc3-4eff-91af-ad77b8c256f4","name":"产品卡列表","credentials":{"httpHeaderAuth":{"id":"v8juEeSd6jiMXgXN","name":"Header Auth account"}}},{"parameters":{"method":"POST","url":"=https://content-api.wildberries.ru/content/v2/get/cards/list","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locale","value":"zh"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"settings\": {\n    \"sort\": {\n      \"ascending\": false\n    },\n    \"filter\": {  \n      \"withPhoto\": 0\n    },\n    \"cursor\": {   \n     \"limit\": 100\n    }\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1400,1470],"id":"178e0661-ba93-44fb-a63b-e9977c0cd666","name":"获取没有图片的"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0c20d997-4203-4e3c-9717-52069f28241f","leftValue":"={{ $json.vendorCode }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2060,1545],"id":"03fd3030-9d27-41c5-a8ec-0bba63a7aea3","name":"If"},{"parameters":{"content":"## 添加商品卡\n","height":460,"width":1360},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2392,410],"id":"0f3aa918-36af-4221-aa81-2bfaf23145e7","name":"Sticky Note"},{"parameters":{"method":"POST","url":"https://content-api.wildberries.ru/content/v3/media/save","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"nmId\":{{ $json.nmID }} ,\n  \"data\": {{ $json.imgUrl.toJsonString() }}\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1400,1670],"id":"6eec6f4a-a78d-4042-ba58-a3d349d7b8f0","name":"HTTP Request"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1620,1545],"id":"3e42a89a-63b7-4160-9bf7-332a45f7da65","name":"Loop Over Items1"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) { \n    if (item.json.characteristics[1].value = \"白色\") {\n     item.json.imgUrl = [\"https://hbxc.zone.id/images/\"+item.json.vendorCode+\"-1A-1.jpg\",\"https://basket-27.wbbasket.ru/vol5040/part504096/504096916/images/big/2.webp\",\n  \"https://basket-27.wbbasket.ru/vol5040/part504096/504096916/images/big/3.webp\",\n  \"https://basket-27.wbbasket.ru/vol5040/part504096/504096916/images/big/4.webp\"]\n    } else {\n      item.json.imgUrl = [\"https://hbxc.zone.id/images/\"+item.json.vendorCode+\"-0A-1.jpg\",\n  \"https://basket-27.wbcontent.net/vol5040/part504086/504086971/images/big/2.webp\",\n  \"https://basket-27.wbcontent.net/vol5040/part504086/504086971/images/big/3.webp\",\n  \"https://basket-27.wbcontent.net/vol5040/part504086/504086971/images/big/4.webp\"]\n    }\n}\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1840,1545],"id":"533a432e-90fa-49a1-8635-3d5d9955b204","name":"Code2"},{"parameters":{"jsCode":" \n\nreturn $input.first().json.cards"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2280,1645],"id":"b7585822-9b23-4e56-983e-f049ecbb3cb7","name":"Code4"},{"parameters":{"method":"POST","url":"=https://content-api.wildberries.ru/content/v2/get/cards/list","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locale","value":"zh"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"settings\": {\n    \"sort\": {\n      \"ascending\": false\n    },\n    \"filter\": {  \n      \"withPhoto\": -1,\n      \"textSearch\":\"{{ $json.SKU }}\"\n    },\n    \"cursor\": {   \n\"limit\": 50\n    }\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[140,-100],"id":"210ae0a4-0306-4058-8ba2-f0b269132cb4","name":"产品卡列表1","retryOnFail":true,"maxTries":5,"credentials":{"httpHeaderAuth":{"id":"v8juEeSd6jiMXgXN","name":"Header Auth account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-80,250],"id":"442a4851-2e9d-49d4-8a5f-8228a23ada5c","name":"Loop Over Items2"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nif ($input.first().json.cursor.total<1) {\n  \n  return $input.all();\n}\n\nif($input.first().json.cards[0].sizeChartID){\n  $input.first().json.cards[0].sizeChartID=74168\n  $input.first().json.cards[0].sizeChartName=\"尺寸表 2\"\n}\nif(Number($input.first().json.cards[0].sizes[0].wbSize)<10){\n  for (const element of $input.first().json.cards[0].sizes) {\n   switch (element.techSize) {\n     case \"S\":\n       element.wbSize=\"44\"\n       break;   \n     case \"M\":\n       element.wbSize=\"46\"\n       \n       break;    \n     case \"L\":\n       \n       element.wbSize=\"48\"\n       break;    \n     case \"XL\":\n       element.wbSize=\"50\"\n       break;    \n     case \"2XL\":\n       element.wbSize=\"52\"\n       \n       break;    \n     case \"3XL\":\n       element.wbSize=\"54\"\n       \n       break;    \n     case \"4XL\":      \n       element.wbSize=\"56\"\n       break;    \n   }\n  } \n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[580,-100],"id":"19b47c5a-16af-46e7-a9fc-0dc958a9cc3a","name":"Code3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3880a184-79ee-4e56-a54b-33ce07cf5164","leftValue":"={{ $json.cards[0].title }}","rightValue":"Футболка с принтом","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"49e8e5dc-db5c-4131-abb1-c8592ecf2c37","leftValue":"={{ $json.cards[0].sizeChartID }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[800,-100],"id":"afb3d8b0-cd8f-4fb3-b84d-9c5e4274ad39","name":"If1","notes":"判断标题是否需要修改"},{"parameters":{"promptType":"define","text":"=Act as an e-commerce listing specialist. Analyze the T-shirt print design from the image at this URL: `{{ $json.cards[0].photos[0].big }}`.\n\nYour task is to generate a single, engaging product title in Russian. The title MUST begin with the phrase \"Футболка с принтом\" and then continue with a concise description of the print's style and main subject.\n\n**Critical Requirements:**\n1.  **Language:** Russian only.\n2.  **Format:** Start with \"Футболка с принтом\".\n3.  **Length:** The entire title MUST be exactly 55 characters long (including spaces). Count the characters precisely.\n4.  **Content:** Describe only the print's style and central motif. Be highly concise to fit the character limit.\n5.  **Output:** Only return the final 55-character title. No explanations.\n\n**Analysis Focus:**\n- Identify the main subject (e.g., character, animal, symbol).\n- Determine the artistic style (e.g., anime, graphic, vintage).","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1020,-100],"id":"3ef9dec4-2427-443a-bec1-ebf5d3dc7167","name":"AI Agent1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[1108,120],"id":"217d6056-dd38-4c14-8965-b3aa494740d2","name":"DeepSeek Chat Model1","credentials":{"deepSeekApi":{"id":"SqCQclW6xyEDnzHA","name":"DeepSeek account"}}},{"parameters":{"jsCode":" \n if($('Code3').first().json.cards[0].title=\"Футболка с принтом\"){\n    $('Code3').first().json.cards[0].title = $input.first().json.output\n }\n \n\nreturn $('Code3').first().json.cards[0];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1396,-100],"id":"264bc0d7-6eb1-4e0d-9789-2dde9b8519dd","name":"Code5"},{"parameters":{"method":"POST","url":"https://content-api.wildberries.ru/content/v2/cards/update","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"=[{{ $json.toJsonString() }}]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1616,-100],"id":"da65ce69-2d1a-4385-b32a-ed02b90a53e8","name":"HTTP Request3","credentials":{"httpHeaderAuth":{"id":"v8juEeSd6jiMXgXN","name":"Header Auth account"}}},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[220,420],"id":"d0665d2d-c116-4116-9116-e935845fcdf4","name":"Code6"},{"parameters":{"operation":"xlsx","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2496,-100],"id":"e6b38bd8-10bb-4911-a220-f7888e1713ae","name":"Convert to File"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6c7c6cfc-ad86-4b58-a7f7-a979e081ee68","leftValue":"={{ $json.cursor.total }}","rightValue":0,"operator":{"type":"number","operation":"gt"}},{"id":"9530339d-84e1-4b77-adbd-dea00c97148a","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[360,-100],"id":"b610f980-fd55-4e18-890d-c3784993cdf0","name":"If3"},{"parameters":{"operation":"xlsx","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-1180,250],"id":"b7f31ee9-ee8f-42a4-a5d4-cdbc56a59d73","name":"已经修改的数据","alwaysOutputData":true},{"parameters":{"operation":"xlsx","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[2056,-100],"id":"f9a86af7-7eba-4682-8309-55865207a779","name":"已经修改的数据1","alwaysOutputData":true},{"parameters":{"jsCode":" \nconst skuID=  [\n { SKU: $('Loop Over Items2').first().json.SKU} ,\n];\n// 获取前序节点的数据\nconst inputData = [];\nfor (const element of $input.all()) {\n  inputData.push(element.json)\n}\n \n// 合并对象\nconst mergedObj = [...inputData, ...skuID];\n\nconsole.log(mergedObj)\n// 返回合并后的对象\nreturn mergedObj;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2276,-100],"id":"01c09731-800e-4097-bc9d-4a0d226cfcdc","name":"Code7"},{"parameters":{"fileSelector":"={{ $('基础数据').item.json['WB-n8n2'] }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-1400,260],"id":"cb0e91c2-17ba-4837-8461-eebebb9f9371","name":"WB-n8n2","executeOnce":true,"alwaysOutputData":true},{"parameters":{"fileSelector":"={{ $('基础数据').item.json['WB-n8n'] }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-960,260],"id":"d5e7a4b5-bc42-4716-ac3d-0b43618b756f","name":"WB-n8n","alwaysOutputData":true,"executeOnce":true},{"parameters":{"fileSelector":"={{ $('基础数据').item.json['WB-n8n2'] }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1840,-100],"id":"19bf1d41-8508-4405-9c18-5fe247dbca39","name":"WB-n8n3"},{"parameters":{"operation":"write","fileName":"D:/产品/本土/主推产品/WB/服装/模板/WB-n8n2.xlsx","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[2720,80],"id":"65d39a02-8ddf-4533-b5c7-0c2d2a2a1213","name":"WB-n8n4"}],"connections":{"When clicking \"Test workflow\"":{"main":[[{"node":"基础数据","type":"main","index":0}]]},"基础数据":{"main":[[{"node":"验证指令","type":"main","index":0}]]},"验证指令":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"WB-n8n2","type":"main","index":0}]]},"DeepSeek Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Extract from File":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"产品卡列表":{"main":[[]]},"获取没有图片的":{"main":[[{"node":"Code4","type":"main","index":0}]]},"If":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"获取没有图片的","type":"main","index":0}],[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Code4":{"main":[[{"node":"If","type":"main","index":0}]]},"Loop Over Items2":{"main":[[{"node":"Code6","type":"main","index":0}],[{"node":"产品卡列表1","type":"main","index":0}]]},"产品卡列表1":{"main":[[{"node":"If3","type":"main","index":0}]]},"Code3":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"AI Agent1","type":"main","index":0}],[{"node":"Loop Over Items2","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Code5","type":"main","index":0}]]},"DeepSeek Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Code5":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"WB-n8n3","type":"main","index":0}]]},"Code6":{"main":[[]]},"Convert to File":{"main":[[{"node":"WB-n8n4","type":"main","index":0}]]},"If3":{"main":[[{"node":"Code3","type":"main","index":0}],[{"node":"Loop Over Items2","type":"main","index":0}]]},"已经修改的数据":{"main":[[{"node":"WB-n8n","type":"main","index":0}]]},"已经修改的数据1":{"main":[[{"node":"Code7","type":"main","index":0}]]},"Code7":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"WB-n8n2":{"main":[[{"node":"已经修改的数据","type":"main","index":0}]]},"WB-n8n":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"WB-n8n3":{"main":[[{"node":"已经修改的数据1","type":"main","index":0}]]},"WB-n8n4":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6d5066ba-4458-4f75-8079-494b7620a2ac","triggerCount":0,"shared":[{"createdAt":"2025-09-04T06:33:00.566Z","updatedAt":"2025-09-04T06:33:00.566Z","role":"workflow:owner","workflowId":"qgEGl55KRTqPOTKq","projectId":"EZ8bcuL9uFigLvTh"}],"tags":[]}