workflows/WB03-添加图片.json
{"createdAt":"2025-09-26T10:59:22.187Z","updatedAt":"2025-09-26T11:35:31.000Z","id":"Z5PM8gkgh1Skfiwc","name":"WB03-添加图片","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"bf4b70db-4fe5-4132-880b-5ade8e8d2966","name":"When clicking \"Test workflow\"","type":"n8n-nodes-base.manualTrigger","position":[-3696,384],"typeVersion":1},{"parameters":{"method":"POST","url":"=https://content-api.wildberries.ru/content/v2/get/cards/list","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locale","value":"zh"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.toJsonString() }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3248,240],"id":"858891a7-edde-4e76-9d69-fe931d2a3c49","name":"产品卡列表3","retryOnFail":true,"maxTries":5,"credentials":{"httpHeaderAuth":{"id":"v8juEeSd6jiMXgXN","name":"CNWB03"}},"notes":"0— 仅限不带照片的卡片\n1— 仅限带有照片的卡片\n-1— 所有卡片"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n\nconst imgData = [] \n \nfor (const item of $input.first().json.cards) {\n  const nmId=item.nmID;\n  const vendorCode = item.vendorCode\n  let imgUrl=[]\n  if (JSON.stringify(item.characteristics).includes(\"白色\")) { \n    imgUrl=[\"http://hbxc.zone.id/images/\"+vendorCode+\"-1A-1.jpg\",\"https://basket-27.wbbasket.ru/vol5040/part504096/504096916/images/big/2.webp\",\"https://basket-27.wbbasket.ru/vol5040/part504096/504096916/images/big/3.webp\",\"https://basket-27.wbbasket.ru/vol5040/part504096/504096916/images/big/4.webp\"] \n  } else {\n     imgUrl=[\"https://hbxc.zone.id/images/\"+vendorCode+\"-0A-1.jpg\",\"http://hbxc.zone.id/images/03-0.jpg\",\"https://basket-27.wbbasket.ru/vol5040/part504096/504096916/images/big/3.webp\",\"https://basket-27.wbbasket.ru/vol5040/part504096/504096916/images/big/4.webp\"] \n  } \n  imgData.push({nmId:nmId,data:imgUrl})  \n}\n\nreturn imgData;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2800,240],"id":"2b01e686-8196-432d-b4e4-dace6dc194f8","name":"Code"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst data = {\n  \"settings\": {\n    \"sort\": {\n      \"ascending\": false\n    },\n    \"filter\": {  \n      \"withPhoto\": 0\n    },\n    \"cursor\": {   \n      \"limit\": 40\n    }\n  }\n}\n\nreturn data;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3472,384],"id":"02b56752-9cbe-4422-aa6c-6338b6027cdc","name":"Code9","notes":"0— 仅限不带照片的卡片\n1— 仅限带有照片的卡片\n-1— 所有卡片"},{"parameters":{"method":"POST","url":"=https://content-api.wildberries.ru/content/v3/media/save","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.toJsonString() }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2320,256],"id":"3f8b24fa-d541-4ed6-8004-5c552079416b","name":"添加图片","retryOnFail":true,"maxTries":5,"alwaysOutputData":false,"credentials":{"httpHeaderAuth":{"id":"v8juEeSd6jiMXgXN","name":"CNWB03"}},"onError":"continueRegularOutput"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2576,240],"id":"63cfe929-8aed-4963-a494-adedbfbace66","name":"Loop Over Items3"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-2128,312],"id":"f74e4747-df5b-4181-9f9a-bb9e30617c5b","name":"Wait1","webhookId":"6464106b-d0b5-4683-8a8c-1b360ac59f72"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a1d47430-23e7-4755-b6ce-f3036d38cb1d","leftValue":"={{ $json.cursor.total }}","rightValue":1,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3024,240],"id":"1f47120a-aab3-4458-b862-3cf4bd60bc26","name":"If4"},{"parameters":{"content":"## 添加图片\n重复查询没有图片的商品卡，100条为一批，进行添加图片\n","height":292,"width":680},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2644,180],"id":"c9b5d265-6e79-43db-b8c1-000df2c107bf","name":"Sticky Note1"},{"parameters":{"method":"PUT","url":"=https://marketplace-api.wildberries.ru/api/v3/stocks/965534","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.toJsonString() }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2128,48],"id":"c8b7d633-18da-4506-a080-74634416e6e3","name":"添加库存","retryOnFail":true,"maxTries":5,"credentials":{"httpHeaderAuth":{"id":"v8juEeSd6jiMXgXN","name":"CNWB03"}}},{"parameters":{"jsCode":"const data= {\"stocks\": []}\n\nfor (const element of $('产品卡列表3').first().json.cards) {\n  for (const element2 of element.sizes) { \n      data.stocks.push({\"sku\": element2.skus[0],\"amount\": 50}) \n    } \n}\nreturn data;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2352,48],"id":"dd792d4e-1efe-411f-af75-d115cc92c160","name":"Code3"},{"parameters":{"jsCode":"const dataTask = {  \"data\": [  ]  }\n\nfor (const item of $input.first().json.data.listGoods) {\n  const data2 = { \n      \"nmID\": item.nmID,\n      \"price\": 300,\n      \"discount\": 82\n  }\n  dataTask.data.push(data2)\n}\n\nreturn dataTask;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1456,48],"id":"a071cb83-1ae0-4854-ae94-a5bd8a9b9023","name":"Code5"},{"parameters":{"method":"POST","url":"https://discounts-prices-api.wildberries.ru/api/v2/upload/task","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.toJsonString() }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1232,288],"id":"44d03d20-27be-4ff7-a084-bab452881a29","name":"添加价格","retryOnFail":true,"maxTries":5,"credentials":{"httpHeaderAuth":{"id":"v8juEeSd6jiMXgXN","name":"CNWB03"}}},{"parameters":{"jsCode":"const dataTask = {  \"nmList\": [   ]  } \n\nfor (const item of $('产品卡列表3').first().json.cards) {\n   dataTask.nmList.push(item.nmID) \n}\n \n\nreturn dataTask;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1904,48],"id":"55c7bdfb-41a7-4084-8305-062eb4c216d9","name":"Code6"},{"parameters":{"method":"POST","url":"https://discounts-prices-api.wildberries.ru/api/v2/list/goods/filter","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.toJsonString() }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1680,48],"id":"71b8abc3-1fb9-4440-91b0-9cb26f1f84a4","name":"获取产品价格","retryOnFail":true,"maxTries":5,"credentials":{"httpHeaderAuth":{"id":"v8juEeSd6jiMXgXN","name":"CNWB03"}}},{"parameters":{"content":"## 添加库存\n","height":240,"width":464},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2424,-32],"id":"a5afff0b-1103-45af-a04b-923da83d226f","name":"Sticky Note"},{"parameters":{"content":"## 添加价格","height":288,"width":896},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1968,160],"id":"448494d4-a8fe-486a-ba2a-39b19efe6c1f","name":"Sticky Note2"}],"connections":{"When clicking \"Test workflow\"":{"main":[[{"node":"Code9","type":"main","index":0}]]},"产品卡列表3":{"main":[[{"node":"If4","type":"main","index":0}]]},"Code9":{"main":[[{"node":"产品卡列表3","type":"main","index":0}]]},"Code":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Loop Over Items3":{"main":[[{"node":"Code3","type":"main","index":0}],[{"node":"添加图片","type":"main","index":0}]]},"添加图片":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"If4":{"main":[[],[{"node":"Code","type":"main","index":0}]]},"添加库存":{"main":[[{"node":"Code6","type":"main","index":0}]]},"Code3":{"main":[[{"node":"添加库存","type":"main","index":0}]]},"Code5":{"main":[[{"node":"添加价格","type":"main","index":0}]]},"添加价格":{"main":[[{"node":"Code9","type":"main","index":0}]]},"Code6":{"main":[[{"node":"获取产品价格","type":"main","index":0}]]},"获取产品价格":{"main":[[{"node":"Code5","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7b78b287-0cf1-483e-a4a3-c504ec9c3228","triggerCount":0,"shared":[{"createdAt":"2025-09-26T10:59:22.195Z","updatedAt":"2025-09-26T10:59:22.195Z","role":"workflow:owner","workflowId":"Z5PM8gkgh1Skfiwc","projectId":"EZ8bcuL9uFigLvTh"}],"tags":[]}