workflows/WB03-添加库存.json
{"createdAt":"2025-09-23T03:09:38.665Z","updatedAt":"2025-09-26T11:20:43.000Z","id":"Rm5uQQXpP6GZBcBS","name":"WB03-添加库存","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-3408,1264],"id":"a7500a5e-eb76-45b3-a735-aa102394ca6e","name":"When clicking ‘Execute workflow’"},{"parameters":{"method":"POST","url":"=https://content-api.wildberries.ru/content/v2/get/cards/list","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locale","value":"zh"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.toJsonString() }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2960,1192],"id":"8a0e5708-3d43-4ccc-9d3f-cc53882951b8","name":"产品卡列表","retryOnFail":true,"maxTries":5,"credentials":{"httpHeaderAuth":{"id":"v8juEeSd6jiMXgXN","name":"CNWB03"}}},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst data = {\n  \"settings\": {\n    \"sort\": {\n      \"ascending\": false\n    },\n    \"filter\": {  \n      \"withPhoto\": 1,\n      \"objectIDs\": [192]\n    },\n    \"cursor\": {   \n      \"limit\": 100\n    }\n  }\n}\n  \nif ($input.first().json.data) {\n  data.settings.cursor.nmId=$input.first().json.data.nmID\n  data.settings.cursor.updatedAt=$input.first().json.data.updatedAt\n}\n\nreturn data;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3184,1264],"id":"e1e3aa1c-65b4-45c3-8c31-1e9c74c7c437","name":"Code","notes":"0 — 仅显示无照片的卡片 \n1 — 仅显示有照片的卡片 \n-1 — 所有卡片  -1 — all cards"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst array1 =  {\n  \"skus\": [ ]\n}\n\n\nfor (const element of $input.first().json.cards) {\n   for (const element2 of element.sizes) { \n      array1.skus.push(element2.skus[0]) \n    } \n}\nreturn array1;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2512,1192],"id":"7d4b914c-b05b-42dc-829d-4c9bca64ca35","name":"Code3","executeOnce":false,"alwaysOutputData":true,"notes":"过滤已经添加的数据"},{"parameters":{"method":"POST","url":"=https://marketplace-api.wildberries.ru/api/v3/stocks/965534","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locale","value":"zh"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.toJsonString() }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2288,1192],"id":"5e5e8a58-857e-4df0-ab14-ea3e58720454","name":"获取库存","retryOnFail":true,"maxTries":5,"credentials":{"httpHeaderAuth":{"id":"v8juEeSd6jiMXgXN","name":"CNWB03"}}},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n  // 提取 stocks 中的所有 SKU\n\n  const stocksData =$input.first().json.stocks\n  const skus = $('Code3').first().json.skus\n// 提取 stocksData 中的所有 SKU\n      const stockSkus = stocksData.map(item => item.sku);\n                \n  // 找出在 skus 中但不在 stocks 中的 SKU\n  const missingSkus = skus.filter(sku => !stockSkus.includes(sku));\n                \n  // 构建缺失数据的 stocks 数组\n  const stocks = missingSkus.map(sku => ({\n      sku: sku,\n      amount: 50// 默认设置为0\n  }));\n\nreturn {stocks};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2064,1192],"id":"87e34497-d2b0-4797-bbba-2cf28d726741","name":"Code4"},{"parameters":{"method":"PUT","url":"=https://marketplace-api.wildberries.ru/api/v3/stocks/965534","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.toJsonString() }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1616,1120],"id":"0064705e-1606-47ef-8f5b-8bf5f445eb64","name":"添加库存","retryOnFail":true,"maxTries":5,"credentials":{"httpHeaderAuth":{"id":"v8juEeSd6jiMXgXN","name":"CNWB03"}}},{"parameters":{"jsCode":" \nconst data = {\n  nmID :$('产品卡列表').first().json.cursor.nmID,\n  updatedAt:$('产品卡列表').first().json.cursor.updatedAt\n}\nreturn {data};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1392,1192],"id":"4c01ed25-fb0a-47a0-bcff-cf9848f7f57c","name":"Code6"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ad91bb0d-c355-45dd-915f-6a5f5214832a","leftValue":"={{ $json.stocks }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1840,1192],"id":"06391910-e49c-42d0-a7d0-2f6456073b4d","name":"If2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2e0b9127-5139-464c-8476-f4eb9511d8a3","leftValue":"={{ $json.cursor.total }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2736,1192],"id":"197945c3-e256-4d16-a15e-d4aea75861d2","name":"If3"},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1168,1264],"id":"87ecd126-b831-4956-b70d-87f2f642a819","name":"Wait1","webhookId":"1ad96edc-f7dc-48cb-b61c-66b27735fd0a"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"产品卡列表","type":"main","index":0}]]},"产品卡列表":{"main":[[{"node":"If3","type":"main","index":0}]]},"Code3":{"main":[[{"node":"获取库存","type":"main","index":0}]]},"获取库存":{"main":[[{"node":"Code4","type":"main","index":0}]]},"Code4":{"main":[[{"node":"If2","type":"main","index":0}]]},"添加库存":{"main":[[{"node":"Code6","type":"main","index":0}]]},"Code6":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"If2":{"main":[[{"node":"添加库存","type":"main","index":0}],[{"node":"Code6","type":"main","index":0}]]},"If3":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b6697983-3eb6-4122-a8df-1d18028b1a97","triggerCount":0,"shared":[{"createdAt":"2025-09-23T03:09:38.672Z","updatedAt":"2025-09-23T03:09:38.672Z","role":"workflow:owner","workflowId":"Rm5uQQXpP6GZBcBS","projectId":"EZ8bcuL9uFigLvTh"}],"tags":[]}