workflows/WB04-创建商品卡.json
{"createdAt":"2025-09-08T07:58:10.575Z","updatedAt":"2025-09-30T11:02:38.000Z","id":"kvILh7e5ahE4mLC7","name":"WB04-创建商品卡","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"30830b43-e48d-4c70-af0f-cd8168d7e7f2","name":"When clicking \"Test workflow\"","type":"n8n-nodes-base.manualTrigger","position":[-5232,624],"typeVersion":1},{"parameters":{"mode":"raw","jsonOutput":"={\n    \"apiKey\": {\n        \"txt\": \"API-密钥\",\n        \"HeaderApiKey\": \"eyJhbGciOiJFUzI1NiIsImtpZCI6IjIwMjUwNTIwdjEiLCJ0eXAiOiJKV1QifQ.eyJlbnQiOjEsImV4cCI6MTc2NDg4MjQ4NCwiaWQiOiIwMTk3M2Y1OC1mNmQ2LTdiMDgtYmExYi00ZGJjYWI2MmExNGMiLCJpaWQiOjE1MDc4MzM4NSwib2lkIjo0MDg5NTQ0LCJzIjo3OTM0LCJzaWQiOiJlMTUxNTJkZS1lMjMwLTQ1N2QtOWUwMC1hMTFhYWRmNTZjOTAiLCJ0IjpmYWxzZSwidWlkIjoxNTA3ODMzODV9.34N6qRrBjBpMSlyFTu0dXuEyA8itC_frfa6JvP6InFu3MRuAXFhTMYWWgKuoJr6GW3HlDcZew_k6GTbOtFtDnw\",\n        \"data\": \"\"\n    },\n    \"campaign\": {\n        \"txt\": \"分享秘钥是否正常\",\n        \"url\": \"https://common-api.wildberries.ru/ping\",\n        \"data\": {}\n    },\n  \"WB-n8n\":\"D:/产品/本土/主推产品/WB/服装/模板/WB-n8n.xlsx\",\n  \"WB-n8n2\":\"D:/产品/本土/主推产品/WB/服装/模板/WB-n8n2.xlsx\",\n  \"WB-n8n3\":\"D:/产品/本土/主推产品/WB/服装/模板/WB-n8n.xlsx\",\n  \"WB-n8n4\":\"D:/产品/本土/主推产品/WB/服装/模板/WB-n8n2.xlsx\",\n    \"productList\": {\n        \"txt\": \"产品列表\",\n        \"url\": \"https://content-api.wildberries.ru/content/v2/get/cards/list\",\n        \"query\": {\n            \"sort\": [\n                {\n                    \"columnID\": 11,\n                    \"order\": \"desc\"\n                }\n            ],\n            \"filter\": {\n                \"search\": \"\",\n                \"paidOptions\": {},\n                \"subjectIDs\": [\n                    192\n                ]\n            },\n            \"cursor\": {\n                \"n\": 20\n            }\n        },\n        \"data\": {}\n    }\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5008,624],"id":"77818f35-47f2-435a-af01-22cdcbf50a41","name":"基础数据"},{"parameters":{"url":"={{ $json.campaign.url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4784,624],"id":"b928a7af-9f22-4f87-8934-aa94935628cb","name":"验证指令","alwaysOutputData":false,"credentials":{"httpHeaderAuth":{"id":"L4xHgcM0mmpkUewp","name":"CNWB04"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f0d87aae-2fca-4b37-8394-eaf7ac14fece","leftValue":"={{ $json.Status }}","rightValue":"OK","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4560,624],"id":"855ceaee-5634-4f44-b46b-8752adb93d1b","name":"If2"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst array1 = $input.all()\nconst array2 = $('Add').all() //准备添加的数据\n\n\nconst removeSet = {};\nfor (const item of array1) {\n    removeSet[item.json.SKU] = true;\n}\n\n// 创建过滤后的数组\nconst filteredArray = [];\nfor (const item of array2) {\n    if (!removeSet[item.json.SKU]) {\n        filteredArray.push(item);\n    }\n}\n\nreturn filteredArray;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3440,624],"id":"f608538c-89d8-4841-b1fd-f62121358831","name":"Code1","executeOnce":false,"alwaysOutputData":true,"notes":"过滤已经添加的数据"},{"parameters":{"content":"## 添加商品卡\n","height":436,"width":3860},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2912,352],"id":"d1c92640-a30e-4dff-9cf2-ddf3f7d03188","name":"Sticky Note"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2992,624],"id":"94212f03-484f-46ea-8b5b-4491226023df","name":"Loop Over Items2"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst title =  $('AI Agent').first().json.output.length<58? $('AI Agent').first().json.output:\"Футболка с принтом оверсайз\"\nconst data= [\n    {\n        \"subjectID\": 192,\n        \"variants\": [\n            {\n                \"vendorCode\": $('Loop Over Items2').first().json.SKU,\n                \"title\": title,\n                \"description\": \"Футболка с принтом оверсайз и коротким рукавом изготовлена из 100% хлопкового трикотажа полотняного переплетения, обеспечивая комфорт и долговечность. Дышащая и гипоаллергенная ткань создает идеальный силуэт в унисекс-стиле.\\nТехнология термопечати открывает безграничные возможности для дизайна принтов. Каждая футболка становится носимым холстом для искусства — от абстрактных линий до культовых образов, превращая базовую модель в инструмент самовыражения.\\nПремиальный хлопок гарантирует износостойкость: принты сохраняют яркость после многократных стирок. Универсальный крой и яркий принт делают её ключевым элементом гардероба, позволяя создавать модные образы с джинсами, шортами или юбками.\\nПодходит для любого сезона и повода: повседневная носка, спорт или отдых. Идеальный подарок подросткам и взрослым на День рождения, 14 февраля, 23 февраля, 8 Марта и Новый год.\\nРазмеры: S-4XL\\nКак выбрать:\\n\\nИзмерьте ширину груди любимой футболки\\nСм. таблицу размеров в галерее\\nДля oversize эффекта берите на размер больше\\n\\nВнимание: Цвет принта на экране может незначительно отличаться от реального.\\nУход:\\n\\nСтирка при ≤30°C, цветным порошком\\nОтжим на низких оборотах\\nНе отбеливать, не химчистить, не сушить в машине\\nГладить с изнанки на низкой температуре\",\n                \"dimensions\": {\n                    \"width\": 25,\n                    \"height\": 2,\n                    \"length\": 35,\n                    \"weightBrutto\": 0.22\n                },\n                \"characteristics\": [\n                    {\n                        \"id\": 14177449,\n                        \"name\": \"颜色\",\n                        \"value\": [\n                          $('Loop Over Items2').first().json.color\n                        ]\n                    },\n                    {\n                        \"id\": 15000001,\n                        \"name\": \"FEACN\",\n                        \"value\": [\n                            \"6110309100\"\n                        ]\n                    },\n                   {\n                      \"id\": 12,\n                      \"name\": \"图画\",\n                      \"value\": [\n                        \"печатный рисунок\"\n                      ]\n                    },\n                    {\n                      \"id\": 378533,\n                      \"name\": \"配套\",\n                      \"value\": [\n                        \"Футболка с круглым вырезом- 1 шт.\"\n                      ]\n                    },\n                    {\n                      \"id\": 6,\n                      \"name\": \"领口\",\n                      \"value\": [\n                        \"круглый\"\n                      ]\n                    },\n                    {\n                      \"id\": 48,\n                      \"name\": \"口袋类型\",\n                      \"value\": [\n                        \"без кармановбез карманов\"\n                      ]\n                    },\n                    {\n                      \"id\": 11,\n                      \"name\": \"风格\",\n                      \"value\": [\n                        \"оверсайз\"\n                      ]\n                    },\n                    {\n                      \"id\": 11892,\n                      \"name\": \"物品保养\",\n                      \"value\": [\n                        \"стирка при t не более 40°C\",\n                        \"гладить при t не более 130°C\"\n                      ]\n                    },\n                    {\n                      \"id\": 23771,\n                      \"name\": \"模型特点\",\n                      \"value\": [\n                        \"дышащий материал\",\n                        \"гипоаллергенный материал\",\n                        \"унисекс\"\n                      ]\n                    },\n                    {\n                      \"id\": 14177450,\n                      \"name\": \"组成\",\n                      \"value\": [\n                        \"хлопок\"\n                      ]\n                    }\n                ],\n                \"sizes\": [\n                    {\n                        \"techSize\": \"S\",\n                        \"wbSize\": \"44\",\n                        \"skus\": [\n                            $input.first().json.data[0]                        \n                        ],\n                        \"price\": 300\n                    },\n                    {\n                        \"techSize\": \"M\",\n                        \"wbSize\": \"46\",\n                        \"skus\": [\n                              $input.first().json.data[1]\n                        ],\n                        \"price\": 300\n                    },\n                    {\n                        \"techSize\": \"L\",\n                        \"wbSize\": \"48\",\n                        \"skus\": [\n                              $input.first().json.data[2] \n                        ],\n                        \"price\": 300\n                    },\n                    {\n                        \"techSize\": \"XL\",\n                        \"wbSize\": \"50\",\n                        \"skus\": [\n                             $input.first().json.data[3]\n                        ],\n                        \"price\": 300\n                    },\n                    {\n                        \"techSize\": \"2XL\",\n                        \"wbSize\": \"52\",\n                        \"skus\": [\n                             $input.first().json.data[4]\n                        ],\n                        \"price\": 300\n                    },\n                    {\n                        \"chrtID\": 701150258,\n                        \"techSize\": \"3XL\",\n                        \"wbSize\": \"54\",\n                        \"skus\": [\n                             $input.first().json.data[5]\n                        ],\n                        \"price\": 300\n                    },\n                    {\n                        \"techSize\": \"4XL\",\n                        \"wbSize\": \"56\",\n                        \"skus\": [\n                             $input.first().json.data[6]\n                        ],\n                        \"price\": 300\n                    }\n                ],\n        \t\t\"sizeChartID\": \"74168\",\n                \"sizeChartName\":\"尺寸表 2\"\n            }\n        ]\n    }\n]\n\n\nreturn data;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-624,624],"id":"beb2066d-bd47-4e5d-84b9-25daf4179e9d","name":"Code6"},{"parameters":{"method":"POST","url":"https://content-api.wildberries.ru/content/v2/barcodes","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"count\": 7\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-848,624],"id":"1883e6f2-b937-4b86-abc0-29a773e237dc","name":"获取条形码","retryOnFail":true,"maxTries":5,"credentials":{"httpHeaderAuth":{"id":"L4xHgcM0mmpkUewp","name":"CNWB04"}}},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[944,624],"id":"3b4db910-edc3-4510-a391-5f1559f61127","name":"Wait","webhookId":"86892516-c2fe-4c6a-a1af-227c569caa64"},{"parameters":{"operation":"xlsx","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[496,496],"id":"43e9c2d0-ca89-4762-baca-bf264ad7b590","name":"Convert to File1"},{"parameters":{"operation":"xlsx","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[48,496],"id":"ab409181-4f0e-4cbf-b0c6-93a53fc5315b","name":"已经修改的数据2","alwaysOutputData":true},{"parameters":{"jsCode":" \nconst skuID=  [\n { SKU: $('Loop Over Items2').first().json.SKU,\n  \"color\":$('Loop Over Items2').first().json.color}\n  \n];\n// 获取前序节点的数据\nconst inputData = [];\nfor (const element of $input.all()) {\n  inputData.push(element.json)\n}\n \n// 合并对象\nconst mergedObj = [...inputData, ...skuID];\n\nconsole.log(mergedObj)\n// 返回合并后的对象\nreturn mergedObj;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[272,496],"id":"bc290980-0906-4af8-a9fd-b0df954c6b0e","name":"Code10"},{"parameters":{"operation":"xlsx","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-4112,624],"id":"6eb1c9ae-2820-4392-8a64-a1aeb28cb8d0","name":"Add","alwaysOutputData":true},{"parameters":{"operation":"xlsx","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-3664,624],"id":"832252b3-ce11-4c73-89bb-c4695dc55ec8","name":"Add2","alwaysOutputData":true},{"parameters":{"fileSelector":"=D:/WB/WB-n8n-add.xlsx","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-4336,624],"id":"fc386028-09de-4a28-9285-d6cfea831c70","name":"准备添加的","executeOnce":true,"alwaysOutputData":true,"notesInFlow":true,"notes":"WB-n8n-add.xlsx"},{"parameters":{"fileSelector":"=D:/WB/WB-n8n-add2.xlsx","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-3888,624],"id":"61777623-2e16-4ce5-86fc-1e4d144e31d5","name":"已经添加的","executeOnce":true,"alwaysOutputData":true,"notesInFlow":true,"notes":"WB-n8n-add2.xlsx"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"527b7177-a62f-44d3-a2d8-dca991b476e1","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3216,624],"id":"98fcf635-7300-4632-99ae-2fe490bb0433","name":"If"},{"parameters":{"fileSelector":"=D:/WB/image/{{ $('Loop Over Items2').item.json.SKU }}.png","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-2096,624],"id":"32d004bb-3e54-42f5-a07b-56cf7c65b81b","name":"读取图片","alwaysOutputData":true},{"parameters":{"method":"POST","url":"https://dashscope.aliyuncs.com/compatible-mode/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer sk-5b4a20c638064a11af987b370268149e"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.qwenRequest.toJsonString() }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1424,624],"id":"17d0d95f-8d52-405c-8855-1f68a728177d","name":"Qwen-VL-Plus 视觉问答"},{"parameters":{"promptType":"define","text":"=指令：\n根据以下图片分析，生成一个俄语商品标题。\n分析结果： {{ $json.choices[0].message.content }}\n标题要求：\n1.以“Футболка с принтом”开头。\n2.总字符数含空格控制在47字符以内,不包含符号（.\"\" :）。\n3.只描述印花风格和主题，内容精简。\n4.输出仅为最终标题。","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-1200,624],"id":"1ceaa7b9-465f-411e-9281-3d2fb04a1b41","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[-1136,848],"id":"fa610265-236b-4e79-841b-b2b9a4a41e26","name":"DeepSeek Chat Model","credentials":{"deepSeekApi":{"id":"SqCQclW6xyEDnzHA","name":"DeepSeek account"}}},{"parameters":{"jsCode":" \n// 从上一个节点获取二进制图片数据\nconst imageBinary =$input.first().binary.data;\n\nif (!imageBinary) {\n  throw new Error(\"没有获取到图片数据，请检查上一个节点的配置\");\n}\n\n// 获取图片MIME类型\nconst mimeType = imageBinary.mimeType || 'image/jpeg';\n// 将二进制数据转换为Base64\nconst base64Image = imageBinary.data.toString('base64'); \n\n\n\n\n// 创建符合Qwen API要求的请求体\nconst requestBody ={\n  \"model\": \"qwen-vl-plus-2025-08-15\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": `data:${mimeType};base64,${base64Image}`\n          }\n        },\n        {\n          \"type\": \"text\",\n          \"text\": \"请用一句话描述这张T恤印花的核心要素：1.图案是什么？（主体）。1.是什么风格？（风格）。2.看起来怎么样？（氛围/感觉）。请用中文直接回答，无需客套话。\"\n        }\n      ]\n    }\n  ]\n};\n\nreturn {\n  json: {\n    qwenRequest: requestBody,\n    imageMimeType: mimeType\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1648,624],"id":"07a55621-61d7-4a54-8cca-25c8e53f7647","name":"Code4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"da966847-99ab-449d-83a5-45eed8f3aeaa","leftValue":"={{ $json.mimeType }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1872,624],"id":"e361c3e6-e99b-48bd-8ed5-b4ab242a0552","name":"If5","notes":"判断是否有图片"},{"parameters":{"content":"## 根据图片生成标题\n","height":400,"width":1280},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2176,592],"id":"1385cbd3-9041-4ba5-b0dc-518c37709af2","name":"Sticky Note2"},{"parameters":{"operation":"write","fileName":"D:/WB/WB-n8n-add2.xlsx","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[720,496],"id":"879f8452-bb34-4f6b-9fa7-d351c348ef1a","name":"WB-n8n-add2"},{"parameters":{"fileSelector":"=D:/WB/WB-n8n-add2.xlsx","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-176,496],"id":"9a5b3d76-7365-4aa3-8b60-37a625fc73d1","name":"WB-n8n-add"},{"parameters":{"method":"POST","url":"=https://content-api.wildberries.ru/content/v2/get/cards/list","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locale","value":"zh"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.toJsonString() }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2544,496],"id":"3c7b9bc0-d585-4a8d-8839-e74b15814d45","name":"产品卡列表","retryOnFail":true,"maxTries":5,"credentials":{"httpHeaderAuth":{"id":"L4xHgcM0mmpkUewp","name":"CNWB04"}}},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst data = {\n  \"settings\": {\n    \"sort\": {\n      \"ascending\": false\n    },\n    \"filter\": {  \n      \"textSearch\": $input.first().json.SKU,\n      \"withPhoto\": 0\n    },\n    \"cursor\": {   \n      \"limit\": 100\n    }\n  }\n}\n\nreturn data;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2768,496],"id":"f63e4018-e772-45a2-a595-012c7a06a356","name":"Code12"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"08a443b0-25e5-421e-81a7-ed5d4190567f","leftValue":"={{ $json.cursor.total }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2320,496],"id":"7c1ce4b4-4334-448f-88ee-583516a61795","name":"If1"},{"parameters":{"content":"## 查重复\n","height":320,"width":580},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2784,336],"id":"4d356bea-dd65-4a57-85bb-aec57f133c92","name":"Sticky Note3"},{"parameters":{"method":"POST","url":"https://content-api.wildberries.ru/content/v2/cards/upload","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"=[{{ $json.toJsonString() }}]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-400,624],"id":"54dee77d-aacd-4ae3-b35a-4295b8f197b6","name":"添加产品","retryOnFail":false,"alwaysOutputData":false,"executeOnce":false,"credentials":{"httpHeaderAuth":{"id":"L4xHgcM0mmpkUewp","name":"CNWB04"}},"onError":"continueRegularOutput"}],"connections":{"When clicking \"Test workflow\"":{"main":[[{"node":"基础数据","type":"main","index":0}]]},"基础数据":{"main":[[{"node":"验证指令","type":"main","index":0}]]},"验证指令":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"准备添加的","type":"main","index":0}]]},"Code1":{"main":[[{"node":"If","type":"main","index":0}]]},"Loop Over Items2":{"main":[[],[{"node":"Code12","type":"main","index":0}]]},"Code6":{"main":[[{"node":"添加产品","type":"main","index":0}]]},"获取条形码":{"main":[[{"node":"Code6","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"WB-n8n-add2","type":"main","index":0}]]},"已经修改的数据2":{"main":[[{"node":"Code10","type":"main","index":0}]]},"Code10":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Add":{"main":[[{"node":"已经添加的","type":"main","index":0}]]},"Add2":{"main":[[{"node":"Code1","type":"main","index":0}]]},"准备添加的":{"main":[[{"node":"Add","type":"main","index":0}]]},"已经添加的":{"main":[[{"node":"Add2","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}],[]]},"读取图片":{"main":[[{"node":"If5","type":"main","index":0}]]},"Qwen-VL-Plus 视觉问答":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"获取条形码","type":"main","index":0}]]},"DeepSeek Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Code4":{"main":[[{"node":"Qwen-VL-Plus 视觉问答","type":"main","index":0}]]},"If5":{"main":[[{"node":"Code4","type":"main","index":0}]]},"WB-n8n-add2":{"main":[[{"node":"Wait","type":"main","index":0}]]},"WB-n8n-add":{"main":[[{"node":"已经修改的数据2","type":"main","index":0}]]},"Code12":{"main":[[{"node":"产品卡列表","type":"main","index":0}]]},"产品卡列表":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"WB-n8n-add","type":"main","index":0}],[{"node":"读取图片","type":"main","index":0}]]},"添加产品":{"main":[[{"node":"WB-n8n-add","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"none","saveDataSuccessExecution":"none","saveExecutionProgress":false,"saveManualExecutions":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"84a5a8b1-4a48-42db-93ae-5ba42c07c2f4","triggerCount":0,"shared":[{"createdAt":"2025-09-08T07:58:10.578Z","updatedAt":"2025-09-08T07:58:10.578Z","role":"workflow:owner","workflowId":"kvILh7e5ahE4mLC7","projectId":"EZ8bcuL9uFigLvTh"}],"tags":[]}