workflows/WB04-修改原始标题.json
{"createdAt":"2025-09-19T10:07:16.345Z","updatedAt":"2025-10-09T08:33:49.000Z","id":"mD0NnmzgZaaTD1ss","name":"WB04-修改原始标题","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-3984,784],"id":"596f85ee-f47a-4667-8765-5bbc3a335100","name":"When clicking ‘Execute workflow’"},{"parameters":{"jsCode":" \nconst data = {\n  nmID :$('产品卡列表1').first().json.cursor.nmID,\n  updatedAt:$('产品卡列表1').first().json.cursor.updatedAt\n}\nreturn {data};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2416,592],"id":"51013386-3f68-4500-82dd-2a2f02035e43","name":"Code6"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2e0b9127-5139-464c-8476-f4eb9511d8a3","leftValue":"={{ $json.cursor.total }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3312,656],"id":"e9f57015-2611-4acf-b10d-63b0cd2f6632","name":"If3"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2640,752],"id":"adc84aab-d4ed-4c8d-9d04-5c0a62fcbff5","name":"Loop Over Items1"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-720,848],"id":"b70db0e7-3eb7-4c7f-97e6-3741268e762b","name":"Wait2","webhookId":"b87d11c7-a179-479d-bbeb-189e766a5eaa"},{"parameters":{"method":"POST","url":"=https://content-api.wildberries.ru/content/v2/get/cards/list","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locale","value":"zh"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.toJsonString() }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3536,656],"id":"6b97c9e8-c598-41ab-a8ac-4b8e14801bce","name":"产品卡列表1","retryOnFail":true,"maxTries":5,"credentials":{"httpHeaderAuth":{"id":"L4xHgcM0mmpkUewp","name":"CNWB04"}}},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst data = {\n  \"settings\": {\n    \"sort\": {\n      \"ascending\": false\n    },\n    \"filter\": {  \n      \"withPhoto\": 1,\n      \"objectIDs\": [192]\n    },\n    \"cursor\": {   \n      \"limit\": 100\n    }\n  }\n}\n  \nif ($input.first().json.data) {\n  data.settings.cursor.nmId=$input.first().json.data.nmID\n  data.settings.cursor.updatedAt=$input.first().json.data.updatedAt\n}\n\nreturn data;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3760,784],"id":"8d140c14-d009-404d-a633-d471693b5f1d","name":"Code1","notes":"0 — 仅显示无照片的卡片 \n1 — 仅显示有照片的卡片 \n-1 — 所有卡片  -1 — all cards"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst data = []\nfor (const item of $input.first().json.cards) { \n  if (item.title==\"Футболка с принтом оверсайз\" ||item.title==\"Футболка с круглым вырезом\" ) {\n    data.push(item)\n  }\n}\n\nreturn data;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3088,656],"id":"64daeb20-a8a4-4235-9206-1d124baa94d0","name":"Code in JavaScript","alwaysOutputData":true},{"parameters":{"jsCode":" const output = $input.first().json.output\n\n$('Loop Over Items1').first().json.title=output.length<58? output:\"Футболка с принтом оверсайз\"\n\nreturn $('Loop Over Items1').first();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1168,608],"id":"538fd6fc-97f2-4849-8c4e-0923347ed20f","name":"Code"},{"parameters":{"jsCode":" \n// 从上一个节点获取二进制图片数据\nconst imageBinary =$input.first().binary.data;\n\nif (!imageBinary) {\n  throw new Error(\"没有获取到图片数据，请检查上一个节点的配置\");\n}\n\n// 获取图片MIME类型\nconst mimeType = imageBinary.mimeType || 'image/jpeg';\n// 将二进制数据转换为Base64\nconst base64Image = imageBinary.data.toString('base64'); \n\n\n\n\n// 创建符合Qwen API要求的请求体\nconst requestBody ={\n  \"model\": \"qwen-vl-plus-2025-08-15\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": `data:${mimeType};base64,${base64Image}`\n          }\n        },\n        {\n          \"type\": \"text\",\n          \"text\": \"请分析并描述该印花图案的整体艺术风格。识别图片中印花的风格类型（例如：民族风、波普、巴洛克等）。输出内容简单明了控制在300字以下\"\n        }\n      ]\n    }\n  ]\n};\n\nreturn {\n  json: {\n    qwenRequest: requestBody,\n    imageMimeType: mimeType\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1968,608],"id":"4a98e2b3-fc6f-467e-9394-881158bcca5f","name":"Code3"},{"parameters":{"method":"POST","url":"https://dashscope.aliyuncs.com/compatible-mode/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer sk-5b4a20c638064a11af987b370268149e"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.qwenRequest.toJsonString() }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1744,608],"id":"8bedf01f-f70a-48d8-b331-8a0574f8dee9","name":"Qwen-VL-Plus 视觉问答1"},{"parameters":{"method":"POST","url":"https://content-api.wildberries.ru/content/v2/cards/update","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"=[{{ $json.toJsonString() }}]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-944,608],"id":"10a56af7-2158-47be-8c7e-b756e4f1c8ab","name":"修改商品卡1","credentials":{"httpHeaderAuth":{"id":"L4xHgcM0mmpkUewp","name":"CNWB04"}}},{"parameters":{"promptType":"define","text":"=指令：\n根据以下图片分析，生成一个俄语商品标题。\n分析结果： {{ $json.choices[0].message.content }}\n标题要求：\n以“Футболка с принтом”开头，不包含图案中的任何文字内容，总长度包含空格严格控制在50个字符内，不带符号。只需输出最终标题。\n\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-1520,496],"id":"b425a65c-6a7b-4aee-a3c7-a8e973b30255","name":"AI Agent1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[-1456,720],"id":"00d590f0-9294-418b-b765-cdc0e6e485d5","name":"DeepSeek Chat Model1","credentials":{"deepSeekApi":{"id":"SqCQclW6xyEDnzHA","name":"DeepSeek account"}}},{"parameters":{"fileSelector":"=D:/WB/image/{{ $json.vendorCode }}.png","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-2416,784],"id":"737563c3-fa76-46ca-ab14-f83607791317","name":"读取图片1","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"da966847-99ab-449d-83a5-45eed8f3aeaa","leftValue":"={{ $json.mimeType }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2192,784],"id":"e958372c-99b5-4f10-bc2a-a6d9bd03e8b6","name":"If2","notes":"判断是否有图片"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f3993256-7381-410d-b33f-3ffb2d04f4c8","leftValue":"={{ $json.vendorCode }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2864,656],"id":"f4647e12-9de4-4296-906e-5f352443abf2","name":"If"},{"parameters":{"operation":"xlsx","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-1168,896],"id":"43234e9d-63b3-40cb-a660-a5a2c7910896","name":"Convert to File1"},{"parameters":{"operation":"xlsx","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-1744,896],"id":"b5bb8acb-ea0e-4e91-a5b8-f2a15d80b83c","name":"已经修改的数据2","alwaysOutputData":true},{"parameters":{"jsCode":" \nconst skuID=  [\n { SKU: $('Loop Over Items1').first().json.SKU,}\n  \n];\n// 获取前序节点的数据\nconst inputData = [];\nfor (const element of $input.all()) {\n  inputData.push(element.json)\n}\n \n// 合并对象\nconst mergedObj = [...inputData, ...skuID];\n\nconsole.log(mergedObj)\n// 返回合并后的对象\nreturn mergedObj;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1456,896],"id":"f77abc7c-eb21-4118-bec3-4cbb2c2d458e","name":"Code10"},{"parameters":{"fileSelector":"=D:/WB/img-title.xlsx","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-1968,896],"id":"8f8c0b26-357e-465b-b6e2-0e5098622cf7","name":"img-title"},{"parameters":{"operation":"write","fileName":"D:/WB/img-title.xlsx","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-944,896],"id":"95e53e07-2854-4a95-80d7-9fba288e9ca9","name":"img-title2"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code6":{"main":[[{"node":"Code1","type":"main","index":0}]]},"If3":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Code6","type":"main","index":0}],[{"node":"读取图片1","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"产品卡列表1":{"main":[[{"node":"If3","type":"main","index":0}]]},"Code1":{"main":[[{"node":"产品卡列表1","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"If","type":"main","index":0}]]},"Code":{"main":[[{"node":"修改商品卡1","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Qwen-VL-Plus 视觉问答1","type":"main","index":0}]]},"Qwen-VL-Plus 视觉问答1":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Code","type":"main","index":0}]]},"修改商品卡1":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"DeepSeek Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"读取图片1":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"Code3","type":"main","index":0}],[{"node":"img-title","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}],[{"node":"Code6","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"img-title2","type":"main","index":0}]]},"已经修改的数据2":{"main":[[{"node":"Code10","type":"main","index":0}]]},"Code10":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"img-title":{"main":[[{"node":"已经修改的数据2","type":"main","index":0}]]},"img-title2":{"main":[[{"node":"Wait2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8eea8bad-4e64-4270-8b75-9d8b379b40c1","triggerCount":0,"shared":[{"createdAt":"2025-09-19T10:07:16.350Z","updatedAt":"2025-09-19T10:07:16.350Z","role":"workflow:owner","workflowId":"mD0NnmzgZaaTD1ss","projectId":"EZ8bcuL9uFigLvTh"}],"tags":[]}