workflows/WB04-修改产品信息.json
{"createdAt":"2025-09-27T02:36:36.083Z","updatedAt":"2025-09-27T07:45:25.000Z","id":"UN0TN8tF959mbSiU","name":"WB04-修改产品信息","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-3984,720],"id":"96efdab5-afac-4cf6-bec2-5a92acfa37c1","name":"When clicking ‘Execute workflow’"},{"parameters":{"jsCode":" \nconst data = {\n  nmID :$('产品卡列表1').first().json.cursor.nmID,\n  updatedAt:$('产品卡列表1').first().json.cursor.updatedAt\n}\nreturn {data};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2416,496],"id":"3c8e4656-fbfa-45e7-ad48-60e82f3985a6","name":"Code6"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2e0b9127-5139-464c-8476-f4eb9511d8a3","leftValue":"={{ $json.cursor.total }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3312,592],"id":"6ea96301-a639-41c1-a5b9-d16f83e46559","name":"If3"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2640,688],"id":"f2d91b22-eb2b-4ffe-b3d3-71137d3790e2","name":"Loop Over Items1"},{"parameters":{"amount":4},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1968,816],"id":"9c8b7fc9-c956-4337-b2a4-b60064ff9699","name":"Wait2","webhookId":"3710e44f-3505-478d-8a1a-49de217feaae"},{"parameters":{"method":"POST","url":"=https://content-api.wildberries.ru/content/v2/get/cards/list","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locale","value":"zh"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.toJsonString() }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3536,592],"id":"fdb6ee87-a181-4700-a4e2-43d45d291b4a","name":"产品卡列表1","retryOnFail":true,"maxTries":5,"credentials":{"httpHeaderAuth":{"id":"L4xHgcM0mmpkUewp","name":"CNWB04"}}},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst data = {\n  \"settings\": {\n    \"sort\": {\n      \"ascending\": false\n    },\n    \"filter\": {  \n      // \"textSearch\": \"S5250924ew3\",\n      \"withPhoto\": 1,\n      \"objectIDs\": [192]\n    },\n    \"cursor\": {   \n      \"limit\": 100\n    }\n  }\n}\n  \nif ($input.first().json.data) {\n  data.settings.cursor.nmId=$input.first().json.data.nmID\n  data.settings.cursor.updatedAt=$input.first().json.data.updatedAt\n}\n\nreturn data;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3760,720],"id":"41dfccf7-cb62-4025-9174-bdbe0c9c530f","name":"Code1","notes":"0 — 仅显示无照片的卡片 \n1 — 仅显示有照片的卡片 \n-1 — 所有卡片  -1 — all cards"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst data = []\nfor (const item of $input.first().json.cards) { \n  \nif (!JSON.stringify(item.characteristics).includes(\"печатный рисунок\")) {   \n    data.push(item) \n  }\n}\n\nreturn data;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3072,512],"id":"82473a2c-c4b7-47a6-bb91-57e29ba92c54","name":"Code in JavaScript","alwaysOutputData":true},{"parameters":{"jsCode":" const output = $input.first().json;\noutput.sizeChartID=74168;\noutput.sizeChartName= \"尺寸表 2\";\nconst characteristics = [\n  {\n    \"id\": 12,\n    \"name\": \"图画\",\n    \"value\": [\n      \"печатный рисунок\"\n    ]\n  },\n  {\n    \"id\": 378533,\n    \"name\": \"配套\",\n    \"value\": [\n      \"Футболка с круглым вырезом- 1 шт.\"\n    ]\n  },\n  {\n    \"id\": 6,\n    \"name\": \"领口\",\n    \"value\": [\n      \"круглый\"\n    ]\n  },\n  {\n    \"id\": 48,\n    \"name\": \"口袋类型\",\n    \"value\": [\n      \"без кармановбез карманов\"\n    ]\n  },\n  {\n    \"id\": 11,\n    \"name\": \"风格\",\n    \"value\": [\n      \"оверсайз\"\n    ]\n  },\n  {\n    \"id\": 11892,\n    \"name\": \"物品保养\",\n    \"value\": [\n      \"стирка при t не более 40°C\",\n      \"гладить при t не более 130°C\"\n    ]\n  },\n  {\n    \"id\": 23771,\n    \"name\": \"模型特点\",\n    \"value\": [\n      \"дышащий материал\",\n      \"гипоаллергенный материал\",\n      \"унисекс\"\n    ]\n  },\n  {\n    \"id\": 14177450,\n    \"name\": \"组成\",\n    \"value\": [\n      \"хлопок\"\n    ]\n  }\n]\n\noutput.characteristics.push(...characteristics)\nreturn output;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2416,688],"id":"78d8cef5-591f-418b-886e-4a381fe27ea4","name":"Code"},{"parameters":{"method":"POST","url":"https://content-api.wildberries.ru/content/v2/cards/update","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"=[{{ $json.toJsonString() }}]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2192,688],"id":"ca2cf98a-0bda-4410-ad3d-e64a0b0f7c54","name":"修改商品卡1","retryOnFail":false,"credentials":{"httpHeaderAuth":{"id":"L4xHgcM0mmpkUewp","name":"CNWB04"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f3993256-7381-410d-b33f-3ffb2d04f4c8","leftValue":"={{ $json.vendorCode }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2864,592],"id":"1a1b7ab1-e265-4158-ba3b-2e856128256a","name":"If"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code6":{"main":[[{"node":"Code1","type":"main","index":0}]]},"If3":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Code6","type":"main","index":0}],[{"node":"Code","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"产品卡列表1":{"main":[[{"node":"If3","type":"main","index":0}]]},"Code1":{"main":[[{"node":"产品卡列表1","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"If","type":"main","index":0}]]},"Code":{"main":[[{"node":"修改商品卡1","type":"main","index":0}]]},"修改商品卡1":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}],[{"node":"Code6","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ab7e53c5-1501-4a95-aabb-0b5821d9916e","triggerCount":0,"shared":[{"createdAt":"2025-09-27T02:36:36.088Z","updatedAt":"2025-09-27T02:36:36.088Z","role":"workflow:owner","workflowId":"UN0TN8tF959mbSiU","projectId":"EZ8bcuL9uFigLvTh"}],"tags":[]}