workflows/把工作流备份到git.json
{"createdAt":"2025-10-08T16:59:46.501Z","updatedAt":"2025-10-08T17:37:05.000Z","id":"wpu4UlGwsa7ae0Pb","name":"把工作流备份到git","active":true,"isArchived":false,"nodes":[{"parameters":{},"id":"b803eb2d-91e6-4120-ab25-e830070b0979","name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[208,128],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"8d513345-6484-431f-afb7-7cf045c90f4f","name":"Done","type":"boolean","value":true}]},"options":{}},"id":"6015b3a2-4607-493a-a585-6bc5512f955c","name":"Return","type":"n8n-nodes-base.set","position":[1760,1168],"typeVersion":3.3},{"parameters":{"url":"={{ $json.download_url }}","options":{}},"id":"77e4d13d-7dbf-4919-948b-ee27e3713439","name":"Get File","type":"n8n-nodes-base.httpRequest","position":[880,640],"typeVersion":4.2},{"parameters":{"conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"45ce825e-9fa6-430c-8931-9aaf22c42585","operator":{"type":"string","operation":"empty","singleValue":true},"leftValue":"={{ $json.content }}","rightValue":""},{"id":"9619a55f-7fb1-4f24-b1a7-7aeb82365806","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}]},"options":{}},"id":"bbfb17c6-2766-4ab2-ac4f-530823cdd768","name":"If file too large","type":"n8n-nodes-base.if","position":[656,656],"typeVersion":2},{"parameters":{"jsCode":"const orderJsonKeys = (jsonObj) => {\n  const ordered = {};\n  Object.keys(jsonObj).sort().forEach(key => {\n    ordered[key] = jsonObj[key];\n  });\n  return ordered;\n}\n\n// Check if file returned with content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Decode base64 content and parse JSON\n  const origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64').toString());\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n// No file returned / new workflow\n} else if (Object.keys($input.all()[0].json).includes(\"data\")) {\n  const origWorkflow = JSON.parse($input.all()[0].json.data);\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n\n} else {\n  // Order JSON object\n  const n8nWorkflow = $input.all()[1].json;\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n  \n  // Proper formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return items\nreturn $input.all();"},"id":"d7830726-910f-49ad-aeb6-1f1fc1fc4b27","name":"isDiffOrNew","type":"n8n-nodes-base.code","position":[880,912],"typeVersion":1},{"parameters":{},"id":"495432a7-dfc3-477d-85bf-bea947abb36f","name":"Same file - Do nothing","type":"n8n-nodes-base.noOp","position":[1312,1088],"typeVersion":1},{"parameters":{},"id":"a131cbaa-960d-41cf-9609-440b7dec9cfd","name":"File is different","type":"n8n-nodes-base.noOp","position":[1312,912],"typeVersion":1},{"parameters":{},"id":"4d3490eb-5ae0-4231-9fae-16f1f0551a52","name":"File is new","type":"n8n-nodes-base.noOp","position":[1312,736],"typeVersion":1},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"mode":"name","value":"={{ $('Switch').item.json.repo.owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Switch').item.json.repo.name }}"},"filePath":"={{$('Switch').first().json.id}}.json","fileContent":"={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}","commitMessage":"={{$('Switch').first().json.name}} ({{$json.github_status}})"},"id":"2c90e26b-951f-4b73-97a7-9b90eeee168b","name":"Create new file","type":"n8n-nodes-base.github","position":[1536,736],"webhookId":"93cca36a-a5f4-4919-b655-e0fa2cc2ca36","typeVersion":1,"credentials":{"githubOAuth2Api":{"id":"EAaPqiVyXgIs8Gv1","name":"GitHub account"}}},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"mode":"name","value":"={{ $('Switch').item.json.repo.owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Switch').item.json.repo.name }}"},"filePath":"={{$('Switch').first().json.id}}.json","fileContent":"={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}","commitMessage":"={{$('Switch').first().json.name}} ({{$json.github_status}})"},"id":"c8519608-3015-4097-9905-2e40df3ef19d","name":"Edit existing file","type":"n8n-nodes-base.github","position":[1536,912],"webhookId":"286cabce-a3ec-4202-9d94-d005502d73cc","typeVersion":1,"credentials":{"githubOAuth2Api":{"id":"EAaPqiVyXgIs8Gv1","name":"GitHub account"}}},{"parameters":{"options":{"reset":"={{ $node[\"Loop Over Items\"].context[\"done\"] }}"}},"id":"78904cbc-9e97-4250-8949-4453b9d6f5dd","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[1536,240],"typeVersion":3},{"parameters":{"rule":{"interval":[{"triggerAtHour":7}]}},"id":"3205305b-5f00-4a75-8a43-3ac7af10aa00","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[208,336],"typeVersion":1.2},{"parameters":{"content":"## 备份至 GitHub  \n该工作流会将所有实例工作流备份至GitHub，同时若工作流在n8n中被删除，也会同步删除GitHub上的备份文件。\n\n备份文件将以`ID.json`格式命名。\n\n### 设置步骤  \n打开`全局参数`节点并更新以下值 👇  \n\n- **repo.owner:** 你的GitHub用户名  \n- **repo.name:** 你的代码仓库名称  \n\n例如：  \n若你的用户名为`john-doe`，仓库名为`n8n-backups`：  \n\n- repo.owner - john-doe  \n- repo.name - n8n-backups  \n\n该工作流通过调用子工作流的方式实现递归操作，以降低内存占用。","height":601,"width":371,"color":4},"id":"8e20775a-3da6-4eb9-bbfa-a827023ea21f","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-256,-32],"typeVersion":1},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"get","owner":{"__rl":true,"mode":"name","value":"={{ $json.repo.owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $json.repo.name }}"},"filePath":"={{ $('Switch').item.json.id }}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"ccbf8f2c-2ed4-4b52-a7de-97502ee86279","name":"Get file data","type":"n8n-nodes-base.github","position":[432,656],"webhookId":"5cf07ee9-70c6-48bf-b370-534315f2d48e","typeVersion":1,"alwaysOutputData":true,"credentials":{"githubOAuth2Api":{"id":"EAaPqiVyXgIs8Gv1","name":"GitHub account"}},"continueOnFail":true},{"parameters":{"inputSource":"passthrough"},"id":"42867938-2c02-4cc5-8a29-23ae839995e6","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-160,1040],"typeVersion":1.1},{"parameters":{"assignments":{"assignments":[{"id":"6cf546c5-5737-4dbd-851b-17d68e0a3780","name":"repo.owner","type":"string","value":"Hup"},{"id":"452efa28-2dc6-4ea3-a7a2-c35d100d0382","name":"repo.name","type":"string","value":"n8n-backup"}]},"options":{}},"id":"493e2f4a-1b0e-4d45-85b4-1d0f3c51d5a3","name":"Globals","type":"n8n-nodes-base.set","position":[432,240],"typeVersion":3.4},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"mode":"name","value":"={{ $('Globals').item.json.repo.owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Globals').item.json.repo.name }}"}},"id":"38b4d15d-4315-4fdf-89ee-133a1906a4fc","name":"List files","type":"n8n-nodes-base.github","position":[1088,336],"webhookId":"244ea8da-851f-4afb-980c-5e5973b6a1af","executeOnce":true,"typeVersion":1.1,"credentials":{"githubApi":{"id":"pEyUlC4vwN00Fi4a","name":"GitHub account 2"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"8f6b31b0-a75c-4299-a530-d15b3ff65c9a","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.origin }}","rightValue":"n8n"}]},"renameOutput":true,"outputKey":"n8n"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"09e36861-1120-4343-8d38-4797e9d67eec","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.origin }}","rightValue":"github"}]},"renameOutput":true,"outputKey":"github"}]},"options":{}},"id":"50a8e3cc-bafd-4fed-9d15-cafb935e399b","name":"Switch","type":"n8n-nodes-base.switch","position":[80,1040],"typeVersion":3.2},{"parameters":{"filters":{},"requestOptions":{"allowUnauthorizedCerts":true}},"id":"892345b6-6a9c-416e-95d4-58ce6052bd35","name":"Get many workflows","type":"n8n-nodes-base.n8n","position":[656,240],"typeVersion":1,"credentials":{"n8nApi":{"id":"FXaHUhmXl9CwP6Ok","name":"n8n account"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"684e89f4-a1aa-4f86-ab7f-b02e828259df","name":"Workflows","type":"n8n-nodes-base.aggregate","position":[880,336],"typeVersion":1},{"parameters":{},"id":"26234daa-ab60-45a4-aef9-b7cb12489a00","name":"Merge","type":"n8n-nodes-base.merge","position":[656,912],"typeVersion":3.2},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"aea200f9-9f83-4e4e-a965-65fddcbb6a5f","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{$json.github_status}}","rightValue":"new"}]},"renameOutput":true,"outputKey":"new"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"706ebf35-6f74-43b6-9f98-94cf14107947","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{$json.github_status}}","rightValue":"different"}]},"renameOutput":true,"outputKey":"different"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"30c8c5a8-269f-424a-93ed-d2cbe52acf7c","operator":{"type":"string","operation":"equals"},"leftValue":"={{$json.github_status}}","rightValue":"same"}]},"renameOutput":true,"outputKey":"same"}]},"options":{}},"id":"e703e318-6549-48c1-8d09-250ac6e53786","name":"Check Status","type":"n8n-nodes-base.switch","position":[1088,912],"typeVersion":3.2},{"parameters":{"jsCode":"const workflows = $input.first().json.workflows;\n\nconst some = workflows.some(x => x.id === $input.first().json.name.split(\".\")[0])\n\nreturn [{json: { isDeleted: !some }}];"},"id":"cb2b47b1-da00-4000-800b-316643812db2","name":"isDeleted","type":"n8n-nodes-base.code","position":[880,1232],"typeVersion":2},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"delete","owner":{"__rl":true,"mode":"name","value":"={{ $('Switch').item.json.repo.owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Switch').item.json.repo.name }}"},"filePath":"={{$('Switch').first().json.name}}","commitMessage":"={{$('Switch').first().json.name}} (deleted)"},"id":"ba48b76b-2cc5-4338-8216-257ef860bc42","name":"Delete a file","type":"n8n-nodes-base.github","position":[1536,1360],"webhookId":"592f888e-3e41-49ce-b88a-d73f8756eac8","typeVersion":1.1,"credentials":{"githubOAuth2Api":{"id":"EAaPqiVyXgIs8Gv1","name":"GitHub account"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"bb927e0c-f27b-4dce-80df-8d7611467045","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.isDeleted }}","rightValue":""}]},"options":{}},"id":"308e22ef-2745-4aed-b5ce-ef22078dfa61","name":"If","type":"n8n-nodes-base.if","position":[1088,1232],"typeVersion":2.2},{"parameters":{"assignments":{"assignments":[{"id":"5e73d2e7-4b1a-4180-8af2-047e52eb8a0a","name":"repo.owner","type":"string","value":"={{ $('Globals').item.json.repo.owner }}"},{"id":"22445c28-5431-45a5-86ca-0ab2ff26cff5","name":"repo.name","type":"string","value":"={{ $('Globals').item.json.repo.name }}"},{"id":"232d9947-a43f-48a9-b385-da1aa8f5139e","name":"origin","type":"string","value":"n8n"}]},"includeOtherFields":true,"options":{}},"id":"8a891314-899d-48da-be37-987fed156daf","name":"n8n","type":"n8n-nodes-base.set","position":[1312,128],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"5e73d2e7-4b1a-4180-8af2-047e52eb8a0a","name":"repo.owner","type":"string","value":"={{ $('Globals').item.json.repo.owner }}"},{"id":"22445c28-5431-45a5-86ca-0ab2ff26cff5","name":"repo.name","type":"string","value":"={{ $('Globals').item.json.repo.name }}"},{"id":"232d9947-a43f-48a9-b385-da1aa8f5139e","name":"origin","type":"string","value":"github"},{"id":"456ec816-8c15-498b-bbc5-a96abce95d59","name":"workflows","type":"array","value":"={{ $('Workflows').item.json.data }}"}]},"includeOtherFields":true,"options":{}},"id":"9566a61e-90a8-43da-afcd-8fe1b6643faa","name":"github","type":"n8n-nodes-base.set","position":[1312,336],"typeVersion":3.4},{"parameters":{"content":"## Edit this node 👇","height":80,"width":150,"color":4},"id":"8d6334a5-152d-4c36-9b33-253d42710fec","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[416,96],"typeVersion":1},{"parameters":{"content":"## Main workflow loop","height":601,"width":1831,"color":7},"id":"960a66dc-6eab-48fb-966f-b677b4c16532","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[128,-32],"typeVersion":1},{"parameters":{"content":"## Subworkflow","height":941,"width":2231,"color":6},"id":"c52a007a-a0c0-4572-8d93-9211706745d3","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-272,592],"typeVersion":1},{"parameters":{"workflowId":{"__rl":true,"value":"wpu4UlGwsa7ae0Pb","mode":"list","cachedResultUrl":"/workflow/wpu4UlGwsa7ae0Pb","cachedResultName":"把工作流备份到git"},"workflowInputs":{"mappingMode":"defineBelow","value":{}},"mode":"each","options":{}},"id":"cd9cd02b-7493-4803-9366-fcd33b5b5ee7","name":"Call '把工作流备份到git'","type":"n8n-nodes-base.executeWorkflow","position":[1760,240],"typeVersion":1.2}],"connections":{"If":{"main":[[{"node":"Delete a file","type":"main","index":0}],[{"node":"Return","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Merge":{"main":[[{"node":"isDiffOrNew","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Get file data","type":"main","index":0},{"node":"Merge","type":"main","index":1}],[{"node":"isDeleted","type":"main","index":0}]]},"github":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Globals":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]},"Get File":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Workflows":{"main":[[{"node":"List files","type":"main","index":0}]]},"isDeleted":{"main":[[{"node":"If","type":"main","index":0}]]},"List files":{"main":[[{"node":"github","type":"main","index":0}]]},"File is new":{"main":[[{"node":"Create new file","type":"main","index":0}]]},"isDiffOrNew":{"main":[[{"node":"Check Status","type":"main","index":0}]]},"Check Status":{"main":[[{"node":"File is new","type":"main","index":0}],[{"node":"File is different","type":"main","index":0}],[{"node":"Same file - Do nothing","type":"main","index":0}]]},"Delete a file":{"main":[[{"node":"Return","type":"main","index":0}]]},"Get file data":{"main":[[{"node":"If file too large","type":"main","index":0}]]},"Create new file":{"main":[[{"node":"Return","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Call '把工作流备份到git'","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Globals","type":"main","index":0}]]},"File is different":{"main":[[{"node":"Edit existing file","type":"main","index":0}]]},"If file too large":{"main":[[{"node":"Get File","type":"main","index":0}],[{"node":"Merge","type":"main","index":0}]]},"Edit existing file":{"main":[[{"node":"Return","type":"main","index":0}]]},"Get many workflows":{"main":[[{"node":"Workflows","type":"main","index":0},{"node":"n8n","type":"main","index":0}]]},"On clicking 'execute'":{"main":[[{"node":"Globals","type":"main","index":0}]]},"Same file - Do nothing":{"main":[[{"node":"Return","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Call '把工作流备份到git'":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0c4c3120-7194-4a5e-be27-fcb4fbf56bf1","triggerCount":1,"shared":[{"createdAt":"2025-10-08T16:59:46.510Z","updatedAt":"2025-10-08T16:59:46.510Z","role":"workflow:owner","workflowId":"wpu4UlGwsa7ae0Pb","projectId":"xHmqnCOXuqzbutmT"}],"tags":[]}